In [362]:
import pandas as pd
import numpy as np
import re

In [363]:
df = pd.read_csv("/Users/santiago/ih-bootcamp/proyectos/project-pandas/GSAF5.csv")

# 1. Explorando la data

In [364]:
df.shape

(5992, 24)

In [365]:
df.head(5)
#df.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [366]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [367]:
# porcentaje de valores nulos por columna
df.columns=df.columns.str.replace(" ", "_")
df.columns=df.columns.str.lower()

In [368]:
nulls=list(zip(df.columns, [sum(df[x].isnull())/len(df[x])*100 for x in df]))

In [369]:
pd.DataFrame(nulls)

                         0          1
0              case_number   0.000000
1                     date   0.000000
2                     year   0.000000
3                     type   0.000000
4                  country   0.717623
5                     area   6.708945
6                 location   8.277704
7                 activity   8.795060
8                     name   3.337784
9                     sex_   9.462617
10                     age  44.742991
11                  injury   0.450601
12             fatal_(y/n)   0.317089
13                    time  53.621495
14                species_  48.965287
15  investigator_or_source   0.250334
16                     pdf   0.000000
17            href_formula   0.016689
18                    href   0.050067
19           case_number.1   0.000000
20           case_number.2   0.000000
21          original_order   0.000000
22             unnamed:_22  99.983311
23             unnamed:_23  99.966622

## trabajando con los valores nulos

### Tirando unnamed:_23 y unnamed:_22

In [370]:
print(df["unnamed:_23"].unique(), df["unnamed:_22"].unique())

[nan 'Teramo' 'change filename'] [nan 'stopped here']

In [371]:
df[df["unnamed:_23"].isnull()!=True]

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4182,1952.07.13,13-Jul-52,1952,Provoked,USA,California,"San Diego, San Diego County",Fishing,"Gerald Howard, on board sportsfishing boat Ter...",M,...,NaN,"L.A. Times, 7/14/1952",1952.07.13-Howard.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.07.13,1952.07.13,1811,NaN,Teramo
5585,1879.03.10,10-Mar-1879,1879,Invalid,AUSTRALIA,New South Wales,Near Sydney,The steamship Bonnie Dundee lost in collision,Cabin boy of the Bonnie Dundee,M,...,NaN,"Star, 3/22/1879",1879.03.10-Bonnie-Dundee.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1879.03.10,1879.03.10,408,NaN,change filename

In [372]:
df[df["unnamed:_22"].isnull()!=True]

,case_number,date,year,type,country,area,location,activity,name,sex_,...,species_,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
1247,2006.06.18,18-Jun-06,2006,Unprovoked,BRAZIL,Pernambuco,"Punta Del Chifre Beach, Olinda",Body boarding,Humberto Pessoa Batista,M,...,NaN,globalsurfnews.com,2006.06.18-Batista.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.06.18,2006.06.18,4746,stopped here,NaN

In [373]:
#al parecer no tienen información relevante las columnas "unnamed:_22" y "unnamed:_23"
df.drop(columns=["unnamed:_22", "unnamed:_23","case_number.1", "case_number.2", "href_formula"], inplace=True)

## investigator_or_source

In [385]:
df.investigator_or_source.nunique()

4752

In [386]:
set(df.investigator_or_source.unique())

{nan,
 'B. Perry, Maui News, 3/18/2009',
 'J. Borg, pp.79-80; L. Taylor (1993), pp.110-111',
 'Newcastle Herald, 5/22/2014',
 'R. Collier, p.122',
 'S. Samuels',
 'H.D. Baldridge, p.128',
 'V.M. Coppleson (1958), pp.77 & 234; A. Sharpe, p.84; J.West, ASAF',
 'The Argus, 11/28/1931; /V.M. Coppleson.Q10. (1933) ',
 'Nova transcript; Hawaii Department of Land and Natural Resources ',
 'Portland Guardian, 12/10/1934',
 'Tampa Tribune, 5/26/1994; Bradenton Herald, 5/26/1994',
 'A.M. Rapson',
 'V.M. Coppleson (1958), p.251; T. Helm, p.212',
 'V.C. Harvey-Grain',
 'Florida Times-Union, 7/28/2010',
 'South African Illustrated News, 3/28/1885',
 'H.D. Baldridge (1994) SAF Case #1602',
 'V.M. Coppleson, pp.51, 81-84 & 234;  A. Sharpe, pp.94-96; H. Edwards, pp.114-115  ',
 'St. Petersburg Times, 2/6/1999',
 'YouTube',
 'New York Times, 6/18/1888',
 'V.M. Coppleson (1958), p.153; T. Helm, p.226; NY Times, 8/3/1941, p.28',
 'Miami Herald,  7/12/1988, p.1B',
 'G.P. Whitley; J. Green, p.32',
 'The Telegraph, 2/9/2015',
 'Portsmouth Herald, 8/23/1969',
 'Feilding Star, 3/6/1886, p.2',
 'G.A. Llano in Airmen Against the Sea, pp.67-68; V.M. Coppleson (1962), p.257; A. Sharpe, pp.43-44; SAF Case #740',
 'L.R. Tibbet, M. Levine, GSAF',
 'C. Creswell, GSAF; J. Hair, p.27',
 'V.M. Coppleson (1958), p.151  ',
 'A.M. Hodgkin',
 'S.W. Baker',
 'The Sun, 7/26/1880',
 'Club of Mozambique',
 'Brisbane Courier, 4/19/1929',
 'Savannah Times, 7/13/1883',
 'D. Miller & R. Collier; R. Collier, pp.24-25; Garrick & L. Schultz, p.19 in Sharks & Survival; P. Gilbert, L. Schultz & S. Springer (1960)',
 'Wilmington MorningStar, 9/5/1995',
 'C. Creswell, GSAF & Search & Rescue diver, New Hanover County; F. Schwartz ',
 'Fort Pierce News,  10/25/1997 & 10/31/1997',
 'Letter from Captain R. G. Rehrer in letter to G.A. Llano in Sharks and Survival, pp.381-382; V.M. Coppleson (1962), p.257',
 'E. Guy, WPBF, 3/26/2014',
 'D. Miller & R. Collier, R. Collier, pp.70-71; J. McCosker & R.N. Lea',
 'Middletown Daily Argus, 10/20/1893',
 'Northern Star, 3/29/1911',
 'The Argus, 4/9/1936',
 'Associated Press, 11/27/2014',
 'Adelaide News, 1/12/1962',
 'C. Creswell, WRAL, 6/27/2015',
 'www.spearfishingsa.co.za',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal Army Medical Corp, p.84 ',
 'The Advertiser, 2/10/1914',
 'R. Collier, A. Brenneka',
 'TC Palm, 4/17/09',
 'V.M. Coppleson (1958), p.194; V.M. Coppleson (1962), p.210',
 'G.P. Whitley;  D. Baldridge, p.162',
 'New York Times, 7/22/1916',
 'Evening Post, 12/2/1914',
 'The News (Adelaide), 4/1/1960',
 'H.D. Baldridge (1994) SAF Case #838',
 'W.H. Greg, p.22',
 'R. Marx, E. Clark; M. Levine, GSAF; Note: Marx says the incident took place in 8/8/1982 or 1983',
 'Orlando Sentinel, 9/20/2001, p.D2; S. Frederick, Daytona Beach News Journal, 9/19/2001, p.1C',
 'Sydney Morning Herald, 2/21/1972 ',
 'NY Times, 9/14/1900',
 'West Australian, 12/25/1888',
 'Daytona Beach Morning Journal, 6/21/1974',
 'J. Moffat; W. Ruderman',
 'Telegraph (Sydney), Mirror (Sydney), Post (Cairns),  11/4/1965; J. Green, p.35',
 'West Australian (Perth), 6/8/1962 ',
 'G. Botha, M. Levine, GSAF ',
 'E. Ritter, GSAF; iwindsurf.co.uk',
 'News 24, 1/15/2012; R. Bonorchis, Bloomberg News, 1/16/2012',
 'The Herald (Port Elizabeth), 3/27/2007',
 'Daily Review, 7/13/1951',
 'S. Petersohn, GSAF; J. Eager; A. Caldwell, Orlando Sentinel, 8/8/2002, p.B1',
 'tbo.com',
 'The Sun, 9/2/1996',
 'C. Moore',
 'H.D. Baldridge (1994), SAF Case #1434',
 'D. Miller & R. Collier; R. Collier, pp.31-32; V.M. Coppleson (1962), p.249; H.D. Baldridge, p.71  ',
 'Northern Territory Times & Gazette, 2/11/1927',
 'M. Levine, GSAF, Possible confusion in press with Huskisson incident',
 'New York Times, 3/20/1943;  Axis submarine losses in WWII',
 'S. Petersohn, GSAF; Orlando Sentinel, 4/19/2002, p.G1; Daytona Beach News Journal, 4/19/2002, p.1C',
 'C. Moorem GSAF',
 'The Argus, 4/9/1855',
 'F. Glenn; Dr. H.C. Yeatman; D. E. Gatch, M.D. ',
 'M. Salem; Y. Sobolev',
 'Local 6 News; Tallahassee Democrat (FL) 4/19/2003; J. Waymer, Florida Today (Melbourne), 4/19/2003 ',
 'D. Davies; A.J. Bass, ORI',
 'J. Borg, p.73; L. Taylor (1993), pp.100-101;  Note:  Date listed as Mar-1956 by V.M. Coppleson (1958), p.260 and 1956 by A. Resciniti, p.53',
 'L. Green in Tavern of the Seas, p.182',
 'Yahoo News Canada, 8/16/2012',
 'S. Petersohn, GSAF; Local 6 News; S. Frederick, Daytona Beach News Journal, 4/28/2003, p.1C; Orlando Sentinel, 4/22/2003, p.B3',
 'A. Sharpe, pp.133-134',
 'V.M. Coppleson (1958), p.179',
 'Courier Mail, 1/2/2016',
 'NY Herald Tribune, 8/27/1931; L. Schultz & M. Malin, p.555',
 'J. Bass & G. Hughes; J. Pelser, M. Levine, GSAF',
 'Poverty Bay Herald, 2/12/1900',
 'Otago Witness, 7/20/1888',
 'G.P. Whitley (1951), p.193; V.M. Coppleson (1958); A. Sharpe, p.83',
 'E. Ritter. GSAF',
 'T.W. Brown, pp.1 -6; H.D. Baldridge, p.196; A. Sharpe, pp76-77; H. Edwards, pp.100 & 108',
 'News 24, 4/19/2012',
 'J. Green, p.36; H. D. Baldridge (1994) SAF Case #1464',
 'T. LaVenture, The GardenIsland.com',
 'Sharksurvivors.com',
 'Daily News, 11/24/1920',
 'The Advertiser, 6/22/1903',
 'Daily Courier, 7/21/1931',
 'Ref: H. Blake, Sixty Years in New Zealand, pp. 112-116 V. M. Coppleson (1962], page 247 ',
 'WESH.com, 9/2/2011',
 'Florida Today, 8/9/2014',
 'Taiwan television',
 'Les Nouvelles Cal�donie, 4/28/2008 & 4/29/2008',
 'Honolulu Advertiser, 12/4/1952; G.H. Balazs & A.K.H. Kam; J. Borg, p.72; L. Taylor (1993), pp.100-101;',
 'J.A. Guthrie, M.D.; Newark Advocate, 5/24/1902;  V.M. Coppleson (1958), p.264',
 'G.A. Llano in Airmen Against the Sea, p.66',
 'Lima Times, 6/13/1895',
 'M. Szpilman, p.139',
 'Western Mail (Perth), 6/27/1919',
 'M. Levine, GSAF; Times of Natal, 3/15/1878 ',
 'Washington Post, 6/24/1916, p.6',
 'J. Bass; M Levine, GSAF',
 'The Age, 1/17/1966, p.1',
 'Channel 9; Northern Territory News, 7/20/2004, p.10 ',
 'J. West; Adelaide Advertiser, 1/20/1975; P. Kemp, GSAF',
 'Maitland Mercury, 11/14/1855',
 'C. Creswell, GSAF; K. Galliard,  Sun News, 9/21/2005',
 'Orlando Sentinel, 7/9/2006',
 'Miami Herald, 5/30/1994; Tampa Tribune; Bradenton Herald, Bradenton Herald, 5/30/1994',
 'R. D. Weeks, GSAF; Dr. C. Foote; The Evening Post, 1/12/1962 ',
 'LA Times, 3/25/1951 ',
 'Sunday Times (Perth), 12/11/1932 ',
 'Brisbane Courier, 7/26/1898',
 'Sydney Morning Herald, 12/6/1979 ',
 'Tuapeka Times, 1/21/1891',
 'The Sun, 7/13/1913  reprinted article from Punta Gorda Herald of 3/31/1907. NOTE: V.M. Coppleson (1962), p.246 lists the location as Punta Gorda, British Honduras',
 'Miami Herald, 9/26/1984, p.2D',
 'H.D. Baldridge (1994), SAF Case #1630',
 'Sydney Daily Telegraph, 1/8/1962 ',
 'P.Owers, Fort Pierce Tribune, 11/7/1992 ',
 'Sydney Morning Herald, 1/23/1936; V.M. Coppleson (1958), pp.107 & 240;  A. Sharpe, p.120; J. West, ASAF',
 'P. M. Lopes, GSAF, 8/22/2004',
 'L. Taylor (1993), pp.102-103',
 'Gettysburg Times, 9/4/1909',
 'The Advertiser, 6/19/2014',
 'The Australian, 3/15/2006',
 'R. Collier & L. Levine, GSAF',
 'L Compagno, GSAF',
 'J. Borg, p.83; G. Ambrose, pp.30-40',
 'SAF Case #1106',
 'WFTV.com',
 'M. Levine, GSAF; Natal Times, 6/4/1852',
 'V.M. Coppleson (1962), p.206',
 'B. Jordan & A. Ferreira, Times Live, 12/21/2009',
 'A. Brenneka, Shark Attack Survivors, M. Adams',
 'G. Duncan',
 'S. Petersohn;            M. Johnson, Daytona Beach News-Journal, 9/3/2010',
 'Washington Star, 12/12/1891',
 'Seychelles Forum',
 'Evening Post, 6/8/1912',
 'J. Borg, p.76; L. Taylor (1993), pp.106-107; Orlando Sentinel, 10/14/1985, p.A6',
 'H.D.Baldridge (1994) SAF Case #1537',
 'R.N. Lea & D. Miller; Herder, p. 1-3; R. Collier, pp.89-91; A. MacCormick, pp.80-81',
 'G.P. Whitley, citng R.S.M.A.C.',
 'Enquirer & News (Battle Creek, MI), 5/14/1962; L. Schultz & M. Malin, p.562',
 'Daytona Beach News-Journal, 8/7/2010',
 'J. Steel (1989)',
 'WAVY-TV10-News',
 'Cairns Post, 3/28/1924',
 'G. H. Balazs & A. H. Kam; V.M. Coppleson (1958), p.250; J. Borg, p.69; L. Taylor (1993), pp. 94-95',
 'F. Dennis, p.20',
 'Sunshine Coast Daily, 5/4/2006',
 'The Age, 11/04/1957',
 'Sydney Morning Herald, 9/17/1900',
 'M. Levine, GSAF; W. Pople, G. Charter, B. Davis, NSB; T. Wallett, p.60',
 'L. Taylor (1993), pp.114-115; Orlando Sentinel, 12/25/1992, p.A20',
 'S. Petersohn, GSAF; D. Brannon; M.I. Johnson, Daytona Beach News Journal, 6/3/2000, p.1C',
 'NY Times, 10/12/1855',
 'D. Miller & R. Collier, R. Collier, pp.48-50; Evening Tribune (San Diego) 7/17/1972; H.D. Baldridge, p.78; J. McCosker & R.N. Lea ',
 'Brisbane Courier, 1/24/1882',
 'Internet report',
 'V.M. Coppleson (1958), p.182; G.P. Whitley ',
 'Sun Star, 11/08/2008',
 'V.M. Coppleson (1958), pp.95 & 240',
 'D. Davies, Daily Dispatch (East London), 1/24/1964 M. Levine, GSAF',
 'R.D. Weeks, GSAF, p.303; G. Van Grevelynghe',
 'Manila Daily Bulletin 6/6/1960; V.M. Coppleson (1962), p.254 ',
 'G.P. Whitley, ref E.S. Hill, Sydney Mail, 5/6/1871 ',
 'Sydney Morning Herald, 4/4/1960; H.D. Baldridge,p.133',
 'V.M. Coppleson (1958), pp.84-85 & 236; A. Sharpe, pp.82-83',
 'G.P. Whitley  (1951), p.192,  citing Sydney Morning Herald 1/24/1880 ',
 'V.M. Coppleson (1962), p.252;',
 'V.M. Coppleson (1933); V.M. Coppleson (1958), pp.44 & 232; A. Sharpe, p.17',
 'United Nations High Commission for Refugees, 3/26/2007',
 'Florida Today, 5/10/2006',
 'The Mercury, 7/27/1950',
 'The Advertiser, 2/9/2014',
 'Captain T. Falcon-Barker, pp. 91-93',
 'A. Rush; R. D. Weeks, GSAF; Otago Daily Times, 6/20/1992',
 'T. Helm, p.250; R. Skocik, p.172',
 'The West Australian, 6/3/1895',
 "D. Davies & J. D'Aubrey; D. Davies, pp. 108-109; T. Wallett; M. Levine, GSAF",
 'J. Wong & R.D. Weeks, GSAF; Daily Telegraph Mirror, 6/14/1995, p.42',
 'BFM-tv, 7/22/2014',
 'El Universo, 5/16/2013',
 'The West Australian, 3/13/2013',
 'A. Cobb & E. Ritter, GSAF',
 'T. Riley',
 'R. Collier, pp.135-136      ',
 'P. deBruyn, M. Levine, GSAF',
 'D. Davies, pp.125-126; M. Levine,GSAF; Star, 4/23/1961',
 'New Zealand Herald, 12/9/1932',
 'G.P. Whitley',
 'New York Times, 11/28/1929',
 'The Argus, 3/4/1892',
 'F. Dennis, p.52',
 'The Voyage of John Huyghen van Linschoten',
 'Whitaker, The Sun, 1/3/1967',
 'UPI, 4/20/2009',
 'SAF Case #244; D. Miller & R. Collier, V.M. Coppleson (1958), p.255',
 'M. Hosina; K. Nakaya; L. Schultz & M. Malin, p.539',
 'Dominican Today, 11/15/2010',
 'J. Borg, p.77',
 'Courthouse News Service, 11/18/2015',
 'J. Daigle',
 'Canberra Times, 3/20/2009',
 'The Mercury, 6/9/1873',
 'L. Lelis, Orlando Sentinel, 6/7/2011',
 'The Age, 10/20/2011',
 'Charlotte Observer, 8/12/1995, p.1C; C . Creswell, GSAF',
 'J. Borg, p.75; L. Taylor (1993), pp.104-105 - Note: SAF lists this as 8/10/1980',
 'Auckland Herald, 2/26/1962',
 'Yorkshire Post, 3/16/2014',
 'News Tribune, 6/20/1961',
 'Waverly Library',
 'H.D. Baldridge (1994), SAF Case #1617',
 'E. Ritter, GSAF; A. Armbrister, Freeport News, 10/3/2005',
 'M. Hoffman, M. Levine, GSAF',
 'T. Cyronak, R. Collier',
 'Col. C. Maritz, M. Levine, GSAF',
 'Milton-Ulladulla Times, 1/16/2015',
 'M. Jury, M. Levine, GSAF',
 'NY Times, 7/30/1873',
 'Maitland Mercury, 2/3/1849',
 'M.  Lynch; Miami Herald, 7/28/1999 ',
 'M. Levine, GSAF; Natal Witness',
 'Courier Mail (Brisbane), 2/5/1962',
 'C. Middleton; M. Levine, GSAF',
 'Miami Herald, 8/20/2007',
 'G. Gifford, GSAF',
 'The Advertiser, 12/23/1998, p.3; Daily Telegraph, 12/23/1998, p.17',
 'Amarillo Globe, 6/16/1937 ',
 'Grand Forks Herald, 1/27/2915',
 'Miami Herald, 4/3/1983, p.2D',
 'Maitland Mercury & Hunter River General Advertiser, 10/10/1849',
 'L. Malcolmson, Fisheries Officer',
 'Miami Herald, 7/7/2002 ',
 'A. MacCormick, pp.3-4;  Orlando Sentinel, 12/1/1993, p.A9',
 'E.Pace, FSAF',
 'ABC action News, 7/7/2015',
 'Nelson Mail, 2/23/2010',
 'M.P. Warner',
 'J. Borg, p.73; L. Taylor (1993), pp.100-101',
 'Orlando Sentinel, 8/24/1989. p.B1',
 'L. Schultz & M. Malin, p.534',
 'Times (London), 9/2/1937; Fairfax, pp. 66-67',
 'V.M. Coppleson (1962), p.249; Miami News, 5/18/1959 ',
 'Adelaide Now, 4/12/2012',
 'C. Creswell, GSAF; Wilmington Star, 7/17/1916 ',
 'San Antonio Express, 9/9/1966',
 'S. Petersohn; M.Guisti, Daytona Beach News Journal, 7/3/2000, p.6C; Orlando Sentinel, 7/3/2000,p.C3',
 'KHOU.com',
 'St. Petersburg Times (Sunday Magazine), 3/1/1959; R. F. Hutton;  J. Randall, p.352 in Sharks & Survival; T. Helm, p.238',
 'N.Cook; M. Levine, GSAF',
 'The Advertiser, 12/4/1989, p.2',
 'International Herald Tribune, 7/28/2008',
 'P. Sachs, M. Levine, GSAF',
 'Action News, 7/25/2013',
 "S. Petersohn; GSAF' Central Florida News, 11/7/2006",
 'Shanghai Star, 7/21/2005',
 'Wikipedia',
 'J. Green, p.34',
 'Indianapolis Star, 12/15/1924',
 'NBC San Diego, 7/27/2015',
 'Brisbane Courier, 1/7/1895, p.5',
 'S. Petersohn, GSAF; Orlando Sentinel , 9//7/1996; Daytona Beach News Journal, 9/7/1996, p.4C ',
 'R. Collier, pp. 13-14; D. Miller & R. Collier; California Fish & Game; V.M. Coppleson (1958), pp. 156 & 254; H.D. Baldridge, p.68',
 'L.A. Times, 7/14/1952 ',
 'Hawaiisharks.com',
 'Washington Post, 7/7/1975',
 'Quotidien, 4/12/1999',
 'Marlborough Express, 1/16/1919',
 'B.W. Coad & L.A.J. Al-Hassan',
 'Cairns Post, 11/27/1952',
 'Montreal Gazette, 11/28/1983',
 'A. Buttigieg',
 'J. Delvecchio & D. Sygall, Sydney Morning Herald, 2/4/1997, p.2',
 'Newcastle Morning Herald, 10/28/1961 ',
 'News-Journal, 9/29/1988',
 'V.M. Coppleson (1958), p.260; A. MacCormick, p.121 citing Times of London 9/17/1954; [SAF Cases #299 & #298',
 'Federation Francaise de Surf',
 'Herald, 4/10/1990, p.4',
 'Advertiser, 1/30/1992, p.7 & 2/1/1992, p.4',
 'R.D. Weeks, GSAF; The Otago Daily Times, 1/2/2000',
 'Sydney Morning Herald, 3/22/1946',
 'W.H. Yu',
 'R. & J. Zorro; Noonsite.com',
 'The Sun, 4/3/1910; Authenticity questioned by G.H. Balazs in J. Borg, p.70',
 'National Georgraphic Television',
 'E. H.',
 'B.L. du Vendre',
 'Newfoundlander (NZ), 11/5/1880',
 'P. M. Lopez, GSAF; Northern Territory News, 3/2/2004, p.11',
 'AsiaOne, 8/17/2011',
 'R. Collier, p.86',
 'C. Johansson; Pretoria News, 12/8/2006',
 'J.D. Gallop, Florida Today',
 'Wellsboro Gazette, 6/30/1982',
 'G.C. Miller',
 'The Mercury, 1/191900',
 'R.D. Weeks, GSAF; NZ Herald, 12/21/2005',
 'S. Williams, Daily Telegraph, 6/7/2007',
 'U.S. Naval Aviation Safety Center',
 'R. Wharton',
 'Orlando Sentinel, 9/7/1985 ; Miami Herald, 9/7/1985 ',
 'S. Petersohn, GSAF; Orlando Sentinel, 9/19/1996, p.D3; Tallahassee Democrat, 9/20/1996',
 'E. Clark; Dr. Greenwood; R.F. Hutton; Randall in Sharks & Survival, p.357; T. Helm, p.237',
 'San Mateo Times, 7/27/1956, p.18',
 'Brisbane Courier Mail, 2/16/1962',
 'WPBF.com, 9/2/2014',
 'WMBF News, 6/14/2013',
 'Sydney Morning Herald, 12/28/2008',
 'Vero Beach Press Journal (FL) 10/6/2003;  Stuart News, 10/6/2003',
 "R. O'Connor, M. Levine, GSAF",
 'Journal of Captain Marryat',
 'Maitland Mercury, 8/25/1855',
 'V.M. Coppleson.N7.(1933); V.M. Coppleson (1958), pp.63 & 230; A. Sharpe, pp.58-59;  G.A. Llano, pp.160-164',
 'S. Parkin, M. Levine, GSAF; T. Wallett, p.40',
 'Palm Beach Post, 3/31/2007; Sun Sentinel, 4/3/2007',
 'V.M. Coppleson (1958), pp. 248 & 266; A.M. Rapson, p.149',
 'C.H. Townsend, p. 172; V.M. Coppleson, p.258',
 'R. Collier, p 6-8, R. B. Campbell;  New York Times, 10/10/1960; Coppleson (1958), p.254; D. Miller & R. Collier',
 'Sydney Mail, 6/3/1876',
 'Orlando Sentinel, 5/16/1994',
 'Northern Miner, 3/19/1923',
 'R. Attrill; R.D. Weeks, GSAF',
 'WESH.com, 10/18/2012',
 'A. Brenneka',
 'Clay Creswell, GSAF',
 'J. Green, p.32; V.M. Coppleson (1958), p.241',
 'C. Moore; Isle of Wight Press',
 'Brisbane Courier, 6/12/1889, p.9',
 'El Sol ee Morelia, 5/30/2012',
 'S. Petersohn, GSAF; CNN;  M.I. Johnson,  Daytona Beach News Journal, 8/28/2001, p.1A',
 'Poverty Bay Herald, 3/9/1910',
 'V.M. Coppleson (1958), p.259',
 'C.R. Wolf, M.D.',
 'T. Mori, KHON2, 8/18/2013',
 'C. Creswell, GSAF; Florence Morning News 6/30/1960',
 'R. Rocconi & C. Moore, GSAF            V.M. Coppleson, p.261; H. D. Baldridge, p.15',
 'Sunday Herald Sun, 9/11/1994, p.25',
 'L.M. Guardian, 7/23/1906; M. Levine, GSAF',
 "K. O'keefe",
 'L.A. Times, 8/20/1950; Evening Star (Washington, DC), 8/24/1950; V.M. Coppleson (1962), p.259',
 'H. Hass in Diving To Adventure, p.169',
 'W.H. Tobert',
 'Tribune 242, 7/28/2013',
 'East London Daily Dispatch, 5/9/2001',
 'A. Anderson, M.D. / Lt. Col. R.S. Hunt, Royal Army Medical Corp',
 'V.M. Coppleson (1958), p.234',
 'A. Blaker',
 'The News (Mexico City) 6/12/1965',
 'V.M. Coppleson (1958), pp.48 & 265',
 'D. deSpeville',
 'Sumter Daily Item, 7/9/1975',
 'Xinhua News Agency',
 'ABC Sunshine Coast, 1/11/2016',
 'ABC News Online',
 'H. D. Baldridge (1994), SAF Case #440 listed incident as "Questionable"',
 'G. Ferrario; J. Mendoza, Cameron County Parks; The Herald (Brownsville),  4/11/2005',
 'M. Levine, GSAF; Associated Press, 7/12/03',
 'Les Nouvelles Caledoniennes, 3/16/2000',
 'Letter dated 8/31/1959 from A. Cordeiro',
 'St. Augustine Record, 9/9/2010',
 'C. Butterfield',
 'V.M. Coppleson (1958), p.183',
 'S. Petersohn, GSAF; Orlando Sentinel, 8/15/2002, p.B3',
 'South Florida Sun Sentinel, 11/19/2000, p.6B',
 'R. Heyer, citing the Red Bank Register, 9/1/1886',
 'V.M. Coppleson (1958), p.110; A. Sharpe, p.111;  Herald (Melbourne), 12/30/1929 & 5/16/1933 ',
 'V.M. Coppleson (1958), pp.92 & 237',
 'Orlando Sentinel, 12/12/1986, p.A1',
 'Falconer-Barker',
 'Northern Star, 12/3/2011',
 'Northern Star, 7/3/2015',
 'Fraser Coast Chronicle, 11/27/2012',
 'A. Bouwer, M. Levine, GSAF;  E. Kerns, NSB',
 'Natal Mercury, 7/24/1897; M. Levine, GSAF',
 'Bush Advocate, 6/14/1890',
 'Sydney Morning Herald, 1/16/1956',
 'Mobile Register 6/14/2000; Charlotte Observer, 6/15/2000, p.8A',
 'Sunday Age, 3/27/2005',
 'Miami Herald, 8/2/1958 reported this was the second fatality at this resort this month',
 'N.Y Times, 7/23/1941; SAF Case  #951',
 'The Argus, 12/29/1884',
 'I. Fergusson; A. Buttigieg; M. Bardanis',
 'Houston Chronicle, 10/5/2015',
 'Florida Today, 6/26/ 2003; WKMG Local 6',
 'Les Nouvelles Caledonnie. 4/11/2016',
 'A.M. Rapson, p.150; V.M. Coppleson (1962), p.248 ',
 'Fort Pierce News,  10/24/1997, p.A2',
 'NY Times, 8/17/1975, p.27',
 'Gleaner (Jamaica), 9/6/1923',
 'Port Elizabeth Herald, 1/23/1884, M. Levine, GSAF',
 'Connecticut Courant, 9/3/1816',
 'R. Collier, pp.8-9',
 'R. Turner & A. Williams, Jamaica Star, 3/13/2013 ',
 'Fort Wayne Sentinel, 2/23/1895',
 'http://waterco.com.br/ataque_tubarao.htm',
 'JC Online, 6/26/2023',
 'J. Kennedy',
 'Miami Herald, 7/9/1994',
 'St. Petersburg Times, 5/24/1943',
 'Briefly mentioned in paper by W.B. Orme; G.A. Llano, p.127',
 'Natal Mercury 1/1/1906; Natal Mercury Pictorial, 1/10/1906;  M. Levine, GSAF',
 'The Sydney Morning Herald, 10/30/2014',
 'T. Wallett, p.37-38',
 'Cairns Post, 1/27/1948',
 'Surfline.com, 6/28/2011',
 'Orlando Sentinel, 8/31/2014',
 'V.M. Coppleson (1958), pp.85-86 & 233; A. MacCormick, p.172',
 'V.M. Coppleson (1962), p.251',
 'NY Times, 8/13/1936, p.25, col.6',
 'New York Times, 10/5/1861',
 'CNN, 10/4/2015',
 'Sun Sentinel, 1/30/2011',
 'G.P. Whitley citing Sydney Morning Herald, 2/16/1933',
 'B. Stout, News-Press, 7/2/2005',
 'Sun (Sydney), 12/29/1966; H.D. Baldridge, p.137',
 'C. Creswell, GSAF; Macon Telegraph, 6/17/1996',
 'V.M. Coppleson.N.4. (1933); V.M. Coppleson (1958), pp.62 & 230; A. Sharpe, pp.53-55',
 'V.M. Coppleson.W2, (1933); V.M. Coppleson (1958), pp.111 & 241; West Australia, 1/5/1967;  A. Sharpe, pp.129-130; H. Edwards, pp.131-133',
 'Herald, (Redcliffe), 12/31/1959',
 'Virginia Beach Beacon, 10/15/1991',
 'Hobart Mercury 1/22/1960',
 'Sunday Mail, 8/6/1989',
 'L.A. Times, 6/10/1960; L. Schultz & M. Malin, p.560; SAF Case #724',
 'Orlando Sentinel, 7/8/1990, p.B.1',
 'Charlotte Observer, 8/18/2007',
 'WIS-TV, 9/9/2013',
 'G. Rondelet ',
 'K. Kridel, Herald Tribune, 10/21/2006',
 'Advertiser (Adelaide), 11/12/1959',
 'J. McLachlan, Medical Officer, Kavieng; A.M. Rapson, p. 148',
 'Mentioned in paper by W.B. Orme; G.A. Llano, p.127',
 'A. Mikula, Daytona Beach News-Journal, 6/1/199,  p.2C',
 'Nine News, 1/5/2016',

## Country

In [374]:
df.country=df.country.str.lower()
df.country.unique()

array(['usa', 'australia', 'new caledonia', 'reunion', 'bahamas', 'spain',
       'china', 'japan', 'columbia', 'south africa', 'egypt',
       'new zealand', 'indonesia', 'french polynesia', 'cape verde',
       'fiji', 'brazil', 'dominican republic', 'cayman islands',
       'united arab emirates', 'aruba', 'mozambique', 'thailand',
       'puerto rico', 'italy', 'mexico', 'atlantic ocean', 'greece',
       'mauritius', nan, 'st. martin', 'france', 'ecuador',
       'papua new guinea', 'trinidad & tobago', 'kiribati', 'israel',
       'diego garcia', 'taiwan', 'jamaica', 'palestinian territories',
       'guam', 'seychelles', 'belize', 'philippines', 'nigeria', 'tonga',
       'scotland', 'canada', 'croatia', 'saudi arabia', 'chile',
       'antigua', 'kenya', 'russia', 'turks & caicos', 'costa rica',
       'united kingdom', 'malaysia', 'united arab emirates (uae)',
       'samoa', 'azores', 'solomon islands', 'south korea', 'malta',
       'vietnam', 'madagascar', 'panama', 'somalia', 'nevis', 'cuba',
       'england', 'british virgin islands', 'norway', 'senegal', 'yemen',
       'gulf of aden', 'sierra leone', 'st. maartin', 'grand cayman',
       'liberia', 'vanuatu', 'mexico ', 'honduras', 'venezuela',
       'sri lanka', ' tonga', 'uruguay', 'india', 'micronesia',
       'caribbean sea', 'okinawa', 'tanzania', 'marshall islands',
       'egypt / israel', 'northern arabian sea', 'hong kong',
       'el salvador', 'angola', 'bermuda', 'montenegro', 'iran',
       'tunisia', 'namibia', 'north atlantic ocean', 'portugal',
       'south china sea', 'bangladesh', 'palau', 'western samoa',
       'pacific ocean ', 'british isles', 'grenada', 'iraq', 'turkey',
       'singapore', 'new britain', 'sudan', 'johnston island',
       'south pacific ocean', 'new guinea', 'red sea',
       'north pacific ocean', 'federated states of micronesia',
       'mid atlantic ocean', 'admiralty islands', 'british west indies',
       'south atlantic ocean', 'persian gulf', 'red sea / indian ocean',
       'pacific ocean', 'north sea', 'nicaragua ', 'maldive islands',
       'american samoa', 'andaman / nicobar islandas', 'gabon', 'mayotte',
       'north atlantic ocean ', 'the balkans', 'sudan?', 'argentina',
       'martinique', 'indian ocean', 'guatemala', 'netherlands antilles',
       'northern mariana islands', 'iran / iraq', 'java', ' philippines',
       'nicaragua', 'central pacific', 'solomon islands / vanuatu',
       'southwest pacific ocean', 'bay of bengal', 'mid-pacifc ocean',
       'slovenia', 'curacao', 'italy / croatia', 'barbados', 'monaco',
       'guyana', 'haiti', 'san domingo', 'ireland', 'kuwait', 'libya',
       'yemen ', 'mediterranean sea?', 'falkland islands', 'crete',
       'cyprus', 'egypt ', 'burma', 'lebanon', 'paraguay',
       'british new guinea', 'ocean', 'georgia', 'syria', 'tuvalu',
       'indian ocean?', 'guinea', 'equatorial guinea / cameroon',
       'cook islands', 'algeria', 'coast of africa', 'tasman sea',
       'ghana', 'st helena', 'greenland', 'mediterranean sea', 'sweden',
       'iceland', 'between portugal & india', 'djibouti', 'bahrein',
       'korea', 'red sea?', 'asia?', 'ceylon (sri lanka)'], dtype=object)

In [375]:
# se usa regex para eliminar varias cosas que hacen ruido
df.country=[re.sub(r"(/ \w* \w*)|(/ \w*)|\?| \(\w* \w*\)", "", str(x)) for x in df.country]

## Type

In [376]:
df.type.unique()
df.type=np.where(df.type=='Boating', 'Boat',df.type)
df.type.unique()

array(['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster'],
      dtype=object)

## Sex

In [377]:
df.sex_.unique()

array(['M', nan, 'F', 'M ', 'lli', 'N', '.'], dtype=object)

In [378]:
df.sex_=df.sex_.replace('M ', 'M').replace("lli", "M").replace('.', 'nan').replace('N', 'nan')
df.sex_.value_counts()

M      4838
F       585
nan       2
Name: sex_, dtype: int64

## Activity

In [379]:
df.activity.nunique()

1492

In [380]:
set(df.activity.unique())

{nan,
 'Treading water',
 'Shipwreck',
 'Free diving / spearfishing, ',
 'Dragging a shark',
 '   ',
 'Spearfishing & diving for paua',
 'Feeding fish',
 'Abalone diving using Hookah (near calving whales)',
 'Fell into water while attempting to boat a swordfish',
 'Steamer Durao struck rock & filled, boats capsized, passengers & crew tried to swim to shore',
 'Hurricane & Tidal Wave',
 'Hand feeding sharks',
 'The steamship Bonnie Dundee lost in collision',
 'Spearfishing, Smith  & Walker touched shark with tip of their guns',
 'Dress diving',
 'Collecting shells',
 'seaplane Columbus ditched in the sea',
 'Fishing,  tarpon being chased by shark  leapt across his skiff, breaking it in half & Larkin became tangled in the net',
 'Freediving',
 'Wreck of the schooner Driver',
 'Washing horses',
 'p�cheur de bichiques',
 'Walking on reef',
 'Chumming for white sharks',
 'Swimming, after single-engine aircraft went down in the sea',
 'Inebriated, woke from sleep and fell off deck into the water ',
 'R5D aircraft went down with 29 on board',
 'male',
 'Swimming or paddle boarding',
 'Washed overboard from the barque Mary Eady',
 'Spearfishing Competition',
 'Fishing, hooked shark towed boat out to sea, storm swamped boat',
 'Fishing with dynamite, afterwards in water retrieving catch',
 'Small vessel with 13 men on board capsized crossing the bar and 6 men drowned.  The 7 survivors were swimming to shore',
 'Aircaft exploded',
 'The 168-ton Belmore foundered in heavy seas',
 'Diving around anchored liner',
 'Fishing in knee-deep water',
 'Sunbathing on beach when he saw child being attacked by the shark',
 'Swimming after falling overboard from the sealing ship Vesper',
 'Clinging to overturned rowing boat',
 'Swimming from makeshift raft  to life vest after fishing boat sank',
 'Free diving, surveying a pipeline & examing cathodes under jetty',
 'Launching a boat',
 'Surfing, sitting on board',
 'Fishing for sharks',
 'Boogie boarding',
 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)',
 'Kite boarding',
 'Lying atop surfboard',
 "Fell from his father's back into the water",
 "Fishing, standing in 2' of water",
 'Copra vessel with 19 on board was wrecked in a squall',
 'Swimming along side N.E.L. vessel Saluda',
 'Scooping prawns',
 'Floating, after falling or jumping off the Standard Oil tanker Frederick W. Weller',
 'Body surfing?',
 'Snorkeling, possibly holding a fish',
 'Attempting to fix motor',
 'Sinking of the cargo ship Mark Jason',
 'The passenger ship Kapuna was run down the ore carrier Ada Melmore',
 'Fishing ',
 'Lifesaving drill',
 'Taking catch from a fish weir in which the shark was snared',
 'Free diving but treading water at surface',
 'Attempting to land a boat from the Hinemoa',
 'USS Hoel DD 533 sunk on 10/24/1944 in the Battle off Samar. 2 crewmen were swimmng alongside a floater net &',
 'Wading or swimming',
 'Fishing for perch',
 'Fishing for yellowtail',
 'Fell overboard from USS cruiser Tacoma',
 'Adrift on raft after their ship was sunk by an Axis raider ',
 'She was on a ship that was torpedoes & was in the water awaiting rescue',
 'Yacht Gooney Bird foundered, 4 survivors on raft',
 'Crouching in the water',
 'Helmet diving, collecting trochus shell',
 'Standing in inner tube',
 'Portuguese seaman fell overboard. Boat lowered to pick up with 1st mate & 4 crew, but done hurriedly & all were thrown into the water. As a second boat was lowered, a shark went after the 1st mate but he was rescued. Then the shark went after Mr. Andrews ',
 '"Boat accident"',
 'Scuba diving for abalone (at surface)',
 '"Swimming vigorously"',
 'Fell off banana boat',
 'Spearfishing, shot a turtle',
 'Thrashing the water / imitating the shark victim from "Jaws"',
 'Swimming in pool formed by construction of a wharf',
 'The steamships Thingvalla and Geiser collided',
 'Body boarding ',
 'Commercial diver (submerged or treading water)',
 'Fishing for blue sharks',
 'A 75-ton  Japanese fishing ship was sunk by  Chinese Nationalist gunboat, shipwrecked men were clinging to debris',
 'Swimming or Snorkeling',
 'Reviving a sedated shark',
 'Two canoes with 14 aboard blown to sea in a storm. While adrift for 3 week, one person fell overboard and was killed by a shark',
 'Longling fishing',
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas',
 'Fell overboard from US Navy PC boat',
 'Floating or standing',
 'Swimming from fishing boat setting nets',
 'Spearfishing, carrying fish on belt',
 'Washing clothes',
 'Diving for coins thrown from ship S.S. Moeraki',
 'Fishing from surfski',
 'Taking wife to beach & about 1 m from the shore',
 'Swimming between  anchored  pearling luggers',
 'Japanese aircraft shot down. He was one of two survivors rescued by the U.S. destroyer Mugford',
 "63' fishing boat Sno' Bay foundered",
 'Splashing ',
 'Free diving with goggles',
 'Lashing logs together when he fell into the water',
 'Diving alongsidethe steamship Ranelagh ',
 'Floating with life buoy after pilot launch capsized',
 'Probabable drowning',
 'Swimming back from anchored sailboat',
 'NSB Meshing',
 'Fishing from prawn trawler',
 'Standing on his hands',
 'The World Liberty and the tanker Mosli collided. The  Halcyon Breeze sent a lifeboat to the rescue, but it was smashed, throwing 6 men in the  water.',
 'boat capsized',
 "Fishing, caught a 15' shark & took it onboard",
 'In rubber dinghy with Captain Eddie Rickenbacker for 21 days. ',
 'Collecting dynamited fish',
 'Shell Diving',
 'Fishing, trying to catch the end of his fishing line',
 'Crossing the bay at the ford',
 'Trailing hand in the water',
 'Greek steamship Lakonia caught fire, 98 of her 646 passengers, and 30 of her crew of 376 perished',
 'Row boat (from the gunboat Elcano) was sinking, put finger in hole',
 "12 of the Penang's crew were returning to the ship when their 12' dinghy capsized",
 'Filming a documentary',
 'B-24 aircraft crashed  into the sea',
 'Surf fishing, wading ',
 'Swimming with speared fish',
 'Collecting fish by lamplight in gully',
 'Plane crashed in water, men in life raft',
 'Spearfishing on Scuba',
 "Fishing with hand net in 2' of water",
 'Fishing from a kayak',
 'Diving for trochus',
 'Swimming after their boat capsized',
 'Diving for sponges',
 'Fishing boat swamped in storm',
 'Spearfishing (but treading water on the surface)',
 'ship torpedoed 400 miles off the African coas. Man was clinging to hatch cover',
 'Swimming, naked',
 'Swimming in canal',
 'Fishing from Surfboard',
 'Air Disaster',
 'Scallop diving on hookah',
 'Fishing for whiting',
 'Paddle Skiing',
 'Swimming with mask & snorkel',
 'Kayak Fishing',
 'Spearfishing, but walking carrying fish on end of speargun',
 'Attempting to escape by swimming to shore',
 "Sitting in 3' of water",
 'Wreck of the steamship Birkenhead',
 'Dry shelling',
 'Beach seine netting',
 'Attempting to ride a shark',
 'Fishing for white shark',
 'Cleaning hull of ship ',
 'Diving, recovering fish killed by dynamite',
 'Washing clothes on stairs',
 'Fishing from boat, Kaimamla',
 'Fishing for trout ',
 'Kite-Boarding',
 'Swimming with dolphins',
 'Paddle Boarding',
 'Free diving for abalone',
 'Scuba Diving for scallops',
 "Diving for trochus  from dinghy when seized by shark 6' below the surface",
 'Drift fishing',
 'Swimming /  boogie boarding',
 'Esso Bolivar was torpedoed & shelled by the German submarine U-126',
 'Sleeping in anchored boat',
 'U.S. Airforce crewman reported missing after bailing out of jet',
 "On board 51' fishing vessel One Ki",
 'Fishing for rock lobster',
 'Hand lining for shad',
 'Washed overboard into school of fish',
 'Netting shrimp',
 'Diving for shells, saw shark circling wife near the surface, intercepted shark & it pulled him beneath the water',
 'Fishing for white sharks',
 'Fishing boat swamped in a storm',
 'Fell overboard & swimming',
 'Batin',
 '"Climbing up to ship after repairing the stern in water"',
 'Fishing boat capsized ',
 '2 messboys (Jeppsen) & Tony Latona (13) were playing on the afterdeck of the Danish ship Grete Maersk. Jeppsen fell overboard, Latona threw a lifebelt then jumped in to help him. Ship didn�t notice they were missing',
 'Overturned skiff',
 'Capsized fishing boat',
 'Washing sand off a speared fish',
 "Sinking of the 40' Esperanza off St. Maartin with 36 refugees on board",
 'Lying on surfboard & paddling',
 'Shell diving',
 'Working on the bridge when he fell into the river',
 "Competing in U/W endurance record, standing beside drum in 10' of water",
 'Jumped overboard while intoxicated',
 'Launching rowboat through the surf',
 'small boat',
 'Free diving / spearfishing (resting on the surface)',
 'Sea Disaster, sinking of the motorship Wingate',
 'Examining netted shark, that had been shot',
 'The boat Caribou II sank',
 'Fell overboard from USS Ward',
 'Washing his feet',
 'Standing or boogie boardin',
 'Helmet diving',
 'Swimming between boats',
 'Surfing',
 'Swimming, after falling overboard',
 'Hunting lobsters in 2.4 m of water',
 'Trailing the field in a surf race',
 'Sitting on side of dinghy mending a net',
 'Diving, retrieving film package from Titan 3C rocket',
 'Dismantling cable buoys of the cable ship All America',
 'Surfing & dangling foot in water amid baitfish',
 'Bodysurfing',
 'Wading, when he stepped on the shark',
 'Floating, holding onto an oar after dory capsized',
 'Night diving',
 'Photographing fish',
 'Diving for coins tossed from passenger ship',
 'Fell overboard?',
 'Wooden fishing boat',
 'Spearfishing/ filming',
 'Went overboard',
 'Hiking on the beach',
 'Attempting to drive shark away from the beach',
 'Ditched plane in the sea & were adrift on a rubber life raft. ',
 'Fishing, slipped on rocks & fell into sea',
 'Lifeboat capsized',
 'Body Boarding',
 'Dog paddling or standing',
 'Treading for clams',
 'Swimming alongside the SS Kearsarge',
 'Inspecting teeth of supposedly dead (hooked & shot) shark',
 'Swimming near shore',
 'HBM Magpie foundered in a squall',
 'Playing in the surf',
 'Wading / Surfing',
 'Scuba diving & spearfishing ',
 'Boating',
 'Canoe swamped',
 'Inflatable boat',
 'Crabbing (spearing crabs)',
 'Sea Disaster, sinking of the fishing  launch Mavis',
 'Spearfishing, dived to pick up a float line',
 'Swimming / floating',
 'Fishing for snapper',
 'Japanese freighter Bokuyo Maru burned & sank',
 'Attempting to anesthetize shark',
 'Free diving for sinkers',
 'Splashing in surf',
 'Swimming with fish attached to  belt',
 'Net fishing, fell into the water',
 'Wading, fishing for flounder',
 'Pulling anchor',
 'Playing in knee-deep water',
 'Swimming ashore after launch capsized',
 'Fishing from launch, fell into net with shark',
 'Spearfishing / night diving',
 'Hunting crayfish',
 'Kneeling in the water',
 'wreck of the State Oil Company ship Permina',
 'Swimming & splashing',
 'Commercial spearfishing',
 'Hookah diving for abalone (submerged)',
 'Stand-Up Paddleboarding',
 '4 men were bathing',
 'Holding onto an inflatable boat',
 'Free diving for molluscs',
 'Moving a shark in a net ',
 'Kiteboarding',
 'Bathing in waist-deep water',
 'Body surfing, stood up on sandbar',
 'Playing with an air mattress',
 'Boat stopped to repair electric pump',
 'Dived overboard & was swimming near stern of trawler',
 'Standing, stepped on shark',
 'Free diving / photography, kneeling on sand',
 'Paddling on kneeboard',
 'Fishing from dinghy',
 'Fishing, had just speared a ulua',
 'Fishing for tuna',
 'Free diving / Spearfishingat edge of reef',
 'Fishing, hauling in a 5-lb snapper',
 'Attempting to net shark in shark channel',
 'Swimming around anchored ship',
 'Surf fishing / wading',
 'Searching for remains of  Dr. Marais',
 'Boat exploded',
 'Marathon swimming',
 'Diving on a wreck',
 'Spearfishing using Scuba',
 'Adrift after wave swamped engine',
 'Wreck of  large double sailing canoe',
 'Attempting to rescue a shark',
 'Free diving with a pod of dolphins',
 'Feeling the shark�s teeth',
 'The 426-ton cargo ship Mia, laden with cement, capsized in heavy seas ',
 'Fell overboard from steamship Rio Grande',
 'The Ward liner Esperanza stranded during a gale & she leapt overboard to rescue her dog which had been swept overboard.',
 'Paddling a surfboat',
 'Surfing amid a shoal of sharks',
 'Murder',
 'Spearfishing & holding catch',
 'Swimming to shore from capsized kayak',
 'Disappeared 11 days earlier, probable homicide victim',
 'Moving shark from tuna vessel when boat rolled, placing both man & shark in chest-deep water',
 'Touching sharks',
 'Slipped off rocks and fell into the water',
 'Swimming 3 miles offshore',
 'Fishing with dynamite',
 'Surfing with dolphins',
 'Accidentally thrown overboard & treading water while awaiting rescue',
 'Bending over',
 'Bathing in 2 feet of water',
 'Diving for trochus from lugger',
 'Fishing, attempted to take a netted shark',
 'Sitting in a boat',
 'Floating near boat & observing bioluminesce',
 'Body boarding or surfing',
 'Collecting fish from net',
 'Abalone diving using Hookah (resting on the surface)',
 'Fell overboard, prop slashed arm',
 'Adrift on a raft ',
 'Bottom fishing for lingcod & had hooked a fish',
 'Dived for a coin',
 'Harpooning turtles',
 'Swimming in midriver near sewage outlet & 400 m from a slaughterhouse',
 'Harassing a shark',
 'Swimming crawl stroke',
 'Fleet of canoes caught by a squall and charged by sharks.',
 'The schooner Tahitienne foundered in a hurricane',
 'Fell off aircraft carrier',
 'Collecting fish ',
 'Scuba diving (but on surface)',
 'Lobster fishing',
 'Sight-seeing',
 'S.S. Marine Sulphur Queen, laden with molten sulphur was bound from Beaumont, Texas for Norfolk, VA, when she disappeared with 39 on board',
 'Swimming with other crew near wharf',
 'Closed circuit diving (submerged). Diving to recover jettisoned packets of opium for police',
 'Resting on body board',
 'Pulling raft out to ride to shore',
 'Fell or jumped overboard from the liner Rhynland',
 'Attempting to rescue drowning man',
 'Testing classified underwater electronic gear for Raytheon Corporation, vessel torn apart by explosion',
 'Deserting the bark Nazarene',
 'Fishing for lobsters',
 'Shark fishing, knocked overboard',
 '.',
 'Fishing from shore, washed into the sea',
 'Swimming (using a float)',
 'Gathering shells',
 'Spearfishing, but swimming at surface',
 'Free diving & spearfishing (ascending)',
 'Jumped into the water',
 'Fell from wharf into water & attacked immediately',
 'Fishing in waist-deep water',
 'Playing soccer in the water',
 'Swimming at side of small boat',
 'Dived naked into the water on a bet',
 'On 6-Nov-1942, the German submarine U-68 sank the City of Cairo 5 days from Cape Town, survivors took to lifeboats & rafts. On the 15th day, a fireman jumped over the stern & was taken by sharks',
 'Wading with surfboard',
 'Boogie boarding or Surfing',
 'Swimming a quarter mile offshore',
 'Skin diving for trepang but at surface next to the boat',
 'Dived into the water',
 'Fishing for bottom fish',
 'Swimming, attacked at  surf carnival',
 'The Pacquebot Laconia, enroute to Liverpool with 600 Italian prisoners onboard, was torpedoed by the German submarine  U-156 and only 2 rafts were launched before the ship went down. Unable to board an overcrowded raft, he was swimming.',
 'Fly fishing',
 'Wade Fishing',
 'Motor launch Baby Princesa capsized with 22 people on board',
 'Surfing, but lying prone on his board',
 'Cutter capsized',
 'Fishing, hauling in fishing gear',
 'Gaffing & attempting to bring onboard a harpooned shark',
 'Swimming after boat became disabled',
 'Swimming, after falling off towed kneeboard',
 'Bathing ',
 'Wreck of the tug Magellan',
 'Swimming, carrying tin can with mail to steamer',
 'Windsurfing (urinating on his board)',
 'Swimming from capsized boat',
 'Free diving with seals',
 'Parachuted into Pacific',
 'Fishing schooner Jose Luis foundered',
 'Playing ',
 'Catching a turtle',
 'Working near fish traps',
 'Attempting to drive shark from area',
 'Dragging stranded shark into deeper water',
 'Feeding stingrays?',
 'Swept out to sea while net fishing',
 'Standing, collecting sea stars',
 "Swimming near jetty with 2' piece of wood",
 'Unknown',
 'Boat Miss Becky  sank 12 miles from shore',
 'Rowing toward snapper grounds',
 'Crossing river on a raft',
 'Filming underwater, carrying powerhead',
 "Lying on the bottom of a 16' dinghy",
 'Diving ',
 'Jumping',
 'Body surfing / treading water',
 'Dutch merchant ship Zaandam torpedoed  by the U-174 amidships, sank & dozens of survivors took to rafts & boats. One man, Izzi, who drifted 83 days on a raft related that sharks attacked many men in the water when the ship went down',
 'Net fishing',
 'Spearfishing, hunting crayfish',
 'Commercial Salvage Diving',
 'Playing on a sandbar',
 'Spearfishing / freediving',
 'Fell overboard ',
 'yachting accident',
 'Playing in the water',
 'Fell overboard while fishing for sharks',
 'Catching sharks under government contract',
 'Fishing / cleaning fish, dived into water to retrieve a lost fish',
 'The shrimper Loless Maurine capsized in heavy seas & the men were swimming ashore  ',
 'Swimming from capsized pirogue',
 'boat from the Austrian ship Elizabeth',
 'Surfing, paddling seawards',
 'Fishing',
 'Treading water after survivng crash of the US Navy airship K-74 that was hit by the German submarine U-134',
 'Fishing from market fishboat Sea Spray',
 'Motor boat Rebel Belle lost',
 'Fishing for mackerel',
 'Attempting to retreive a dinghy',
 'Fishing with a cast net',
 'Swimming / shipwreck',
 'Lifesaving exhibition',
 'Royal Hawaiian skymaster DC-6B aircraft went down with  58 passenger & crew',
 'Ascending from a dive',
 'Abandoning burning steamship Don Juan',
 'Sitting on surfboard',
 'Survived crash of two-engine  C-46 transport plane carrying 62 migrant workers from Puerto Rico to USA ',
 'Dived into a school of baitfish',
 'Put foot inside mouth of supposedly dead shark',
 'Diving for trochus , but swimming on surface',
 'Swimming to shore from the Medic',
 'Net-fishing',
 'In water with diving seabirds',
 'Fishing, sitting in stern of small boat, feet dangling in the water',
 'Fishing, on a boat',
 'Defecating in water beneath the docks',
 'Catching sardines',
 'Surf skiing',
 'Wading / fishing & carrying a bag of fish',
 'The British steamer Caribbee foundered',
 'Boat capsized',
 'Free diving & spearfishing (descending)',
 'Swimming ashore from a "filibuster"',
 'Free diving for crayfish',
 'Sailing',
 'Jet skiing',
 'Cruising',
 'Swimming ashore from fishing boat swamped and sunk by a squall',
 'Surfing & filming dolphins',
 'Swimming / treading water',
 'Collecting crayfish',
 'Free diving',
 'Schooner sank during a storm',
 'Escaping from Alacatraz',
 'Fishing, walking in river to cast',
 'Filming & feeding captive sharks',
 'Carrying a supposedly dead shark by its mouth',
 'Free diving for abalone from Zodiac (submerged)',
 'Rolled off raft',
 'Bathing alongside ship',
 'Stuffing a shark into an automobile',
 'Body surfing or Boogie boarding',
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water",
 'Ship lay at anchor & man was working on its rudder',
 'Sinking of the M/V Mindoro during a typhoon',
 'Freediving for trochus shell (submerged)',
 'Crayfishing',
 'Transatlantic Rowing',
 'SCUBA diving',
 'Swimming at edge of channel',
 'Standing / Bathing',
 'Scuba diving ',
 '3-masted steel barque Glenbank foundered during a cyclone',
 'A father bathing his smallest daughter when the shark bumped her out of his arms and carried her into deep water',
 'Jumped out of canoe',
 'Hunting turtle',
 'Shark tagging',
 'Sea Disaster, sinking of the  SS Vestris',
 'Washed off freighter Huncliff by a freak wave',
 'Spearfishing',
 'bathing ',
 'Paddle boarding',
 'Standing on sandbar',
 'Floating in tube',
 'Skin diving ',
 'Helping angler land a shark',

In [381]:
df.activity=df.activity.str.lower()
df.activity=[re.sub(r".*fishing.*|.*swimming.*|.*diving.*|.*surf.*|.*bathing.*|.*fell overvoard.*|.*filming.*|.*floating.*", "", str(x)) for x in df.activity]
df.activity=[re.sub(r".*wreck.*|.*sinking.*|.*boat.*|.*sea disaster.*|.*capsized.*|.*sank.*|.*collided.*", "boat wreck", str(x)) for x in df.activity]
df.activity=[re.sub(r".*dived.*", "diving", str(x)) for x in df.activity]
df.activity=[re.sub(r".*fell.*|.*jump.*", "fell/jumped into water", str(x)) for x in df.activity]
df.activity=[re.sub(r".*padling.*|.*rowing.*|.*sailing.*", "cruising", str(x)) for x in df.activity]
df.activity=[re.sub(r".*snorkeling.*", "swimming", str(x)) for x in df.activity]

## Year

In [382]:
set(df.date.unique())

{'18-Dec-67',
 'Nov-82',
 '11-Nov-02',
 '10-Aug-14',
 '22-May-14',
 '11-Feb-50',
 '22-Mar-07',
 'Summer of 1898',
 '13-Oct-15',
 '09-Jun-97',
 'Reported 24-Jan-1920',
 '01-Sep-60',
 '11-Aug-1895',
 '17-Aug-11',
 '24-Nov-24',
 '20-Nov-05',
 'Before 1921',
 '18-Oct-76',
 '12-Jul-42',
 '21-Jun-57',
 '05-Apr-43',
 '26-Jun-06',
 '29-Sep-99',
 '06-May-14',
 '27-Jul-52',
 '11-Nov-85',
 '1958',
 '11-May-57',
 '26-Apr-15',
 '14-Nov-01',
 '26-Dec-66',
 '11-Jan-62',
 'No date, Before 1975',
 'No date, Before 1902',
 '02-May-1880',
 '04-Jan-85',
 'Reported 03-Dec-1929',
 '1961',
 'Reported 25-Oct-1890',
 '08-Sep-97',
 '26-Jun-15',
 '27-Dec-00',
 '08-Sep-66',
 ' 21-Sep-2013',
 '20-Apr-97',
 '16-Feb-10',
 '07-Jan-31',
 '11-Feb-10',
 '19-Dec-65',
 'Reported 01-Jul-1954',
 '31-Dec-12',
 'Reported 02-Jun-1890',
 '19-Jun-1870',
 '04-Jul-1888',
 '1986',
 '02-Jul-74',
 '21-Sep-14',
 '21-Jan-62',
 '01-Dec-01',
 '30-Dec-08',
 '1896',
 '04-Nov-20',
 'Sep-17',
 'Jan-59',
 '28-Sep-22',
 '12-Feb-11',
 '16-May-07',
 '02-Sep-11',
 '06-Jul-11',
 '1974',
 '09-Mar-61',
 '08-Jul-64',
 '28-Feb-59',
 'Before 1934',
 '28-Dec-12',
 '29-Jun-11',
 '13-Mar-77',
 'Feb-1888',
 '16-Aug-01',
 '29-Jan-41',
 '1749',
 '07-Jul-55',
 '.Reported 22-Feb-1902',
 '22-Aug-01',
 '31-Dec-34',
 'Before 1957',
 '29-Sep-06',
 '29-Aug-13',
 '1767',
 'Reported 14-Feb-1975',
 '17-Nov-1878',
 '31-May-84',
 '23-Jul-68',
 '23-Feb-11',
 '24-Feb-60',
 '21-Dec-63',
 'Reported 31-Aug-1962',
 '22-Jan-67',
 '05-Oct-03',
 '13-Aug-68',
 '16-May-81',
 '19-Jul-22',
 '25-Jun-14',
 '05-Jan-57',
 '05-Nov-85',
 '30-Mar-35',
 'Reported 12-Feb-1855',
 '03-Feb-12',
 '05-Jan-46',
 '26-Sep-15',
 '06-Jul-02',
 'Some time between Apr & Nov-1944',
 '25-Aug-01',
 '15-Apr-88',
 '11-Jun-1891',
 'Reported 25-Apr-2009',
 '25-Apr-08',
 '13-Jun-59',
 'Aug-14',
 '31-Oct-06',
 '17-Sep-89',
 '17-Feb-82',
 '13-Dec-94',
 '22-Nov-13',
 'May-07',
 '05-Feb-64',
 '08-Nov-32',
 'Reported 17-Mar-2009',
 '11-Jan-32',
 '21-Jan-38',
 'Reported 24-Jan-1877',
 'Aug-1886',
 '07-Aug-16',
 '28-Sep-07',
 '03-Dec-59',
 '23-Dec-58',
 '11-Nov-69',
 '16-Dec-51',
 '15-Sep-09',
 '20-Aug-44',
 'Jul-88',
 '14-Sep-74',
 '11-Aug-00',
 '09-Jun-88',
 '29-Jul-05',
 '23-Decp1896',
 '21-May-83',
 '26-Apr-04',
 '29-Feb-60',
 '14-Nov-63',
 '14-Mar-43',
 '09-May-11',
 '02-Oct-11',
 '23-Nov-76',
 '15-Feb-03',
 '18-May-86',
 '25-Jan-07',
 '20-Aug-56',
 '15-Jan-59',
 'Reported 05-Oct-1897',
 '04-Apr-65',
 '25-Jul-1862',
 '09-Nov-06',
 '12-May-62',
 '23-Jul-1874',
 '03-Feb-10',
 '25-Dec-30',
 '07-Apr-96',
 '16-Jan-30',
 '08-Nov-57',
 '09-Jun-02',
 '23-Dec-71',
 '06-Oct-54',
 ' 22-Sep-1879',
 '21-Nov-83',
 '07-Feb-60',
 '11-Mar-48',
 '22-Nov-12',
 '22-Jul-00',
 '10-May-48',
 'No date, Before 3-Jan-1967',
 '18-May-26',
 '10-Jun-12',
 'Reported 25-Oct-1933',
 'Reported 28-Oct-1995',
 '1949',
 '24-May-15',
 '19-Mar-16',
 '14-Jan-1884',
 '12-Feb-09',
 'Reported 10-Sep-1845',
 '28-Jun-56',
 '03-Jan-51',
 '28-Aug-14',
 'Reported 04-Aug-1936',
 '07-Jun-08',
 '02-Sep-1878',
 '13-Apr-1898',
 '10-Feb-13',
 '10-Jul-68',
 '31-Aug-95',
 '18-Feb-68',
 '17-Mar-93',
 '19-Oct-15',
 '12-Apr-02',
 '15-Mar-80',
 '01-Jul-48',
 '  28-Jan-1900',
 'Reported 26-May-1870',
 'Reported 14-Jun-2009',
 '09-Apr-06',
 'Reported 16-Sep-1903',
 '07-Aug-1852',
 '24-Aug-05',
 '06-May-12',
 '13-May-49',
 '30-Jun-40',
 'Apr-46',
 '07-Jun-06',
 '18-Apr-02',
 '26-Aug-01',
 '08-Oct-15',
 '25-Mar-56',
 '23-Nov-92',
 'Reported 21-Aug-1941',
 'Summer 1950',
 '21-Dec-15',
 '24-Apr-60',
 '01-Jun-63',
 '17-Aug-13',
 '10-Jun-02',
 '26-May-08',
 'Nov-02',
 '1958-1959',
 '12-Apr-09',
 '23-Jun-15',
 '17-Aug-85',
 '17-Oct-83',
 'Reported 13-Jan-1912',
 '28-Oct-15',
 '02-Jun-61',
 '28-Jul-59',
 'Reported 26-Sep-1932',
 '26-Aug-67',
 '04-Apr-28',
 '18-Feb-09',
 'Reported 15-Dec-1877',
 '18-Jan-09',
 'Jun-10',
 '29-May-27',
 'Reported      03-Mar-2000',
 '27-Dec-66',
 '04-Oct-64',
 'No date, Before Aug-1987',
 '06-Jun-77',
 '1871',
 '04-Aug-16',
 '15-Jun-58',
 '20-Aug-07',
 '17-Nov-1839',
 '23-May-04',
 '02-Aug-61',
 '14-Jun-04',
 '11-Jul-98',
 '22-Dec-53',
 '24-Jun-1892',
 'Reported 06-Jul-1912',
 'Feb-69',
 '06-Aug-83',
 ' 01-Sep-2013',
 '22-Feb-05',
 'Oct-86',
 '06-Sep-15',
 'Early Jul-1995',
 '21-Nov-93',
 'Reported 18-Feb-1950',
 '10-Sep-00',
 '13-Mar-14',
 '10-May-96',
 '24-Aug-97',
 '  19-Jul-1889',
 '20-Feb-30',
 '05-Feb-70',
 '19-Jul-12',
 '07-May-08',
 '06-Jul-95',
 'Reported 23-Aug-1899',
 'Reported 26-Jan-2009',
 '28-Apr-96',
 '20-Jan-89',
 '09-Nov-97',
 '28-Jul-56',
 '15-Jun-84',
 '1952-1954',
 '16-Jan-09',
 '19-Apr-12',
 'Feb-62',
 '24-Aug-84',
 '05-Mar-1863',
 '23-Jan-49',
 '27-Aug-01',
 '07-May-00',
 'Reported 09-Oct-1852',
 'Feb-55',
 '02-Oct-71',
 '31-May-29',
 '03-Feb-85',
 '26-Jul-74',
 '13-Jul-1862',
 'Reported 11-Jun-1942',
 '15-May-86',
 '22-Dec-86',
 'Reported 14-Aug-1967',
 '14-Dec-08',
 '31-Aug-1858',
 'Aug-55',
 '02-Feb-81',
 '1844.07.16.R',
 '21-Apr-06',
 '24-Dec-05',
 '16-Jan-1884',
 '15-Apr-94',
 '17-Sep-11',
 '01-Feb-59',
 '06-Mar-09',
 '03-Apr-91',
 '27-Sep-53',
 '03-Feb-76',
 '13-Sep-03',
 '04-Jun-1832',
 '05-Jun-60',
 '27-Nov-05',
 '29-May-62',
 '09-Mar-76',
 'Oct-61',
 '05-Oct-86',
 '15-Jun-13',
 '08-May-64',
 '12-Jan-90',
 '27-Jun-09',
 '27-Feb-06',
 '10-Mar-68',
 '25-May-11',
 '07-Jul-11',
 '14-Apr-74',
 '1950',
 '30-Nov-84',
 'Reported      15-Jul-2005',
 '21-Feb-79',
 '19-Dec-1883',
 'Reported 19-Dec-1950',
 'Reported 22-Dec-1891',
 '27-Jun-13',
 '12-Dec-23',
 '26-May-97',
 '01-Apr-34',
 '05-Mar-73',
 '08-Feb-24',
 'Sep-04',
 '10-Jun-72',
 '08-Mar-99',
 'Apr-86',
 '1800',
 '14-Mar-12',
 '26-Jul-75',
 '08-Oct-89',
 '08-Aug-55',
 'Reported 01-Jul-1904',
 '08-Mar-92',
 'Reported 03-Dec-2014',
 '25-Oct-62',
 '  03-Feb-1914',
 'Before 1876',
 '  29-Oct-2011',
 '07-Sep-16',
 '06-Sep-96',
 '30-Dec-12',
 '01-Jul-91',
 '27-Jan-67',
 '19-Aug-15',
 '15-Feb-15',
 '26-Oct-87',
 '20-Dec-05',
 '15-Dec-1892',
 '19-Aug-69',
 '1949-1950',
 '17-Oct-81',
 '09-Apr-89',
 '05-Oct-06',
 '15-Jul-03',
 '16-Feb-81',
 '26-Sep-59',
 '12-Apr-14',
 '30-Apr-02',
 '23-May-94',
 'No date, Before  1975',
 '26-Mar-15',
 '19-Dec-36',
 '2000',
 '29-Jan-08',
 '18-Jul-43',
 '10-May-03',
 '20-Dec-60',
 '14-Jul-1898',
 '22-Oct-10',
 '1955',
 '03-Nov-07',
 '30-Dec-1890',
 '29-Jan-66',
 '11-Aug-13',
 '07-Nov-01',
 '04-Sep-82',
 '21-Sep-10',
 '26-Dec-29',
 '06-Jan-62',
 'Feb-57',
 '08-Nov-1853',
 '26-Dec-1860',
 '09-Jan-1870',
 '25-Jan-97',
 '11-Jul-09',
 '05-Sep-02',
 '29-Jan-92',
 '13-Jul-06',
 'Reported 1638',
 'Dec-1826',
 '13-Jun-95',
 '28-Feb-78',
 '10-Jun-76',
 '18-Feb-53',
 '02-Sep-05',
 '21-May-11',
 'Reported 22-Jan-2012',
 '14-Oct-46',
 '05-Dec-13',
 '26-Mar-05',
 'Reported 20-Jan-1875',
 '  05-Oct-1985',
 '12-Nov-63',
 '13-Sep-66',
 '28-Aug-33',
 '24-Sep-10',
 '27-Oct-76',
 'Sep-14',
 '01-Jul-82',
 '25-Sep-71',
 '09-Feb-96',
 '06-Dec-51',
 '08-Mar-81',
 '17-Jul-05',
 '18-Jan-42',
 '21-Jul-07',
 '01-Jul-16',
 '17-Aug-02',
 '05-Sep-16',
 '01-Aug-1860',
 '22-Aug-94',
 '06-Jan-12',
 '1960',
 '24-Jul-16',
 '05-Sep-99',
 '05-Oct-51',
 'Ca. 1962',
 'Jun-03',
 '18-Oct-94',
 '27-Oct-37',
 '26-Jan-11',
 '05-Jul-03',
 '04-Sep-04',
 '23-Dec-35',
 '17-Jan-85',
 '26-Jul-1830',
 '24-Aug-08',
 'Before 1927',
 '02-Dec-23',
 '06-Jun-89',
 '04-Nov-86',
 '26-Mar-1703',
 '28-Apr-13',
 '1862',
 '21-Oct-08',
 '10-Jul-07',
 '14-May-03',
 '11-Dec-05',
 '21-Aug-01',
 '15-Apr-14',
 '06-Sep-1897',
 '13-Aug-95',
 'Sep-21',
 '23-Jul-16',
 '30-May-59',
 '21-Jun-33',
 '03-Dec-1882',
 '25-Jun-50',
 '1868 (?)',
 '04-Jul-99',
 '29-Jun-00',
 '24-Jun-94',
 '29-Nov-50',
 '06-Sep-12',
 '07-May-56',
 '02-Jun-05',
 ' 14-Aug-2013',
 '16-Aug-61',
 '03-Jan-61',
 '22-Mar-83',
 '27-Feb-66',
 '1960-1961',
 '22-Oct-08',
 '14-Aug-59',
 '27-Jan-62',
 '22-Apr-14',
 '09-Aug-91',
 '10-Nov-13',
 '01-Aug-05',
 '27-Aug-08',
 '10-Oct-1880',
 'Oct-59',
 '26-Dec-59',
 '30-Jun-95',
 '01-Feb-00',
 '29-Aug-14',
 'Woirld War II',
 '24-Oct-09',
 'Reported 27-Sep-1933',
 'Jul-84',
 '02-Oct-12',
 '01-Jan-71',
 '24-Apr-91',
 'Ca. 1911',
 '24-Oct-03',
 'Ca. 1950',
 '24-Feb-08',
 '10-Feb-55',
 '22-Oct-92',
 '26-Mar-73',
 '22-Jan-30',
 '  25-Jun-1982',
 '07-Apr-26',
 '03-Mar-13',
 '11-Sep-37',
 'Aug-00',
 'Reported 25-Dec-1888',
 '05-Mar-99',
 '08-Feb-09',
 '25-Jan-80',
 '27-Sep-31',
 '21-Jul-76',
 '19-Apr-16',
 '26-Jul-99',
 'Reported 10-Feb-1956',
 '16-Jan-56',
 '13-Feb-41',
 '14-Nov-61',
 '10-Apr-60',
 '07-Sep-01',
 'Reported 13-Jul-1853',
 'Reported 27-Aug-1913',
 '1904',
 '09-Apr-16',
 '14-May-63',
 '03-Jan-15',
 'Reported 27-Sep-1939',
 '10-Jul-58',
 '26-Jul-98',
 '18-Jun-13',
 '19-Apr-46',
 '04-Feb-04',
 '03-Jul-99',
 '24-Dec-83',
 '08-Nov-11',
 '29-Dec-02',
 '11-Dec-04',
 '11-Jan-66',
 '12-Aug-62',
 '08-Jul-26',
 '23-Sep-84',
 'Reported 15-Jul-1914',
 '21-Jan-67',
 '05-Mar-64',
 '07-Dec-52',
 '06-Nov-03',
 '07-Jul-16',
 '01-Jun-11',
 'Mar-74',
 '30-Dec-16',
 '19-Dec-61',
 'Aug-43',
 '1888',
 '27-Sep-82',
 '11-Jan-76',
 '17-Nov-95',
 '10-Sep-12',
 '25-Jun-62',
 ' 25-Sep-2013',
 '20-Feb-83',
 '23-Dec-57',
 '01-Dec-60',
 'Jun-02',
 '29-Aug-82',
 '12-Aug-98',
 '07-Jul-13',
 '15-Jul-04',
 '08-Aug-1878',
 '25-Jul-85',
 '14-Feb-88',
 'Before          17-Jul-1916',
 'Feb-23',
 '13-Aug-96',
 '19-Aug-62',
 '30-Jun-03',
 '22-May-23',
 '10-May-11',
 '11-Aug-97',
 '12-Mar-05',
 '24-Mar-79',
 '09-Oct-34',
 'Reported 06-Aug-1931',
 '28-Jun-92',
 '16-Mar-29',
 '19-Jan-07',
 '22-Feb-16',
 '09-Jan-91',
 '1899 During the Seige of Ladysmith',
 '30-Sep-62',
 'Mar-82',
 'Reported 12-Apr-2014',
 'Nov-62',
 '01-Mar-50',
 '14-Feb-82',
 'Reported 27-Nov-1875',
 'Reported 22-Dec-1902',
 'Sep-92',
 '25-Apr-80',
 '15-Jan-22',
 'Reported 18-Sep-1840',
 '06-Oct-04',
 '04-Sep-55',
 '02-Mar-22',
 '05-Sep-70',
 '22-Nov-89',
 '18-May-68',
 'Reported 02-Jun-1975',
 '06-Nov-68',
 '17-Jun-1886',
 '14-Feb-33',
 'Reported 16-Aug-1951',
 'Jan-77',
 '02-Sep-74',
 '08-Mar-42',
 '03-Mar-85',
 '04-Aug-52',
 '1874',
 ' 19-Aug-1993',
 '31-May-16',
 '23-Feb-98',
 '13-Feb-11',
 '07-Jul-00',
 'Reported 04-Nov-1957',
 '26-Aug-91',
 'Sep-56',
 '23-Oct-10',
 '14-Feb-65',
 '03-Apr-08',
 'Feb-07',
 '07-Jul-14',
 '04-May-07',
 '09-Mar-01',
 '30-Aug-60',
 '25-Jun-16',
 '29-Sep-13',
 '28-May-1899',
 '15-Jul-17',
 '21-Jan-1883',
 'Reported 19-Dec-1862',
 '14-Sep-06',
 '15-Jul-13',
 '05-Feb-62',
 '11-Aug-12',
 '29-Aug-01',
 '1878',
 '16-Jul-76',
 'Reported 12-Jan 2011',
 'Jun-89',
 '07-Feb-14',
 '13-Jun-05',
 '02-Oct-01',
 '26-Aug-07',
 '09-Jul-50',
 '21-Dec-11',
 '17-Jul-97',
 '26-Jul-86',
 '28-Dec-97',
 'Reported 17-Apr-1929',
 '02-Jun-95',
 'Reported 26-Oct-1967',
 '27-Aug-73',
 '12-Jul-38',
 '19-Sep-84',
 '07-Dec-83',
 '30-Apr-60',
 '19-Feb-95',
 '13-Jul-05',
 '13-Jan-76',
 '05-Aug-77',
 '30-Sep-82',
 '  Reported 31-Jul-1958',
 'Jun-42',
 'Feb-28',
 '18-Sep-16',
 '22-Jan-1880',
 '25-Nov-92',
 'Reported 04-Jul-1954',
 '09-Jan-73',
 '13-Sep-67',
 '26-Jan-13',
 '10-Jan-83',
 '27-Jul-97',
 '17-Jul-56',
 '23-Jul-12',
 '14-Oct-88',
 '1975',
 '16-Mar-75',
 '14-Jan-31',
 '02-Jun-64',
 '09-Nov-08',
 '16-Sep-07',
 '02-Oct-10',
 '26-Dec-63',
 '19-Apr-03',
 '03-Sep-44',
 '14-Jan-38',
 '29-Aug-89',
 '03-May-15',
 'Mar-1803',
 '06-May-1886',
 '16-Jan-50',
 '17-Oct-61',
 '02-Sep-10',
 '05-Aug-99',
 '22-Aug-64',
 '08-Jan-53',
 '14-Apr-06',
 '13-Jan-74',
 '13-Apr-01',
 '30-Sep-84',
 '20-Jun-34',
 '15-Sep-1877',
 '11-Oct-14',
 '06-Jul-98',
 'Beforer 1994',
 '13-Apr-16',
 '26-Jul-08',
 '03-May-39',
 '05-Jun-07',
 '29-Aug-16',
 '06-Oct-13',
 '07-Mar-07',
 '20-Sep-04',
 '26-Dec-80',
 '30-Dec-83',
 '24-Jul-01',
 '29-Nov-59',
 '04-Jul-96',
 '14-Jul-96',
 '03-Jan-03',
 '30-Aug-62',
 '26-Dec-56',
 '27-Mar-93',
 '16-Mar-11',
 '15-Feb-30',
 '16-Sep-06',
 '26-Jan-12',
 '20-Apr-09',
 '09-Nov-59',
 '26-Jun-08',
 '21-Mar-14',
 'Reported 23-Nov-1951',
 '24-Dec-00',
 '17-Mar-77',
 '19-Jun-15',
 '20-Aug-59',
 '1839/1840',
 '08-Feb-06',
 '14-Dec-48',
 '08-Mar-10',
 '01-Aug-14',
 '07-Jul-37',
 '1883',
 '20-Apr-03',
 '03-Jul-95',
 '25-Nov-24',
 '25-Dec-97',
 '17-Sep-07',
 'Reported 27-Nov-2010',
 '07-Sep-09',
 '03-Oct-02',
 '15-Jul-00',
 '07-Apr-90',
 '23-Jun-95',
 '03-Feb-00',
 '24-Jun-1888',
 '29-Sep-22',
 '10-Nov-1879',
 '06-Aug-16',
 '04-Sep-25',
 'Reported 06-Jul-1915',
 '28-Oct-13',
 'Reported 29-Mar-1895',
 ' 07-Sep-2013',
 '30-Aug-12',
 '29-Aug-1858',
 '17-Apr-63',
 '21-Nov-42',
 '08-Jul-15',
 'Reported 1845',
 '06-Oct-05',
 'Reported 12-May-1882',
 '12-Oct-58',
 '31-May-17',
 '16-Jul-39',
 '09-Oct-94',
 '21-Nov-24',
 '02-Apr-78',
 '19-Mar-67',
 '14-Oct-07',
 '10-Aug-67',
 '27-Nov-10',
 '14-May-1882',
 '25-Dec-68',
 'Reported      23-Aug-1998',
 '07-May-02',
 'Jul-61',
 '14-Jan-23',
 '16-Sep-97',
 '02-Sep-96',
 '16-Nov-1895',
 '11-Jul-63',
 '02-Jul-58',
 '23-Jan-64',
 '05-Mar-86',
 '07-Jun-97',
 '15-Jan-62',
 '09-Jul-94',
 '06-Aug-45',
 '22-Aug-69',
 '13-Jul-11',
 '25-Jul-10',
 'Ca. 1890',
 '11-Dec-15',
 '20-Jun-74',
 '10-Aug-81',
 '25-Apr-96',
 '10-Mar-82',
 '19-Apr-06',
 '27-Mar-1841',
 '17-Aug-1885',
 'Late Aug-1982',
 'Circa 1855',
 '01-Feb-13',
 '25-Jun-13',
 '18-May-16',
 'Reported 09-Nov-1892',
 '03-Aug-04',
 '21-May-02',
 '04-Jul-24',
 '07-Apr-68',
 '14-Jan-66',
 '12-Feb-16',
 '21-Nov-1874',
 '19-Aug-95',
 'Reported 03-Oct-1889',
 '19-Aug-48',
 '20-Mar-35',
 '28-Sep-11',
 '23-Mar-08',
 '29-Mar-75',
 '01-Apr-87',
 '1847',
 '01-Jun-08',
 '15-Aug-93',
 'Aug-64',
 '19-May-81',
 'Reported 06-Nov-1937',
 '19-Jul-88',
 '04-Jan-11',
 '22-Jun-98',
 '04-Jun-96',
 '25-Oct-87',
 '21-Aug-68',
 '24-Jun-07',
 '20-Mar-07',
 '03-Apr-09',
 '21-Feb-04',
 '23-Jun-90',
 '08-Jul-1889',
 '16-May-66',
 '13-Apr-49',
 'Nov-17',
 '25-Jun-96',
 'Reported 26-Nov-1885',
 '29-Oct-00',
 'No date (3 days after preceding incident) & prior to 19-Jul-1913',
 '11-May-14',
 '12-Jan-1887',
 '15-Apr-87',
 '06-Oct-07',
 '21-Jul-97',
 '18-May-04',
 '16-Jul-16',
 '04-Jul-02',
 '07-Oct-14',
 '27-Jan-23',
 '23-Dec-34',
 '15-Feb-62',
 '12-Jan-59',
 '14-Jun-15',
 '30-Jul-45',
 '04-Feb-01',
 '14-Jun-12',
 '1867',
 '08-Sep-65',
 '22-Sep-76',
 '09-May-67',
 '04-Feb-36',
 '11-Aug-59',
 '11-Feb-64',
 '29-Nov-1896',
 '15-Dec-17',
 '16-Mar-31',
 '24-May-07',
 '18-Feb-85',
 '08-Nov-88',
 '02-Aug-97',
 '29-Aug-72',
 '09-Apr-05',
 '01-Apr-98',
 '15-Jun-06',
 '01-Jun-76',
 '15-Oct-62',
 'Before  1958',
 '16-Jun-13',
 '02-Nov-98',
 '1984',
 '26-Aug-64',
 'Apr-13',
 '09-Jul-86',
 '06-Jan-61',
 'Reported 23-Dec-1910',
 '29-May-11',
 '06-Jul-00',
 '1950.07.19',
 'Jul-01',
 '22-Mar-93',
 '20-Aug-61',
 '05-Mar-05',
 '20-Jul-89',
 '03-Mar-01',
 'Reported 21-Apr-1892',
 '18-Feb-84',
 '11-Dec-11',
 'Circa 500 A.D.',
 'Mar-59',
 '08-Nov-07',
 '01-Jan-72',
 '09-Sep-08',
 '07-May-07',
 'Ca. 1970',
 'Reported 28-Aug-1908',
 '03-Dec-00',
 '04-Jul-07',
 '24-May-22',
 '28-Mar-60',
 '19-Jan-12',
 '21-Sep-65',
 '06-Feb-63',
 '18-Jan-12',
 '13-Dec-09',
 '25-Jan-14',
 '23-Jul-88',
 '25-Jan-59',
 '23-Apr-16',
 '16-Oct-55',
 '10-May-1788',
 '03-Sep-55',
 '06-Dec-11',
 '08-Aug-23',
 '1920',
 '26-Aug-62',
 '18-Dec-09',
 '09-May-12',
 '29-Dec-05',
 '01-Feb-64',
 '01-Oct-04',
 '08-Mar-59',
 '18-Apr-08',
 '22-Aug-60',
 '01-Oct-99',
 'Reported 05-Nov-1963',
 'Dec-73',
 ...}

In [383]:
set(df[(df.year==0)]['date'])

{'"Before the war"',
 '"During the war" 1943-1945',
 '1845-1853',
 '1880-1899',
 '1883-1889',
 '1896-1913',
 '1900-1905',
 '1920 -1923',
 '1940 - 1950',
 '1940-1946',
 '1941-1942',
 '1941-1945',
 '1950s',
 '1960s',
 '1990 or 1991',
 '2003?',
 '2009?',
 '493 B.C.',
 'A few years before 1938',
 'Before          17-Jul-1916',
 'Before          19-Jul-1913',
 'Before  19-Jun-1959',
 'Before  1958',
 'Before  24 Apr-1959',
 'Before 08-Jun-1912',
 'Before 1876',
 'Before 1900',
 'Before 1901',
 'Before 1903',
 'Before 1905',
 'Before 1906',
 'Before 1908',
 'Before 1909',
 'Before 1911',
 'Before 1916',
 'Before 1917',
 'Before 1921',
 'Before 1927',
 'Before 1930',
 'Before 1934',
 'Before 1936',
 'Before 1952',
 'Before 1956',
 'Before 1957',
 'Before 1958',
 'Before 1960',
 'Before 1961',
 'Before 1962',
 'Before 1963',
 'Before 1996',
 'Before 2003',
 'Before 2004',
 'Before 2006',
 'Before 2009',
 'Before 2011',
 'Before 2012',
 'Before 2016',
 'Before Feb-1998',
 'Before Mar-1956',
 'Before Oct-2009',
 'Beforer 1994',
 'Between   1951-1963',
 'Between 1918 & 1939',
 'Ca. 214 B.C.',
 'Ca. 336.B.C..',
 'Ca. 725 B.C.',
 'Circa 1862',
 'Early 1930s',
 'No date',
 'No date (3 days after preceding incident) & prior to 19-Jul-1913',
 'No date, After August 1926 and before 1936',
 'No date, Before  1975',
 'No date, Before 1902',
 'No date, Before 1963',
 'No date, Before 1969',
 'No date, Before 1975',
 'No date, Before 1987',
 'No date, Before 3-Jan-1967',
 'No date, Before 8-May-1965',
 'No date, Before Aug-1987',
 'No date, Before Aug-1989',
 'No date, Before Mar-1995',
 'No date, Before May-1996',
 'No date, late 1960s',
 'Said to be 1941-1945, more likely 1945',
 'World War II'}

In [384]:
df.date=df.date.str.replace("Before", "").replace("Between", "").replace("A few years before 1938", "1938").replace("No date","").replace("Between ", "")
df.date=df.date.str.replace("No date,", "").replace("No date", "").replace("Between   ", "").replace("Between ", "")
df.date=df.date.str.replace(" ", "")