In [3]:
import pandas as pd
import numpy as np
import re

In [4]:
#First Step: Check data
data = pd.read_csv('./GSAF5.csv', engine='python')

In [5]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
data.shape

(5992, 24)

In [7]:
data.size

143808

In [5]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [7]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [8]:
# Check if columns are unique
for i in data.columns:
  print('{} is unique: {}'.format(i, data[i].is_unique))

Case Number is unique: False
Date is unique: False
Year is unique: False
Type is unique: False
Country is unique: False
Area is unique: False
Location is unique: False
Activity is unique: False
Name is unique: False
Sex  is unique: False
Age is unique: False
Injury is unique: False
Fatal (Y/N) is unique: False
Time is unique: False
Species  is unique: False
Investigator or Source is unique: False
pdf is unique: False
href formula is unique: False
href is unique: False
Case Number.1 is unique: False
Case Number.2 is unique: False
original order is unique: False
Unnamed: 22 is unique: False
Unnamed: 23 is unique: False

In [9]:
# Check the index values
data.index.values

array([   0,    1,    2, ..., 5989, 5990, 5991], dtype=int64)

In [9]:
# Step 2 Data Cleaning
# Handling missing values
data.isna()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [10]:
# Step 2 Data Cleaning
# Handling missing values
data.isnull()
#returns 'True' where there ARE missing values:

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5988,False,False,False,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5989,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
5990,False,False,False,False,False,True,False,True,False,False,...,True,False,False,False,False,False,False,False,True,True
5991,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True

In [12]:
#Sum of the missing values
data.isna().sum()

Case Number                  0
Date                         0
Year                         0
Type                         0
Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
pdf                          0
href formula                 1
href                         3
Case Number.1                0
Case Number.2                0
original order               0
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [14]:
type(data.isna().sum())

pandas.core.series.Series

In [16]:
missing_values = data.isna().sum()

In [17]:
#Filter with '.loc.' in order to obtain only the columns with missing values:
missing_values.loc[missing_values.gt(0)]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [20]:
#Know what type of percentage of values are we misisng, useful in order to clarify which columns we should drop.

missing_values_percentage=missing_values[missing_values.gt(0)]/len(data)
missing_values_percentage

Country                   0.007176
Area                      0.067089
Location                  0.082777
Activity                  0.087951
Name                      0.033378
Sex                       0.094626
Age                       0.447430
Injury                    0.004506
Fatal (Y/N)               0.003171
Time                      0.536215
Species                   0.489653
Investigator or Source    0.002503
href formula              0.000167
href                      0.000501
Unnamed: 22               0.999833
Unnamed: 23               0.999666
dtype: float64

In [23]:
#Copying df and using df.drop() in order to eliminate the columns with high percentage of missing values:

data_copy = data.drop(columns=missing_values_percentage.loc[missing_values_percentage.gt(0.5)].index).copy()
data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

In [24]:
#function in order to return columns with missing values to avoid repeating:

def columns_missing_value(df):
    return (df.isna().sum())[df.isna().sum() > 0]

In [26]:
#Remaining columns with missing values:

columns_missing_value(data_copy)

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
dtype: int64

In [27]:
missing_values_percentage.loc[missing_values_percentage.gt(0.05)].index

Index(['Area', 'Location', 'Activity', 'Sex ', 'Age', 'Time', 'Species ',
       'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

In [28]:
#Check Columns that don't appear in DF 

evaluation_columns_1 = ['Area', 'Location', 'Activity', 'Sex ', 'Age', 'Species ']

data_copy= data_copy.drop(columns=['href formula', 'href', 'pdf'])

data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2

In [29]:
#columns'Case Number','Case Number.1','Case Number.2' seem to share similar titles and values we evaluate that

data_copy[["Case Number", "Case Number.1", "Case Number.2"]]

       Case Number Case Number.1 Case Number.2
0     2016.09.18.c  2016.09.18.c  2016.09.18.c
1     2016.09.18.b  2016.09.18.b  2016.09.18.b
2     2016.09.18.a  2016.09.18.a  2016.09.18.a
3       2016.09.17    2016.09.17    2016.09.17
4       2016.09.15    2016.09.16    2016.09.15
...            ...           ...           ...
5987       ND.0005       ND.0005       ND.0005
5988       ND.0004       ND.0004       ND.0004
5989       ND.0003       ND.0003       ND.0003
5990       ND.0002       ND.0002       ND.0002
5991       ND.0001       ND.0001       ND.0001

[5992 rows x 3 columns]

In [31]:
#"Slicing" is risky as editing columns will overwrite the DataFrame

type(data_copy[["Case Number", "Case Number.1", "Case Number.2"]] )

pandas.core.frame.DataFrame

In [33]:
#In order to see if there are duplicated values, the duplicated method is used:

data2 = data_copy.duplicated(["Case Number", "Case Number.1", "Case Number.2"])
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [35]:
#call duplicated rows alone, for this we filter the data using 'loc':

data2_duplicates=data2.loc[data2 == True]
data2_duplicates

301     True
393     True
524     True
841     True
1213    True
1376    True
2410    True
2713    True
2838    True
3318    True
3589    True
4983    True
5029    True
5091    True
5121    True
5208    True
dtype: bool

In [36]:
#now these rows are stored in a variable in order to be counted
data2_duplicates.count()

16

In [37]:
# Setting index
data_copy.sort_values(by=['original order'], inplace=True)

In [39]:
data_copy.index = data_copy['original order']
data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [45]:
data_copy= data_copy.rename(columns={"original order": "Order" })
data_copy['Order']

original order
2          2
3          3
4          4
5          5
6          6
        ...
5989    5989
5990    5990
5991    5991
5992    5992
5993    5993
Name: Order, Length: 5992, dtype: int64

In [47]:
data_copy.reset_index(drop=True, inplace=True)
data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,Order
0,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
1,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,Unknown,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
2,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
3,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
4,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5988,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5989,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5990,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5991,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [49]:
data_copy.index = data_copy['Order']
data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,Order
Order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,Unknown,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,Unknown,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,Unknown,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [40]:
#Checking for unique values in Type:
data_copy.Type.unique()

array(['Unprovoked', 'Boat', 'Sea Disaster', 'Provoked', 'Invalid',
       'Boating'], dtype=object)

In [42]:
# Data Manipulation
#The column 'Age' has NaN entries where the age is Unknown, replacing "NaN" with "Unknown":
data_copy['Age'].fillna('Unknown', inplace=True)
data_copy

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,Case Number.1,Case Number.2,original order
original order,,,,,,,,,,,,,,,,,,
2,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,S.W. Baker,ND.0001,ND.0001,2
3,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,Unknown,FATAL,Y,NaN,"The Sun, 10/20/1938",ND.0002,ND.0002,3
4,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,Unknown,FATAL,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND.0003,ND.0003,4
5,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND.0004,ND.0004,5
6,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,Unknown,FATAL,Y,NaN,"H. Taunton; N. Bartlett, p. 234",ND.0005,ND.0005,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5989,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,Unknown,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",2016.09.16,2016.09.15,5989
5990,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,Unknown,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",2016.09.17,2016.09.17,5990
5991,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a,2016.09.18.a,5991
5992,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b,2016.09.18.b,5992
5993,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c,2016.09.18.c,5993

In [44]:
#The column 'Name' has "male" values instead of "Unknown" where the name is Unknown, replacing "male" and "female" with "Unknown" 

data_copy['Name'] = data_copy['Name'].replace(['male','female',...],'Unknown')
data_copy['Name']

original order
2                     Unknown
3             Jules Patterson
4       Coast Guard personnel
5                       Ahmun
6                     Unknown
                ...
5989                  Unknown
5990          Rory Angiolella
5991                  Unknown
5992           Chucky Luciano
5993                  Unknown
Name: Name, Length: 5992, dtype: object

In [50]:
# Data Manipulation
# Delete
data_copy['Date'] = data_copy['Date'].str.replace('[Reported, Letter dated]', '')
print(set(data_copy['Date']))

{'07-Jn-62', '30-Oc-10', '09-Dc-62', 'S-15', '17-Nv-1839', '02-Aug-70', '06-Aug-05', '18-Jun-35', '05-Dc-13', '09-Dc-1932', '08-Oc-34', '09-M-61', '19-My-81', '03-Dc-41', '12-Nv-50', '16-Aug-1881', '15-Jun-13', '24-M-02', '06-S-1897', 'NBfAug-1989', '26-Jul-08', 'Jn-28', '03-M-1875', '21-M-72', '03-Jul-1962', '30-Nv-10', '10-S-99', '06-S-67', 'My-54', '24-Aug-76', '08-Fb-32', '1990', '09-Jun-99', '26-M-05', '25-M-56', '13-A-15', '08-Fb-14', '27-Nv-76', '1748', '29-Aug-62', '19-A-46', '29-Jul-99', '31-My-97', '14-Nv-190919-Nv-1909', '18531854', '28-Aug-49', '13-M-75', '1938', '03-A-91', '07-Jun-91', 'M-59', '05-Jul-70', '14-A-61', '27-S-66', '21-Jun-62', '14-S-08', '18-Jn-1893', '10-Dc-06', '19-Dc-81', '09-M-05', '09-M-75', '21-Jul-1889', '20-A-08', '08-Oc-08', '17-Jn-59', '03-S-07', '12-Aug-05', 'Bf2006', '21-M-13', '01-Jn-1886', '16-S-93', '27-Oc-56', '09-A-2008', '23-Jn-07', '05-Jul-1883', '22-Jul-15', '22-A-69', '13-Nv-42', '28-Jul-49', '13-S-92', 'Jul-1900', '15-Jul-2005', '26-Aug-98', '16-My-09', '14-Jun-2013', '30-M-00', '01-Oc-86', '18-Fb-11', '23-Oc-1888', '14-S-73', '23-My-01', '18-S-66', '10-Jn-2009', '27-Jn-69', 'A-02', '30-S-93', '17-Nv-00', '1996', '11-A-09', '15-Oc-62', '15-My-16', '03-Oc-02', '26-Dc-1860', '02-Jun-2008', '29-Jn-41', '02-Nv-04', '22-M-07', '03-Fb-37', '03-Nv-27', '31-My-17', '31-Dc-03', '1913', '04-Jul-02', '05-A-43', '06-Fb-2010', '25-A-1974', '19-Aug-07', 'Aug-14', '19955', '02-Nv-02', '08-Nv-09', '04-A-1877', '27-A-08', '28-A-96', 'S-08', '26-My-97', '16-Jun-33', '25-Oc-87', '11-Jul-16', '12-A-1935', '08-My-07', 'Bf2012', '15-Jul-99', '29-Dc-75', '03-Jn-12', '14-My-1890', '1638', '12-Jul-16', '05-Jul-03', '15-S-08', '11-Jn-1896', 'Jun-67', '1882', '04-Fb-62', '04-Aug-75', '10-Jun-10', '10-S-00', '13-Dc-61', '20-S-04', '19-Aug-90', '07-Jul-62', '19-Dc-15', '09-Fb-13', '05-M-05', '29-M-80', '14-Jul-1862', '23-Jun-95', 'M-1851', '1988', '25-S-1861', '21-Dc-73', '17-Jn-15', '05-Dc-48', '17-Fb-1888', '26-A-04', '18-Dc-67', '22-M-06', '17-Aug-49', '30-Nv-1872', '16-Oc-1881', '18-S-96', '21-Fb-79', '12-My-12', 'Ely1930s', '01-M-50', '26-M-07', '25-S-2013', '01-My-1911', '27-M-04', '28-My-65', 'Oc-56', '19-Jn-2008', '15-Oc-92', '16-Nv-15', '16-Jn-13', '1973', '10-A-88', '06-Jn-12', '01-Nv-74', '14-Jn-98', '13-Dc-58', '1899', '10-Jn-83', '27-Jul-97', '10-A-65', '21-Nv-13', '01-A-99', '25-A-80', '14-Oc-14', '22-Jn-2012', '05-Jn-10', '22-Oc-11', '01-Jun-88', '15-S-01', '1968', '02-Jn-03', '29-Dc-09', '17-My-1893', '1914', '12-A-14', '1867', 'Bwn18&22-Dc1944', '02-Oc-04', '07-Fb-08', 'Aug-64', '05-Jul-75', '21-Jun-08', '25-Dc-1888', '1942', '20-Jul-69', 'A-70', '24-Dc-05', '05-Jun-16', '14-Oc-02', '05-Jul-52', '26-Jun-12', '16-S-1903', '02-Jn-1864', '19-Fb-51', '29-Nv-29', '13-Fb-74', '12-Jul-26', '16-Jn-1884', '1330-My-1967', '27-Jul-91', '27-M-09', '12-Oc-85', '26-My-1956', '04-Fb-16', '11-S-1899', '27-A-1909', '08-Aug-1890', '25-Aug-09', '09-A-1885', '04-A-04', '13-My-1947', '13-Aug-83', '11-Jn-64', '13-Jul-52', '10-Oc-1906', '25-Oc-05', '25-Jul-01', '20-Fb-83', '01-Jn-81', '12-Fb-48', '22-Jun-1893', '14-Jn-44', '25-Oc-1939', '03-Jn-03', '13-Fb-94', 'Fb-61', '08-S-65', '20-My-01', 'NAfAugus1926nbf1936', '28-Aug-90', '02-Aug-37', '20-Jul-96', '25-My-09', '29-Jun-60', '1911', 'Fb-28', '23-Jul-68', 'M-53', '24-Aug-14', '10-Jul-00', '09-Dc-94', '16-Nv-2005', '26-Jul-1898', '19-Jn-91', '27-Nv-04', '08-Nv-84', '15-Jun-58', '04-Fb-36', '03-Jul-59', '15-S-84', '08-S-90', '21-A-1892', '30-S-59', '17-A-13', '27-Fb-73', '20-Jn-44', '30-Oc-12', '19-Oc-15', 'C.1900', '26-M-51', '08-Nv-07', '20-Nv-2011', '23-Nv-92', '14-M-66', 'Bf1876', '06-Jn-63', '23-Nv-23', 'Jul-03', '30-M-63', '2-Jul-1997', 'M-34', '27-Jul-14', '25-My-15', '03-My-01', '25-Jul-04', '21-Jn-04', '22-My-92', '22-Jn-54', '14-Oc-46', '03-Fb-76', '29-Aug-10', '12-Nv-28', '04-Jn-33', '04-Oc-97', '09-Dc-56', '12-Nv-63', '1960', '09-Oc-00', '12-S-1894', '13-Jn-12', '24-Aug-1902', 'ElyS-2000', '20-My-75', '10-M-84', 'C.1847', '20-Jn-1887', '28-Nv-02', '13-M-16', '21-Dc-01', '05-S-16', '05-Jul-60', '18-Aug-38', '27-S-2005', '02-Nv-75', '16-Fb-61', '01-Dc-60', '25-M-1935', '30-Jun-03', '16-Aug-61', '16-Jun-88', 'Cic1862', '18-A-87', '30-Oc-93', '09-Dc-1915', '17-Fb-86', '04-Jul-24', 'Fb-47', '13-S-88', '03-Fb-07', '1904', '15-Jul-13', '10-Jn-1903', '07-Dc-11', '02-Jn-95', '28-Aug-1884', '07-Jul-55', '12-My-62', '1958-1959', '11-My-14', '14-A-1893', '27-M-13', '25-Dc-13', '1979', '01-Fb-00', '09-Jul-08', '24-My-15', '15-Dc-17', '02-S-14', '05-S-07', '11-M-07', '11-A-1886', '15-Oc-07', '19-Jul-08', '24-S-05', '26-Fb-33', '21-Fb-04', 'A-80', '02-Dc-89', '30-S-82', '1961', '10-Aug-74', '21-A-13', '28-A-10', 'Jn-91', '18-M-06', '05-Fb-15', '01-Fb-61', '16-S-97', '24-Dc-02', '30-Aug-97', 'Dc-96', '10-Jun-14', '19-Jul-30', '13-Aug-96', '09-Jn-1870', '20-Fb-30', '18-Dc-95', '06-S-45', 'Summ1950', '12-A-55', '13-Aug-59', '14-Jun-12', '25-Jun-15', '15-Dc-1892', '22-Aug-88', '08-M-38', '30-Jun-11', '25-Jn-14', '10-Dc-07', '02-Dc-30', '19-Nv-75', '10-Jul-96', '17-S-15', '01-My-1943', '27-Jun-54', '1874', '11-S-92', '20-Nv-33', '11-Fb-10', '13-Jun-87', '13-Jul-14', '10-Dc-96', '19-Jul-62', '22-Dc-63', '09-Aug-97', '14-Jun-16', '18-Fb-53', '19-My-06', '15-Jn-55', '22-Aug-05', '24-Fb-08', '08-Jun-38', '13-Jul-11', '05-M-95', '18-Jun-12', '24-Oc-88', '02-Jun-1886', '28-Jn-63', '30-Jul-54', '09-Oc-94', '12-Aug-07', '30-Aug-00', '22-Jul-07', '06-Jun-23', '22-Nv-13', '11-S-1896', '29-Jul-61', '07-Fb-62', '22-Jul-14', '21-Jul-87', '30-A-61', '10-Jn-1580', 'M-48', '05-Oc-15', '23-Jul-06', '24-Jun-16', 'C.1929', '1912', '06-Dc-99', '14-M-12', '17-Jun-13', '15-Oc-90', '20-S-05', '18-S-1864', '18-Oc-98', '11-Jul-1982', '06-Nv-03', '12-Aug-1907', '15-Jun-06', '24-Aug-68', '18-Oc-09', '01-Nv-1896', '12-Jul-56', '09-Oc-04', '18-M-75', '27-Jun-2014', '31-Jul-82', '21-Jul-92', '24-Jun-11', '06-S-16', '23-Aug-31', '21-Dc-29', '17-Aug-1890', '19-Aug-05', '05-Fb-1863', '16-M-13', '04-Jun-30', '13-Jun-59', '21-Jul-76', '11-Jul-30', '13-Jul-06', '19-A-2008', '29-Aug-96', '22-My-04', '04-S-2010', '01-Jul-48', '03-Jul-14', '31-Aug-37', '21-Jul-97', '06-Oc-88', '09-A-28', 'Dc-68', '22-Jul-144', '04-Oc-64', '02-My-1938', '12-M-1887', '17-Jul-88', '09-Jul-2006.', '20-My-66', '10-A-09', '04-M-16', '22-My-51', '06-Oc-05', '17-S-1848', '08-M-50', '03-Aug-52', '12-A-2014', '03-Jun-1895', '23-Jn-93', '09-M-47', '03-Aug-48', '12-Jn-96', '18-Aug-11', '15-Jul-63', '18-Oc-1907', '29-Jun-1901', '27-Dc-48', '27-A-59', '19-Jun-65', '25-Aug-16', '04-M-56', '03-Fb-99', '02-Jun-64', '01-Jul-16', '05-Fb-70', '13-Nv-09', '06-Nv-99', 'Dc-53', '07-Jul-95', '19-Nv-41', '06-Jul-1912', '09-Jn-1958', 'Bf1871', '07-Jn-52', '11-Aug-1895', '12-Oc-1899', '26-Jul-56', '28-Jul-56', '18-Aug-08', '11-Aug--2011', '25-Jul-85', '28-S-95', '04-S-55', '29-Oc-00', '18-Aug-92', '13-A-16', '17-Dc-70', '22-Fb-09', '06-Fb-63', '24-My-1844', '19-Fb-12', 'Bf1960', '26-Jun-91', '03-Oc-05', '26-S-09', '30-My-98', 'Nv-47', '06-S-76', '21-Nv-42', 'MiJul-1985miJul-1986', '25-A-2009', 'Jn-59', '20-Jun-74', '19-Fb-81', '09-M-35', '14-Jn-07', '27-M-1860', '17-Jn-03', '13-My-49', '02-Fb-62', '18-My-95', '07-Jun-06', '28-Jun-98', '06-Jul-01', '06-Aug-52', '.22-Fb-1902', '13-S-02', 'My1993', 'S-28', '28-Jn-1900', '21-S-10', '07-A-62', '11-Aug-59', '28-Dc-61', '20-Dc-05', '02-A-2013', '10-M-1879', '23-Nv-99', '13-A-05', '24-M-41', '1842', '21-Jun-1934', '15-My-38', '18-Fb-86', '10-Fb-64', '05-Oc-06', '13-Nv-99', '16-Oc-23', '24-Oc-1878', 'Aug-04', 'Nv-11', '11-My-1930', '18-Jun-09', '25-A-65', '20-Oc-56', '01-Jul-15', '10-Nv-1983', '25-Jn-48', '23-S-56', '28-Dc-65', '26-M-44', 'Jul-47', '26-Aug-64', '23-A-16', '13-Jn-80', '21-Dc-28', '20-Oc-14', '02-Jul-32', '22-Nv-89', '25-Dc-12', '21-Dc-63', '30-M-36', '25-S-41', '04-Fb-10', '1954', '15-My-86', '18-Jul-38', '14-Jun-1890', '19-Jun-99', '02-Jun-16', '08-Jul-90', '28-Nv-42', '27-Jn-88', '02-My-16', '16-S-1999', '17-Aug-92', 'Jun-42', '19-M-02', '25-Jn-1902', '05-Jun-05', '1863', 'MiOc-1901', '14-Jul-24', '08-Jn-76', '12-My-32', '16-Oc-55', '04-S-99', '28-Aug-33', '20-Jn-05', '31-Dc-1955', '31-My-06', '10-Dc-65', '30-Jul-12', '11-Fb-02', '24-M-62', '13-Dc-94', '1907', '20-Nv-00', '03-Dc-59', '10-S-04', '04-Aug-1955', '20-S-67', '07-A-53', '27-Dc-58', '11-Oc-13', '20-Nv-54', '25-Jun-1982', '11-A-59', '24-Jul-1947', '28-Jun-32', '13-Jul-1862', '24-Oc-85', '16-A-32', '31-M-60', '23-Jun-75', '15-My-37', '29-Jun-91', '17-Jn-09', '26-Fb-39', '09-A-61', '01-Fb-75', '22-Oc-34', '29-Jun-20', '17-Jn-1868', '31-M-12', '04-Dc-91', '13-My-14', '28-Aug-66', 'Oc-58', '15-Nv-99', '01-Jul-82', '01-S-01', '24-Oc-13', '28-M-16', '20-Jun-12', '22-A-63', '01-M-94', 'S-75', 'Jn-09', '11-Dc-04', '23-Dc-71', '03-S-14', '15-A-87', '01-S-74', '31-Dc-66', '1852', '29-S-22', 'Dc-73', '10-Jul-04', '10-Aug-95', '12-Nv-1992', '16-Dc-51', '20-A-1960', '08-My-85', '17-M-2009', '09-Jn-07', '16-Nv-09', '28-Jun-2012', '24-A-88', '23-Jul-95', 'C.1915', '28-A-1894', '17-Jul-56', '13-Aug-89', '13-A-2007', 'Sib1941-1945mlikly1945', '01-S-16', '07-Nv-01', '22-S-84', '07-Fb-82', '14-S-74', '08-Jun-1910', '15-Jul-31', '06-A-94', '21-Jul-01', '27-Aug-2000', '03-M-85', '04-Fb-07', 'Bf1958', '05-S-1906', '28-S-1828', '08-A-90', 'Bf1956', '04-Jun-66', '07-Jun-16', '01-S-37', '14-Jul-66', '05-M-12', '20-Dc-63', '11-Aug-12', 'S-17', '08-My-64', '25-Jn-65', '28-Jun-1937', '20-Aug-08', '26-Jun-80', '04-Jul-03', '04-Aug-01', '12-Aug-00', '1932', '22-Aug-1960', '07-S-05', '10-Jun-00', '17-Fb-1877', '27-Aug-34', '08-M-81', '22-Jun-83', '31-My-14', '26-Jul-75', '17-Fb-90', '28-A-57', 'Dc-1826', '27-Jn-37', '05-A-75', '19-Fb-92', '02-Oc-01', '16-Jul-64', '15-Fb-62', '26-Dc-80', '26-My-1870', 'A-89', '18-Dc-57', '1950.07.19', '190Fb-2010', '28-Oc-1898', '18-S-1895', '01-Aug-56', 'Bwn1951-1963', '09-M-41', '13-S-2010', '11-Dc-11', '22-Fb-40', '28-Nv-51', '24-Nv-08', 'Aug-55', '03-Nv-65', '22-Nv-60', '19-Aug-69', '28-M-1855', '1995', '06-Dc-11', '08-My-01', '06-S-08', '10-S-63', '30-Aug-1879', '14-Nv-10', 'Summ1974', '26-M-50', '25-Jul-1880', '28-Dc-12', 'M-10', '19-Jul-2007.b', '12-Jul-42', 'Bf1917', '21-Dc-83', '14-S-03', 'C.1543', '30-Jul-93', '28-Nv-11', '1949-1950', '1897', '01-Dc-94', '30-Nv-67', '09-S-97', '21-Nv-93', 'Dc-1840', '28-Dc-39', '16-Jn-50', '28-Fb-78', '20-A-1874', '05-Jn-84', '02-Jn-93', '25-Nv-08', '21-Dc-02', '20-Aug-87', '30-Dc-16', '24-Nv-80', '21-Jul-99', '22-Jul-00', 'Aug-62', '22-S-98', '29-S-06', '09-Nv-39', '21-Jn-62', '16-A-95', '21-Jun-11', '30-Nv-30', '1940-1950', '17-Dc-1742', '25-My-75', '05-Jul-67', '09-Oc-11', '3-Jul-1879', '26-Dc-59', '21-Nv-1874', '10-M-05', '22-M-04', '21-Jun-1856', '1998', '19-Jul-89', '07-S-09', '25-Dc-63', '2009?', 'Jul-59', 'Jn-63', '22-Aug-15', '04-M-89', '13-S-00', 'C.1965', '13-Aug-09', '01-Oc-92', '02-Jun-66', '20-Oc-90', '07-S-10', '08-Aug-23', '01-Fb-86', '16-Jn-62', '09-Jn-73', '11-Jul-10', '08-S-12', '14-M-43', '20-Fb-40', '21-Dc-11', '08-S-13', 'NBf8-My-1965', '30-Oc-09', 'Aug-00', '17-Jun-92', '08-Jn-89', '26-Dc-1845', '19-M-67', '05-Aug-41', 'C.1962', '12-Jun-01', '15-My-05', '08-A-63', '08-Aug-64', '07-Oc-56', 'NBf1969', '30-Nv-81', '15-Nv-1928', 'Fb-77', '30-Jun-15', '01-Jul-84', '03-Dc-1929', 'Nv-93', '27-Jul-68', '19-My-60', '04-A-70', '04-Jul-75', '31-My-29', '28-S-22', '31-My-95', '08-Aug-55', '30-Jun-40', '21-Nv-43', '09-Jun-1897', '07-Jn-07', '16-My-59', 'Jn-26', '20-A-97', '23-A-2006', '16-Jul-1895', '04-Dc-63', '08-Dc-15', '18-Aug-01', '14-Fb-33', '18-Dc-98', '23-My-1923', '10-Oc-13', '07-A-57', '28-S-07', '30-M-52', '26-A-08', '24-My-33', '1936', '11-Jun-66', 'Aug-93', '05-Jul-14', '13-Nv-94', '05-Jn-13', '1972', '1886', '18-Nv-33', '09-Jn-94', '15-Fb-10', '11-Nv-02', '15-Jul-02', '13-Jn-13', '21-Aug-93', '31-Jul-24', '11-Oc-08', '20-A-24', '31-Aug-31', '07-My-56', 'Dc-47', '23-Jun-55', '02-Jun-1958', 'Fb-1888', '07-My-1957', '1930', '08-S-97', '19-A-58', '06-Oc-03', '25-Dc-30', '17-Jul-06', '17-My-2007', '28-Jul-1855', '02-Jul-1830', '11-Jul-88', 'ElyJul-1980', '07-Jul-13', 'Jun-89', '06-26-1890', 'Aug-05', '22-Aug-95', '14-Dc-62', '26-Fb-04', '14-M-93', '07-Fb-60', '18-M-99', '25-Jun-07', '18-Jn-42', '20-Jn-06', '10-My-2014', '18-Jun-61', '17-M-93', '02-My-1880', '06-Jn-61', '07-Fb-09', '03-Oc-1889', '27-Oc-00', '20-Aug-56', '25-Nv-73', '06-Aug-45', '15-My-1880', '1937', '05-Jn-93', 'S-03', '21-Jun-1896', '1939', '28-A-09', '28-Aug-1877', '21-S-2013', '10-M-11', '1917', '18-Jn-62', '31-M-88', '31-Jul-15', '21-Jun-16', '30-Aug-31', '09-Nv-97', '28-Oc-1995', '03-Dc-52', '15-A-1869', '11-S-194216-S-1942', '29-Nv-14', '1925', '17-Jun-95', '03-Oc-96', '01-Jn-07', '18-Jul-81', '06-Jn-32', '10-M-92', 'Oc-60', '11-Dc-1894', '12-My-09', '12-Nv-1959', '21-Nv-1895', '09-M-01', '09-My-12', '12-M-29', '02-Jul-60', '11-Jn-1827', '22-Oc-08', '13-S-62', '14-Jn-23', '26-S-1785', '08-Jn-1927', '24-Aug-99', '29-Aug-1891', '20-Jul-89', '20-Fb-14', '20-Dc-60', '1862', '03-My-03', '11-Oc-95', '21-Oc-08', 'S-73', '21-Jul-14', '1776', '1853', '02-Oc-59', '25-A-75', '02-A-13', '15-Nv-04', '23-Jul-92', '1957', '27-Oc-71', 'NBf1975', '27-My-28', '16-Fb-32', '31-Aug-30', '11-Aug-13', '11-A-47', '06-Fb-1947', '25-My-98', '07-S-16', '11-Jun-1891', '08-Jun-1942', '14-Jn-47', '29-Aug-13', '08-Jul-1899', '26-Fb-12', '24-My-08', '04-My-03', '12-Oc-27', '06-Fb-1856', '15-M-12', '08-A-16', '18-Oc-24', '08-Fb-03', '17-Oc-84', '03-Dc-89', '17-My-43', '04-Jn-06', '29-M-75', '20-A-63', '17-Oc-81', '02-S-1978', '1940', '11-Nv-1855', '15-Jul-1874', '17-Jun-22', '31-M-70', '05-Oc-02', '27-Jn-58', '23-Nv-78', '1980', '29-Aug-16', '11-A-15', '30-S-84', 'Bf24A-1959', '01-Dc-10', 'Jul-45', '02-S-59', '01-Jn-72', '05-Aug-01', '11-Fb-50', '29-My-65', '02-Aug-14', '31-Jn-80', '08-M-98', '09-Jul-1914', 'A-13', '28-Oc-2011', '21-Aug-64', '08-Jn-05', '31-My-44', '29-My-01', '21-Jul-12', '23-My-08', '1900-1905', '26-Aug-07', 'N', '19-A-12', '03-Jul-01', '19-S-45', '21-Jn-1935', '26-Jul-1830', '31-Jul-00', '11-A-03', '22-Dc-1862', '30-S-11', '1946', '05-Aug-34', '30-Aug-59', '02-Oc-54', '30-S-01', '02-Oc-14', '23-Fb-75', '25-M-88', 'Bwn10n12-S-1959', '10-Aug-09', '18-M-86', '18-Dc-94', '08-My-13', '30-Aug-62', '31-M-00', '23-Aug-62', '28-A-13', '20-Fb-1936', '15-Jun-41', '01-Jn-06', '28-Oc-50', '12-My-1882', '17-A-1929', '08-S-34', 'Jun1721', '1733', '30-Jun-16', '06-Aug-12', '30-A-02', '05-Nv-85', '12-Dc-00', '05-Oc-94', '25-Nv-92', '02-Aug-1862', '08-Aug-68', '26-A-98', '24-Dc-1879', '29-Jn-92', '28-Jul-13', '17-Aug-72', '17-Jul-05', '04-My-01', '05-M-96', 'Jn-36', '15-Jun-11', '16-My-77', '16-Jul-14', '10-Jun-12', '15-Fb-03', '31-Aug-14', '12-S-2013', '01-Jn-71', '24-A-14', '28-Dc-46', '18-Fb-62', 'Ely1965', '14-My-1882', '16-Aug-1951', '02-Fb-89', '27-Jul-35', '25-Jn-97', '02-Jun-61', '25-Aug-59', '13-Oc-15', '17-S-84', '09-Nv-81', '31-Dc-50', '22-Dc-1887', '06-Dc-51', '12-S-2014', '10-My-02', '15-Jul-01', '31-My-94', '15-Jn-19', '10-Jun-62', 'Summf1996', '01-Jn-46', '24-Nv-24', '12-M-93', '10-My-96', '04-Jn-84', '15-My-14', '31-Dc-08', '03-S-55', '15-Jun-84', '27-S-78', '01-M-09', '05-Dc-09', '29-Jn-08', '22-Fb-1817', '19-Jul-88', '03-A-58', '14-Jul-14', 'Oc-53', '30-M-87', '30-Jun-95', '08-A-1854', '27-S-10', '10-Nv-16', '19-S-76', '13-Dc-1884', '13-Jun-14', '27-Fb-03', '31-Aug-12', '13-Jul-08', '22-Oc-14', '10-Jul-15', '26-Jun-1972', '20-My-12', '24-S-60', '04-Jul-53', '12-Jn-39', '08-Jul-2016', '06-Aug-09', '31-Aug-1959', '21-S-31', '27-M-2010', '02-Jul-10', '15-Dc-36', '21-S-1908', '16-My-60', '19-Dc-61', '16-S-12', '10-Nv-62', '02-A-83', '11-Jun-02', '05-Oc-03', '11-Fb-03', '1864', '16-My-12', '15-S-90', '02-S-1865', '06-My-22', '01-A-87', '12-Dc-36', '08-A-08', '13-A-1955', '18-Fb-09', '24-My-14', '08-S-08', '29-Nv-1889', '04-S-05', '30-Aug-08', '06-Nv-60', '16-Jul-61', '10-Aug-86', '12-M-34', 'Fb-62', '07-M-61', '1836.07.26.', '05-Aug-77', '12-Fb-88', '16-A-61', '14-My-05', '05-Nv-69', '31-Jn-59', '01-Aug-1888', '06-A-90', '06-Jul-12', '03-A-89', 'Bwn01-Aug-1951&08-Aug-1951', '02-Jun-1975', '26-Oc-87', '21-S-65', '21-Fb-1835', '06-Jul-1842', '26-Dc-72', '03-Jun-02', '01-Aug-14', '02-S-74', '22-Jn-63', '30-S-06', '11-Dc-59', 'Oc-61', '29-S-63', '15-Aug-12', '22-Jun-98', '26-Jul-98', '30-My-11', '01-My-11', '06-My-90', '20-Oc-11', '08-Nv-44', '17-A-08', '13-Dc-15', '24-Jul-84', '1898-1899', '1993', '17-Fb-1964', '29-Jun-64', '11-Jn-32', '13-Nv-14', 'M-73', '24-My-94', '20-S-15', '15-My-94', '20-Aug-61', '23-Fb-62', '22-Oc-89', '06-Jun-13', 'Jul-1898', '17-Dc-67', '18-Aug-31', '02-Jn-71', '24-Jul-82', '27-My-06', '05-Jn-29', '29-Aug-72', '05-M-2007', '16-M-29', '27-Dc-66', '15-M-98', '31-My-12', '02-Jul-04', 'Jul-05', '25-M-69', '23-M-94', '25-Nv-50', '23-My-94', '31-Jn-94', '06-Oc-13', '27-M-93', '27-Jun-13', '27-Aug-01', '10-Dc-08', '08-Dc-1846', '06-A-71', '15-Aug-98', '20-Fb-12', '03-M-13', '1755', '1983', '03-S-10', '26-Fb-99', '29-Aug-89', '05-S-90', '13-Fb-05', '10-Oc-93', '27-My-13', '22-Aug-1867', '20-M-67', '11-Oc-88', '15-Jn-20', '04-My-1899', '22-M-18', '31-My-84', '28-My-06', '25-Nv-24', 'Dc-62', '02-My-06', '05-M-64', '24-Dc-52', '28-Jn-87', '30-Nv-13', '03-Jul-33', '28-Jn-16', '28-Jun-64', '29-Oc-2011', '05-S-1881', '01-S-15', '11-Aug-68', 'Jul-67', '02-S-57', '20-Jul-62', '31-Dc-72', '20-Jun-08', '27-Nv-05', '12-Nv-77', '18-S-2006', '15-Jul-47', '09-S-93', '08-S-07', 'A-53', '25-Jun-68', '10-Nv-00', '23-S-84', '27-Jul-08', '19-Fb-89', '02-M-09', '18-M-14', '02-Aug-10', '29-Jn-99', '06-Jn-10', 'Jun-35', '13-Jn-1999', '15-Jul-55', '11-S-11', '28-Jul-95', '29-M-2011', '22-Oc-92', '23-Jn-96', '10-Aug-00', '13-Oc-68', '17-Oc-80', '23-My-33', '13-Jul-16', '11-Oc-05', '03-M-2000', '17-Aug-02', 'Jul-S-1959', '18-Dc-73', '20-Jn-1875', 'M-01', '26-S-1932', '26-Fb-96', '25-Jul-06', '08-A-01', '12-S-09', '07-Jul-00', '10-Nv-83', '04-Nv-1957', '15-Jn-83', '09-Nv-08', '23-Jul-88', '18-Jul-17', '2000', '11-Nv-39', '08-Fb-63', 'Aug-53', '16-Nv-1889', '26-Jul-16', '29-My-04', '31-Dc-99', '07-A-96', '21-S-35', 'Bf1906', '16-Jn-65', '03-Nv-07', '27-Nv-79', '22-Nv-11', '18-Dc-61', '12-S-37', '14-A-1928', '23-Jun-44', '18-My-96', '17-S-1897', '27-S-64', '10-S-92', 'Aug-1905', '24-Jun-15', 'Jul-61', '08-M-42', '19-A-87', 'Nv-17', 'C.1839', '27-Aug-1913', '29-Dc-05', '16-S-1998', '22-Oc-88', '15-Jn-12', '23-Dc-11', '20-A-03', '27-Jul-58', '12-M-14', 'Ely1870s', '05-Jun-89', '02-Jun-02', '13-My-1868', '06-Dc-86', '08-Jun-08', '27-Jn-12', '22-Jn-66', '10-Aug-67', 'M-79', '02-My-31', '01-M-84', '05-Oc-11', '27-S-02', '27-Jun-05', '23-Jn-06', '02-M-00', 'My-65', '18-M-15', '27-Jn-23', '10-M-15', 'Jn-85', '16-Aug-37', 'Jun-53', '21-Jn-01', '26-Jun-36', '04-Jul-1888', '08-Jul-1889', '26-My-85', 'C.1825', 'Jn-Jun-1962', '21-Jn-38', '22-A-26', '05-A-01', '1642', 'A-55', '14-Oc-71', '02-S-11', '1839/1840', '1896', '29-Jul-16', 'S-44', '08-Dc-03', '02-Aug-97', '07-My-00', '26-Oc-1967', '01-Aug-41', '21-My-06', '14-Oc-62', '26-Dc-29', '11-Jn-66', '31-Jul-1958', '15-Jul-03', '04-S-11', '19-Jn-75', '02-Aug-25', '15-M-1897', '04-S-07', 'Oc-67', '03-My-16', '02-Jun-97', '04-Jn-44', 'Bwn1918&1939', '24-S-01', '30-Jul-75', '24-My-83', '23-Jn-04', '04-Fb-2011', '09-Jun-88', '20-S-64', '12-Fb-11', '21-Dc-05', 'SmimbwnA&Nv-1944', '24-Aug-26', 'Nv-70', '22-Fb-05', '31-Aug-95', '1943', '04-A-29', 'Jn-92', '11-Nv-69', '05-Jun-07', '23-Jul-16', '21-Fb-00', '07-A-64', 'Jul-68', '01-M-1865', '06-S-1926', '09-M-89', '1828', '21-Jn-64', '28-M-04', '12-Jul-36', '26-My-08', '08-M-10', '09-M-00', '22-Jul-2013', 'Bf2011', '06-Oc-08', '22-Jul-41', '30-Jul-2013', '09-Jun-68', '18-Fb-85', '13-M-14', '18-Dc-1973', '14-My-43', '07-Nv-75', 'Bf1963', '03-Fb-60', '18-Jn-06', '12-S-65', '17-Jn-35', '26-Fb-01', '11-Aug-09', '03-A-09', '14-My-14', '21-M-1938', '28-M-2006', '04-Nv-86', 'Oc-96', '12-Nv-89', '21-Aug-92', '04-Jun-62', 'NBfMy-1996', '02-Jul-66', '13-My-02', '11-S-00', '19-M-1879', '28-Jul-59', '1758', '08-Oc-89', 'Bf1916', '28-Jn-06', '20-Oc-10', '02-M-76', '06-Aug-04', '25-Jn-24', '01-Aug-1978', '11-M-27', '01-Jun-14', '22-Jun-1898', '29-Oc-1989', '21-Jun-33', '19-A-10', '21-Oc-15', '15-Jul-53', '06-Jun-1948', '19-Aug-1993', '28-S-85', '15-Nv-59

In [51]:
# Standardise month names if it is clear
data_copy['Date'].replace(to_replace=[r'Jan?', r'Fe?b', r'Mar', r'Apr?', r'Ma?y', r'Ju?n', r'Ju?l', r'Au?g?', r'Se?p?', r'Oc?t?', r'No?v', r'Di?c', 'Bf'], 
           value=[r'Jan', r'Fb', r'Mar', r'Apr', r'My', r'Jn', r'Jul', r'Aug', r'S', r'Oc', r'Nv', r'Dc', 'Before '],
           regex=True, 
           inplace=True)
data_copy['Date']

Order
2         1845-1853
3         1883-1889
4         1900-1905
5       Before 1903
6       Before 1903
           ...
5989        16-S-16
5990        17-S-16
5991        18-S-16
5992        18-S-16
5993        18-S-16
Name: Date, Length: 5992, dtype: object

In [52]:
# Rename columns
data_copy = data_copy.rename(columns={'pdf':'Pdf',
                            'href formula':'HREF Formula',
                            'href':'HREF',
                            'original order':'Original Order'})
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [53]:
# Change column order
column_names = ["Original Order", "Date", "Year", "Case Number", "Case Number.1", "Case Number.2", "Fatal(Y/N)", "Injury", "Type", "Surfing", "Country", "Area", "Location", "Name", "Sex", "Pdf", "HREF Formula", "HREF", "Investigator or Source"]
data = data.reindex(columns=column_names)
data

,Original Order,Date,Year,Case Number,Case Number.1,Case Number.2,Fatal(Y/N),Injury,Type,Surfing,Country,Area,Location,Name,Sex,Pdf,HREF Formula,HREF,Investigator or Source
0,NaN,18-Sep-16,2016,2016.09.18.c,2016.09.18.c,2016.09.18.c,NaN,Minor injury to thigh,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",male,NaN,NaN,NaN,NaN,"Orlando Sentinel, 9/19/2016"
1,NaN,18-Sep-16,2016,2016.09.18.b,2016.09.18.b,2016.09.18.b,NaN,Lacerations to hands,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,NaN,NaN,NaN,NaN,"Orlando Sentinel, 9/19/2016"
2,NaN,18-Sep-16,2016,2016.09.18.a,2016.09.18.a,2016.09.18.a,NaN,Lacerations to lower leg,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",male,NaN,NaN,NaN,NaN,"Orlando Sentinel, 9/19/2016"
3,NaN,17-Sep-16,2016,2016.09.17,2016.09.17,2016.09.17,NaN,Struck by fin on chest & leg,Unprovoked,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,NaN,NaN,NaN,NaN,"The Age, 9/18/2016"
4,NaN,16-Sep-16,2016,2016.09.15,2016.09.16,2016.09.15,NaN,No injury: Knocked off board by shark,Unprovoked,NaN,AUSTRALIA,Victoria,Bells Beach,male,NaN,NaN,NaN,NaN,"The Age, 9/16/2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,NaN,Before 1903,0,ND.0005,ND.0005,ND.0005,NaN,FATAL,Unprovoked,NaN,AUSTRALIA,Western Australia,Roebuck Bay,male,NaN,NaN,NaN,NaN,"H. Taunton; N. Bartlett, p. 234"
5988,NaN,Before 1903,0,ND.0004,ND.0004,ND.0004,NaN,FATAL,Unprovoked,NaN,AUSTRALIA,Western Australia,NaN,Ahmun,NaN,NaN,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
5989,NaN,1900-1905,0,ND.0003,ND.0003,ND.0003,NaN,FATAL,Unprovoked,NaN,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,NaN,NaN,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
5990,NaN,1883-1889,0,ND.0002,ND.0002,ND.0002,NaN,FATAL,Unprovoked,NaN,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",Jules Patterson,NaN,NaN,NaN,NaN,"The Sun, 10/20/1938"
5991,NaN,1845-1853,0,ND.0001,ND.0001,ND.0001,NaN,"FATAL. ""Shark bit him in half, carrying away t...",Unprovoked,NaN,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,NaN,NaN,NaN,NaN,S.W. Baker

In [72]:
# Sort by column "Original Order"
data.sort_values(by='Original Order', ascending = False)

,Original Order,Date,Year,Case Number,Case Number.1,Case Number.2,Fatal(Y/N),Injury,Type,Surfing,Country,Area,Location,Name,Sex,Pdf,HREF Formula,HREF,Investigator or Source
0,5993,18-S-16,2016,2016.09.18.c,2016.09.18.c,2016.09.18.c,NaN,Minor injury to thigh,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",male,NaN,2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"Orlando Sentinel, 9/19/2016"
1,5992,18-S-16,2016,2016.09.18.b,2016.09.18.b,2016.09.18.b,NaN,Lacerations to hands,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",Chucky Luciano,NaN,2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"Orlando Sentinel, 9/19/2016"
2,5991,18-S-16,2016,2016.09.18.a,2016.09.18.a,2016.09.18.a,NaN,Lacerations to lower leg,Unprovoked,NaN,USA,Florida,"New Smyrna Beach, Volusia County",male,NaN,2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"Orlando Sentinel, 9/19/2016"
3,5990,17-S-16,2016,2016.09.17,2016.09.17,2016.09.17,NaN,Struck by fin on chest & leg,Unprovoked,NaN,AUSTRALIA,Victoria,Thirteenth Beach,Rory Angiolella,NaN,2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"The Age, 9/18/2016"
4,5989,16-S-16,2016,2016.09.15,2016.09.16,2016.09.15,NaN,No injury: Knocked off board by shark,Unprovoked,NaN,AUSTRALIA,Victoria,Bells Beach,male,NaN,2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"The Age, 9/16/2016"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,6,Before 1903,0,ND.0005,ND.0005,ND.0005,NaN,FATAL,Unprovoked,NaN,AUSTRALIA,Western Australia,Roebuck Bay,male,NaN,ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"H. Taunton; N. Bartlett, p. 234"
5988,5,Before 1903,0,ND.0004,ND.0004,ND.0004,NaN,FATAL,Unprovoked,NaN,AUSTRALIA,Western Australia,NaN,Ahmun,NaN,ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"H. Taunton; N. Bartlett, pp. 233-234"
5989,4,1900-1905,0,ND.0003,ND.0003,ND.0003,NaN,FATAL,Unprovoked,NaN,USA,North Carolina,Ocracoke Inlet,Coast Guard personnel,NaN,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"F. Schwartz, p.23; C. Creswell, GSAF"
5990,3,1883-1889,0,ND.0002,ND.0002,ND.0002,NaN,FATAL,Unprovoked,NaN,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",Jules Patterson,NaN,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,"The Sun, 10/20/1938"
5991,2,1845-1853,0,ND.0001,ND.0001,ND.0001,NaN,"FATAL. ""Shark bit him in half, carrying away t...",Unprovoked,NaN,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",male,NaN,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,S.W. Baker

In [54]:
#Step 4: Export Pandas DataFrame to a CSV file
data.to_csv("./Cleaned Data.csv", index=False)