In [22]:
#Alright alright alright, let's begin this data cleaning by importing the correct modules and the data itself. 

import pandas as pd
import re
import random

data = pd.read_csv('/Users/alejandropalacios/Desktop/Ironhack/Data Analytics Bootcamp/Data Transformation/Projects/project-pandas/GSAF5.csv', encoding = "latin-1")

#Let's also have a quick look at it. 
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [23]:
#As a next step, let's check exaclty what will we be handling from this point on. 

#Dataset is 5,992 rows by 24 columns. 
print(data.shape)
print('\n')

#There are some weird columns which have no aparent meaning for the Shark topic of the day. 
print(data.columns)
print('\n')

#Finally, most of the columns contain text, Jesus Christ...
print(data.dtypes)

(5992, 24)


Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')


Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [24]:
#1. Column Cleaning. 

#First of all, let's check how many empty cells there are in every column. 
null_columns = data.isnull().sum()
print(null_columns[null_columns > 0])

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [25]:
#lol, columns Unnamed: 22 and Unnamed: 23 are quite the slackers regarding information storage it seems. Let's check them out in detail and replace NA values with 0s until something pops up. 
data['Unnamed: 22'].fillna(0, inplace = True)
print([x for x in data['Unnamed: 22'] if x != 0])

data['Unnamed: 23'].fillna(0, inplace = True)
print([y for y in data['Unnamed: 23'] if y != 0])

['stopped here']
['Teramo', 'change filename']

In [26]:
#These two columns have the above 3 items, so let's just delete them both.
data = data.drop('Unnamed: 22', 1)
data = data.drop('Unnamed: 23', 1)

In [27]:
#So, onto the next 3 suspicious columns: Case Number.2, Case Number, and Case Number .1.

#Let's check if these are duplicates of some sort.
print(data['Case Number.1'].equals(data['Case Number.2'].equals(data['Case Number'])))
print('\n')

#Nope, those are not exact duplicates apparently, now let's see if data from one column can fe found in the other two. 
print(data['Case Number.1'].isin(data['Case Number.2']).value_counts())
print('\n')

#Interesting, only 10 values are different from one column to the other one. Let's do a final check with the last column as well. 
print(data['Case Number'].isin(data['Case Number.1']).value_counts())

False


True     5982
False      10
Name: Case Number.1, dtype: int64


True     5979
False      13
Name: Case Number, dtype: int64

In [28]:
#Same story here, only 13 different values, let's then delete Case Number.1 and Case Number.2
data = data.drop('Case Number.1', 1)
data = data.drop('Case Number.2', 1)

In [29]:
#Finally let's check the Href Formula and Href Columns. 
data['href formula'].isin(data['href']).value_counts()

True     5939
False      53
Name: href formula, dtype: int64

In [30]:
#Well, values from href formula Column that are in href Column are quite more than in our past findings, however these are still not more than 10% of the whole thing, so I'll delete Href Formula Column. Moreover, Href Column looks slimmer and more presentable by itself. 
data = data.drop('href formula', 1)

#Now we have an aparently nice table of stuff, let's check it out. 
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href,original order
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5993
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5992
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5991
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5990
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,5989

In [31]:
#2. Data Cleaning

#From this point on, let's actually clean the data inside each of the columns we left, starting from the Data Column, which is always pivotal in an anaysis. 
set(data['Date'].sample(n=30))

{'01-Nov-42',
 '01-Oct-04',
 '02-Apr-78',
 '02-Aug-70',
 '02-Jan-12',
 '02-Oct-59',
 '03-Aug-04',
 '03-Jan-92',
 '03-Sep-01',
 '04-Aug-60',
 '04-Jun-1832',
 '04-Mar-81',
 '05-Jul-70',
 '07-Feb-60',
 '08-May-01',
 '08-Nov-09',
 '09-Jun-99',
 '11-Apr-12',
 '12-Jan-29',
 '15-Apr-03',
 '16-Jul-16',
 '18-Dec-09',
 '18-Feb-84',
 '18-Nov-28',
 '20-Apr-02',
 '22-Sep-05',
 '27-Jul-52',
 '29-Jun-64',
 '29-Sep-99',
 'Reported 26-Jul-1898'}

In [32]:
#So yeah, as we can see, format is everywhere from single year values, to literally strings of text saying when did the incident "maybe" happened. 

#To solve this, let's break the problem into quick wins. First let's use the column Case Number to check against the Year Column to check if everything corresponds to at least the correct year. 

#The following code will create 3 Columns to separate the date of an incident, based on the Case Number Column, and check against Date and Year Columns if something is off. 
try:
    data['Year_Check']=[d[0:4] for d in data['Case Number']]
except:
    data['Year_Check']='00'
try:
    data['Month']=[d[5:7] for d in data['Case Number']]
except:
    data['Month']='00'
try:
    data['Day']=[d[8:10] for d in data['Case Number']]
except:
    data['Day']='00'
data.loc[data['Year_Check'].str.contains('(?i)ND'),'Year_Check']='00'
data.loc[data['Year_Check'].str.contains('ND'),'Day']='00'
data.loc[data['Year_Check'].str.contains('ND'),'Month']='00'
data['Year_Check'] = data['Year_Check'].replace(['0.02','0.03','0.04','0.07'],0)
data['Year_Check'] = data['Year_Check'].astype(int)

#Now let's order the dataframe by useful comparing Columns. 
data = data[['Case Number','Day','Month','Year_Check','Year','Date','Type','Country','Area','Location','Activity','Name',
           'Sex ','Age','Injury','Fatal (Y/N)','Species ','Investigator or Source','href']]

data.head()

,Case Number,Day,Month,Year_Check,Year,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,href
0,2016.09.18.c,18,09,2016,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18,09,2016,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18,09,2016,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17,09,2016,2016,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,15,09,2016,2016,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
#Ok let's check if every year from our Check Column coincides with every year from our Year Column.
data.loc[data['Year_Check'] != (data['Year'])]

,Case Number,Day,Month,Year_Check,Year,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Species,Investigator or Source,href
2449,1989.07.27,27,07,1989,1969,27-Jul-89,Invalid,BERMUDA,NaN,NaN,Scuba diving,Russian male,M,35,FATAL,NaN,Shark involvement suspected but not confirmed,"LA Times, 7/28/1989",http://sharkattackfile.net/spreadsheets/pdf_di...
3662,1961.07.16,16,07,1961,1971,16-Jul-61,Unprovoked,TURKEY,Anatolia,"?nciralti Beach, ?zmir",Swimming,?brahim Karagöz,M,16,Left leg injured,N,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4312,1948.09.17.R,17,09,1948,1848,Reported 17-Sep-1848,Unprovoked,TURKEY,Adana Province,Yumurtalik,Swimming,Ali Kaymaz,M,NaN,FATAL,Y,NaN,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
4983,1923.00.00.a,00,00,1923,1922,1923,Provoked,USA,New Jersey,Ocean City (offshore),Hoisting shark aboard fishing boat,male,M,NaN,Shark's tail broke his leg. PROVOKED INCIDENT,N,NaN,"Ref in New York Herald Tribune, 8/23/1960; V.M...",http://sharkattackfile.net/spreadsheets/pdf_di...
5043,1900.00.00.R,00,00,1900,1919,Reported to have taken place in 1919,Boating,ITALY,NaN,Savona,Fishing,NaN,M,NaN,No injury,N,13' shark,"C. Moore, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...

In [34]:
#Voila! 5 rows do not completely coincide, moreover, the Date Column will help us decide wich year is the correct one. Let's change that right now. 
data.loc[4983,'Year'] = 1923
data.loc[3662,'Year'] = 1961
data.loc[2449,'Year'] = 1989 

#Also this would be a good time to rename the Date Column to a more understandable Date and Commentary Column. 
data.rename(columns={'Date': 'Date and Commentary'}, inplace = True)

In [35]:
#Now let's check the Fatal Column and see if it has only Y or N values. 
set(data['Fatal (Y/N)'])

{' N', '#VALUE!', 'F', 'N', 'N ', 'UNKNOWN', 'Y', 'n', nan}

In [36]:
#Naturally, it is a mess as well, so let's change all those values to binary responses. 
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.strip()
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].fillna('U')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('n', 'N')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('#VALUE!', 'U')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('F', 'Y')
data['Fatal (Y/N)'] = data['Fatal (Y/N)'].str.replace('UNKNOWN', 'U')

#I will also rename the Column to Fatal Y/N/U, based on the fact that Unknown is also a valid response I think. 
data.rename(columns = {'Fatal (Y/N)': 'Fatal (Y/N/U)'}, inplace = True)
print(set(data['Fatal (Y/N/U)']))

{'N', 'U', 'Y'}

In [48]:
#For the next trick, let's clean the Name Column. By quick check, I can already see that the column is populated with some rows that state small stories about the incident, God know why somebody thought this was a cool idea, and I will surely not completely clean these 5992 rows right now.

#Let's clean the easy things though, there are certain values that should be on the Sex Column, let's reorganize them. 
set(data['Name'].sample(n = 50))

{'2 males',
 '6 m skiboat, occupants: P.A. Reeder & crew',
 'Andrew Rollo',
 'Anonymous',
 'Archibald Rutledge',
 'Arthur E.. Boardman',
 'Barani, a Papuan',
 'Ben McPhee',
 'Crew of Anti-submarine Squadron 23',
 'Earl Dunnam',
 'Emma G. Megginson',
 'Ernest Grover',
 'Gyula Plaganyi',
 'Hayward Thomas & Shalton Barr',
 'Henri Bource',
 'James Edward Clifton Donald',
 'Kobus Koeberg',
 'Larry Stroup',
 'Loding Etwat (female)',
 'Marc Tayman',
 'Mark Benvick',
 'Michael Greenwood',
 'Michael Muradian',
 'Mike Higgins',
 "N'gena Zakali",
 'Nicholas House',
 'Occupants: Ivan Angjus & Stevo Kentera',
 'Paul Wilcox',
 'Ralph Sammis',
 'Rixon, an aboriginal',
 'Robert Stinson',
 'Ronald Kerwand',
 'Ryan Howell',
 'Scott Holloway',
 'Scott van Burck',
 'Shane Dickson',
 'William Capel',
 'William Craug',
 'Zhang Sanqian',
 'an Italian fisherman',
 'boat',
 'girl',
 'male',
 'male, a member of the crew',
 nan,
 'small girl',
 'woman'}

In [51]:
#As we can see, there are words like 'girl' or 'boy' in the column. We will work on that. 

#First let's organize our Sex Column. 
data.rename(columns={'Sex ': 'Sex'}, inplace=True)
data.columns = data.columns.str.strip()

#Now let's define a function which will add F or M into another Column named 'name_corrected', which we will later pass to the Sex Column.
def correct_name(row):
    if row["Name"] == "girl" or row["Name"] == "Girl":
        return "F"
    elif row["Name"] == "boy" or row["Name"] == "Boy":
        return "M"
    elif row["Name"] == "male" or row["Name"] == "Male":
        return "M"
    elif row["Name"] == "female" or row["Name"] == "Female":
        return "F"    
    else:
        return

#Applying the first set of data.     
data["name_corrected"] = data.apply(correct_name, axis = 1)
data['Sex'].fillna(data.name_corrected, inplace = True)

#Considering what's written in the Name column as the right information and replacing it on the Sex Column. 
def error_sex(row):
    if row['name_corrected'] == 'F':
        return 'F'
    elif row['name_corrected'] == 'M':
        return 'M'
    else:
        return row['Sex']
data['Sex'] = data.apply(error_sex, axis = 1)

set(data['Sex'])

{'.', 'F', 'M', 'M ', 'N', None, 'lli'}

In [52]:
#Our data on the Sex Column is still corrupt though, let's clean it a little bit more. 
data['Sex'] = data['Sex'].str.replace('N', 'M')
data['Sex'] = data['Sex'].str.strip()
data['Sex'] = data['Sex'].fillna('Unknown')
data['Sex'] = data['Sex'].str.replace('lli', 'Unknown')
data['Sex'] = data['Sex'].str.replace('.', 'Unknown')

set(data['Sex'])

{'F', 'M', 'Unknown'}

In [53]:
#Finally, none of the rows which contain only the sex of the victims should be in the Name Column, so let's replace these values with 'Unknown', this because we already passed all the Sex information into the correct Column and the Name Column should only contain, well, names... 
data['Name'].fillna('Unknown', inplace = True)
data.loc[data['Name'].str.contains('male', na = False), 'Name'] = 'Unknown'
data.loc[data['Name'].str.contains('boy', na = False), 'Name'] = 'Unknown'
data.loc[data['Name'].str.contains('female', na = False), 'Name'] = 'Unknown'
data['Name'] = data['Name'].str.replace('Anonymous', 'Unknown')
data['Name'] = data['Name'].str.replace('Male', 'Unknown')
data['Name'] = data['Name'].str.replace('fisherman', 'Unknown')
data['Name'] = data['Name'].str.replace('Female', 'Unknown')
data['Name'] = data['Name'].str.replace('crewman', 'Unknown')
data['Name'] = data['Name'].str.replace('a young Scotsman', 'Unknown')
data['Name'] = data['Name'].str.replace('a native ', '')
data['Name'] = data['Name'].replace('\s+', ' ', regex=True)

In [54]:
#Almost there, we will now attempt to clean the Type Column. 
set(data['Type'])

{'Boat', 'Boating', 'Invalid', 'Provoked', 'Sea Disaster', 'Unprovoked'}

In [55]:
#Thank God this is not that dirty. Let's just do a quick rebump. 
data['Type'] = data['Type'].str.strip()
data['Type'] = data['Type'].str.replace('Boating','Boat')
data['Type'] = data['Type'].str.replace('Invalid','Unknown')
print(set(data['Type']))

{'Unknown', 'Unprovoked', 'Sea Disaster', 'Provoked', 'Boat'}

In [56]:
#Let's see what the Country Column has to offer. 
print(set(data['Country']))

{nan, 'Coast of AFRICA', 'REUNION', 'JAMAICA', 'SRI LANKA', 'PHILIPPINES', 'PALESTINIAN TERRITORIES', 'PALAU', 'NIGERIA', 'CURACAO', 'SOUTH ATLANTIC OCEAN', 'OKINAWA', 'SUDAN?', 'MARSHALL ISLANDS', 'TAIWAN', 'SWEDEN', 'MID ATLANTIC OCEAN', 'GEORGIA', 'Sierra Leone', 'NEVIS', 'TONGA', 'TRINIDAD & TOBAGO', 'URUGUAY', 'JOHNSTON ISLAND', 'ITALY / CROATIA', 'BRITISH NEW GUINEA', 'ATLANTIC OCEAN', 'PUERTO RICO', 'ICELAND', 'St Helena', 'SEYCHELLES', 'NEW GUINEA', 'HONG KONG', 'SAMOA', 'GUYANA', 'SENEGAL', 'ITALY', 'NETHERLANDS ANTILLES', 'CYPRUS', 'IRAN', 'INDONESIA', 'GULF OF ADEN', 'INDIA', 'KOREA', 'ALGERIA', 'CUBA', 'SINGAPORE', ' PHILIPPINES', 'MEXICO', 'INDIAN OCEAN?', 'EL SALVADOR', 'UNITED KINGDOM', 'MALTA', 'CENTRAL PACIFIC', 'HAITI', 'SAUDI ARABIA', 'SUDAN', 'NEW CALEDONIA', 'NORTH ATLANTIC OCEAN ', 'TURKEY', 'NORTHERN MARIANA ISLANDS', 'JAPAN', 'AZORES', 'LIBERIA', 'Seychelles', 'DIEGO GARCIA', 'GUINEA', 'NEW BRITAIN', 'BAHREIN', 'IRAQ', 'RED SEA', 'Fiji', 'AUSTRALIA', 'PORTUGAL', 'SOUTH PACIFIC OCEAN', 'INDIAN OCEAN', 'MOZAMBIQUE', 'JAVA', 'SOUTH CHINA SEA', 'GRAND CAYMAN', 'KUWAIT', 'NORTH SEA', 'MALDIVE ISLANDS', 'RED SEA?', 'PAPUA NEW GUINEA', 'CHINA', 'ADMIRALTY ISLANDS', 'TUVALU', 'LEBANON', 'MADAGASCAR', 'AMERICAN SAMOA', 'VENEZUELA', 'COSTA RICA', 'MEDITERRANEAN SEA', 'FRANCE', 'ANTIGUA', 'CEYLON (SRI LANKA)', 'MAURITIUS', 'PACIFIC OCEAN', 'COOK ISLANDS', 'USA', 'GREENLAND', 'KIRIBATI', 'BRITISH ISLES', 'BRAZIL', 'PERSIAN GULF', 'CROATIA', 'BRITISH WEST INDIES', 'GREECE', 'TANZANIA', 'EGYPT ', 'GHANA', 'BAY OF BENGAL', 'CHILE', 'OCEAN', 'NORTHERN ARABIAN SEA', 'VIETNAM', 'TUNISIA', 'TURKS & CAICOS', 'ECUADOR', ' TONGA', 'RUSSIA', 'BERMUDA', 'DOMINICAN REPUBLIC', 'SOLOMON ISLANDS / VANUATU', 'CRETE', 'PARAGUAY', 'FIJI', 'FRENCH POLYNESIA', 'EQUATORIAL GUINEA / CAMEROON', 'ST. MARTIN', 'MONACO', 'SOMALIA', 'YEMEN', 'MID-PACIFC OCEAN', 'MONTENEGRO', 'KENYA', 'MARTINIQUE', 'BURMA', 'SPAIN', 'UNITED ARAB EMIRATES', 'ARUBA', 'IRAN / IRAQ', 'SIERRA LEONE', 'GUAM', 'ANGOLA', 'ANDAMAN / NICOBAR ISLANDAS', 'CANADA', 'SOUTHWEST PACIFIC OCEAN', 'BRITISH VIRGIN ISLANDS', 'UNITED ARAB EMIRATES (UAE)', 'ASIA?', 'Between PORTUGAL & INDIA', 'GUATEMALA', 'NAMIBIA', 'MEXICO ', 'MALAYSIA', 'VANUATU', 'HONDURAS', 'SOLOMON ISLANDS', 'TASMAN SEA', 'SCOTLAND', 'DJIBOUTI', 'GABON', 'ENGLAND', 'BELIZE', 'MAYOTTE', 'NICARAGUA', 'SAN DOMINGO', 'CARIBBEAN SEA', 'ST. MAARTIN', 'CAPE VERDE', 'WESTERN SAMOA', 'SOUTH KOREA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MEDITERRANEAN SEA?', 'NORWAY', 'COLUMBIA', 'NEW ZEALAND', 'NICARAGUA ', 'SLOVENIA', 'YEMEN ', 'EGYPT', 'BANGLADESH', 'GRENADA', 'MICRONESIA', 'ARGENTINA', 'SYRIA', 'CAYMAN ISLANDS', 'RED SEA / INDIAN OCEAN', 'THE BALKANS', 'NORTH ATLANTIC OCEAN', 'IRELAND', 'PACIFIC OCEAN ', 'LIBYA', 'THAILAND', 'BARBADOS', 'PANAMA', 'BAHAMAS', 'FALKLAND ISLANDS', 'ISRAEL', 'SOUTH AFRICA', 'EGYPT / ISRAEL'}

In [57]:
#Again, it is really nice that this column did not brought any problems at all, i'll just change everything to upper cases.
data['Country'].fillna('Unknown', inplace = True)
data['Country'] = data['Country'].str.strip().str.upper()
print(set(data['Country']))

{'REUNION', 'JAMAICA', 'SRI LANKA', 'PHILIPPINES', 'PALESTINIAN TERRITORIES', 'PALAU', 'NIGERIA', 'CURACAO', 'SOUTH ATLANTIC OCEAN', 'OKINAWA', 'SUDAN?', 'MARSHALL ISLANDS', 'TAIWAN', 'SWEDEN', 'MID ATLANTIC OCEAN', 'GEORGIA', 'NEVIS', 'TONGA', 'TRINIDAD & TOBAGO', 'URUGUAY', 'JOHNSTON ISLAND', 'ITALY / CROATIA', 'BRITISH NEW GUINEA', 'ATLANTIC OCEAN', 'PUERTO RICO', 'ICELAND', 'SEYCHELLES', 'NEW GUINEA', 'HONG KONG', 'SAMOA', 'GUYANA', 'SENEGAL', 'ITALY', 'NETHERLANDS ANTILLES', 'CYPRUS', 'IRAN', 'INDONESIA', 'GULF OF ADEN', 'INDIA', 'KOREA', 'ALGERIA', 'CUBA', 'SINGAPORE', 'MEXICO', 'INDIAN OCEAN?', 'EL SALVADOR', 'UNITED KINGDOM', 'MALTA', 'CENTRAL PACIFIC', 'HAITI', 'SAUDI ARABIA', 'UNKNOWN', 'NEW CALEDONIA', 'SUDAN', 'TURKEY', 'NORTHERN MARIANA ISLANDS', 'JAPAN', 'AZORES', 'LIBERIA', 'DIEGO GARCIA', 'GUINEA', 'NEW BRITAIN', 'BAHREIN', 'IRAQ', 'RED SEA', 'AUSTRALIA', 'PORTUGAL', 'SOUTH PACIFIC OCEAN', 'INDIAN OCEAN', 'MOZAMBIQUE', 'JAVA', 'SOUTH CHINA SEA', 'GRAND CAYMAN', 'KUWAIT', 'NORTH SEA', 'MALDIVE ISLANDS', 'ST HELENA', 'RED SEA?', 'PAPUA NEW GUINEA', 'CHINA', 'ADMIRALTY ISLANDS', 'TUVALU', 'LEBANON', 'MADAGASCAR', 'AMERICAN SAMOA', 'VENEZUELA', 'COSTA RICA', 'MEDITERRANEAN SEA', 'BETWEEN PORTUGAL & INDIA', 'FRANCE', 'ANTIGUA', 'CEYLON (SRI LANKA)', 'MAURITIUS', 'PACIFIC OCEAN', 'COOK ISLANDS', 'USA', 'GREENLAND', 'KIRIBATI', 'BRITISH ISLES', 'BRAZIL', 'PERSIAN GULF', 'CROATIA', 'BRITISH WEST INDIES', 'GREECE', 'TANZANIA', 'GHANA', 'BAY OF BENGAL', 'CHILE', 'OCEAN', 'NORTHERN ARABIAN SEA', 'VIETNAM', 'TUNISIA', 'TURKS & CAICOS', 'ECUADOR', 'RUSSIA', 'BERMUDA', 'DOMINICAN REPUBLIC', 'SOLOMON ISLANDS / VANUATU', 'CRETE', 'PARAGUAY', 'FIJI', 'FRENCH POLYNESIA', 'EQUATORIAL GUINEA / CAMEROON', 'ST. MARTIN', 'MONACO', 'SOMALIA', 'YEMEN', 'MID-PACIFC OCEAN', 'MONTENEGRO', 'KENYA', 'MARTINIQUE', 'BURMA', 'SPAIN', 'UNITED ARAB EMIRATES', 'ARUBA', 'IRAN / IRAQ', 'SIERRA LEONE', 'GUAM', 'ANGOLA', 'ANDAMAN / NICOBAR ISLANDAS', 'CANADA', 'SOUTHWEST PACIFIC OCEAN', 'BRITISH VIRGIN ISLANDS', 'UNITED ARAB EMIRATES (UAE)', 'ASIA?', 'GUATEMALA', 'NAMIBIA', 'MALAYSIA', 'VANUATU', 'HONDURAS', 'SOLOMON ISLANDS', 'TASMAN SEA', 'SCOTLAND', 'DJIBOUTI', 'GABON', 'ENGLAND', 'BELIZE', 'MAYOTTE', 'NICARAGUA', 'SAN DOMINGO', 'CARIBBEAN SEA', 'ST. MAARTIN', 'CAPE VERDE', 'WESTERN SAMOA', 'SOUTH KOREA', 'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA', 'MEDITERRANEAN SEA?', 'NORWAY', 'COLUMBIA', 'NEW ZEALAND', 'SLOVENIA', 'EGYPT', 'BANGLADESH', 'GRENADA', 'MICRONESIA', 'ARGENTINA', 'SYRIA', 'CAYMAN ISLANDS', 'RED SEA / INDIAN OCEAN', 'THE BALKANS', 'NORTH ATLANTIC OCEAN', 'IRELAND', 'LIBYA', 'THAILAND', 'BARBADOS', 'PANAMA', 'BAHAMAS', 'FALKLAND ISLANDS', 'ISRAEL', 'COAST OF AFRICA', 'SOUTH AFRICA', 'EGYPT / ISRAEL'}

In [62]:
#So close, let's check species. 
set(data['Species'].sample(n=50))

#I don't think this column needs cleanings in the realm of only leaving the cells which actually have species written on, because there are cells that describe the Shark encountered, and that's helpful as well. So we will just replace the NA values with Unknown. 
data['Species'].fillna('Unknown', inplace = True)

In [64]:
#Finally! Let's delete our Check-Columns and start some simple graphic analysis.
data.drop(['Year_Check','name_corrected'], axis = 1, inplace = True)
data.head()

,Case Number,Day,Month,Year,Date and Commentary,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N/U),Species,Investigator or Source,href
0,2016.09.18.c,18,09,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,16,Minor injury to thigh,N,Unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18,09,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,Unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18,09,2016,18-Sep-16,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Unknown,M,43,Lacerations to lower leg,N,Unknown,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17,09,2016,17-Sep-16,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,Unknown,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,15,09,2016,16-Sep-16,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,Unknown,M,NaN,No injury: Knocked off board by shark,N,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...

In [66]:
#3. Data Reordering. 
data = data[['Case Number','Day','Month','Year','Date and Commentary','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N/U)','Species','Investigator or Source','href']]

#4. Data Saving.
data.to_csv('GSAF5_clean.csv', index = False)