In [48]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
# import scrapy
import numpy as np

In [81]:
#df = pd.read_csv('Data_Cleaning/project-pandas/attacks.csvattacks.csv')

#with open('attacks.csv', 'rb') as f:
   # info = f.read()
    
with open('attacks.csv', encoding="utf8", errors='ignore') as f:
    df = pd.read_csv(f)

In [82]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [69]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [71]:
df.isnull()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25719,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25720,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25721,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
25722,False,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [72]:
df.isnull().sum(axis = 1)

0         2
1         3
2         3
3         4
4         4
         ..
25718    24
25719    24
25720    24
25721    24
25722    23
Length: 25723, dtype: int64

In [73]:
nulos = df.isnull().sum()

In [74]:
nulos > 0

Case Number               True
Date                      True
Year                      True
Type                      True
Country                   True
Area                      True
Location                  True
Activity                  True
Name                      True
Sex                       True
Age                       True
Injury                    True
Fatal (Y/N)               True
Time                      True
Species                   True
Investigator or Source    True
pdf                       True
href formula              True
href                      True
Case Number.1             True
Case Number.2             True
original order            True
Unnamed: 22               True
Unnamed: 23               True
dtype: bool

In [75]:
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Date                      19421
Case Number.2             19421
Case Number.1             19421
href                      19421
pdf                       19421
href formula              19422
Year                      19423
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Activity                  19965
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
Unnamed: 23               25721
Unnamed: 22               25722
dtype: int64

In [76]:
df.shape

(25723, 24)

In [77]:
df.shape[0]

25723

In [78]:
porcentaje_nulos = nulos[nulos > 0].sort_values()/df.shape[0]
porcentaje_nulos

Case Number               0.661704
original order            0.754733
Date                      0.755005
Case Number.2             0.755005
Case Number.1             0.755005
href                      0.755005
pdf                       0.755005
href formula              0.755044
Year                      0.755083
Type                      0.755161
Investigator or Source    0.755666
Injury                    0.756094
Country                   0.756949
Name                      0.763169
Area                      0.772694
Fatal (Y/N)               0.775959
Location                  0.775998
Activity                  0.776154
Sex                       0.776970
Age                       0.865062
Species                   0.865335
Time                      0.885394
Unnamed: 23               0.999922
Unnamed: 22               0.999961
dtype: float64

In [83]:
columnas_desechables = porcentaje_nulos[porcentaje_nulos>0.90].index
columnas_desechables

Index(['Unnamed: 23', 'Unnamed: 22'], dtype='object')

In [84]:
df.shape

(25723, 24)

In [85]:
df.drop(columns = columnas_desechables, inplace = True)

In [86]:
df.shape

(25723, 22)

In [88]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Year                      19423
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Activity                  19965
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
dtype: int64

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
dtypes: float64(2), object(20)
memory usage: 4.3+ MB

In [108]:
df.shape

(25723, 22)

In [93]:
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Year                      19423
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Activity                  19965
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
dtype: int64

In [110]:
df[df.Type.isnull()][['Country', 'Time', 'Area', 'Activity']].isnull().sum()

Country     19421
Time        19424
Area        19423
Activity    19421
dtype: int64

In [111]:
df_nulos_type = df[df.Type.isnull()]

In [120]:
columnas_mantener = ['Date', 'Type', 'Investigator or Source', 'Injury', 'Country', 'Location', 'Activity', 'Year','Time']

In [121]:
df_nulos_type[columnas_mantener]

,Date,Type,Investigator or Source,Injury,Country,Location,Activity,Year,Time
85,15-Sep-2017,NaN,"Samoa Observer, 9/16/2017",Injuries to hands and legs,SAMOA,Nofoalii,Fishing,2017.0,Night
382,27-Jul-2015,NaN,NaN,Injury to hand,AUSTRALIA,Tyrendarra Beach,Surfing,2015.0,NaN
4867,Reported 11-Sep-1936,NaN,"Lansing State Journal, 9/11/1936",FATAL,VIETNAM,Saigon,Wreck of a sampam,1936.0,NaN
5705,Reported 03-Mar-1890,NaN,"The Guardian, 3/3/1890",FATAL,CEYLON,NaN,Diving,1890.0,NaN
6302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [122]:
df_nulos_type['Activity'].value_counts()

Fishing              1
Surfing              1
Wreck of a sampam    1
Diving               1
Name: Activity, dtype: int64

In [106]:
df['Activity'].value_counts()

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In [115]:
df['Activity'].fillna(0, inplace = True)

In [116]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Year                      19423
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
dtype: int64

In [123]:
df[df.Date.isnull()][['Year','Time']].isnull().sum()

Year    19421
Time    19421
dtype: int64

In [126]:
df_nulos_date = df[df.Date.isnull()]

In [127]:
df_nulos_date[columnas_mantener]

,Date,Type,Investigator or Source,Injury,Country,Location,Activity,Year,Time
6302,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
6303,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
6304,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
6305,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
6306,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
25722,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN

In [130]:
df_nulos_date['Year'].value_counts()

Series([], Name: Year, dtype: int64)

In [129]:
df['Year'].value_counts()

2015.0    143
2017.0    136
2016.0    130
2011.0    128
2014.0    127
         ...
1786.0      1
1785.0      1
1784.0      1
1783.0      1
1815.0      1
Name: Year, Length: 249, dtype: int64

In [131]:
df['Year'].fillna(0, inplace = True)

In [132]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
dtype: int64

In [135]:
df_nulos_date['Time'].value_counts()

Series([], Name: Time, dtype: int64)

In [136]:
df['Time'].value_counts()

Afternoon      187
11h00          128
Morning        121
12h00          109
15h00          108
              ...
00h30            1
14h37            1
10h07            1
13h53            1
19h00-20h00      1
Name: Time, Length: 365, dtype: int64

In [137]:
df['Time'].fillna(0, inplace = True)

In [138]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Sex                       19986
Age                       22252
Species                   22259
dtype: int64

In [141]:
df_nulos_order = df[df.pdf.isnull()]

In [142]:
df_nulos_order[columnas_mantener]

,Date,Type,Investigator or Source,Injury,Country,Location,Activity,Year,Time
6302,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
6303,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
6304,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
6305,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
6306,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25719,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25720,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25721,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25722,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0

In [144]:
df_nulos_order['href'].value_counts()

Series([], Name: href, dtype: int64)

In [145]:
df['href'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                 4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf          3
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf    2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.10-Warnock.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.16-Ferguson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.18-Wallersheim.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.24-boat.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                    1
Name: href, Length: 6285, dtype: int64

In [146]:
df['href'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                 4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf          3
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf    2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.10-Warnock.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.16-Ferguson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.18-Wallersheim.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.24-boat.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                    1
Name: href, Length: 6285, dtype: int64

In [147]:
df[['Case Number.1', 'href','Date', 'Case Number.2','href formula']] = df[['Case Number.1', 'href','Date', 'Case Number.2','href formula']].fillna(0)

In [148]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
pdf                       19421
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Sex                       19986
Age                       22252
Species                   22259
dtype: int64

In [149]:
df[df.Location.isnull()][['Area','Country']].isnull().sum()

Area       19661
Country    19460
dtype: int64

In [151]:
df_nulos_location = df[df.Location.isnull()]

In [152]:
df_nulos_location[columnas_mantener]

,Date,Type,Investigator or Source,Injury,Country,Location,Activity,Year,Time
56,09-Dec-2017,Unprovoked,"Daily Star, 12/11/2017",Minor injury to arm,BAHAMAS,NaN,Snorkeling,2017.0,0
62,Reported 13-Nov-2017,Unprovoked,Instagram,Puncture wounds to feet,NaN,NaN,Surfing,2017.0,0
101,18-Aug-2017,Unprovoked,"CBS12, 8/18/2017",Hand injured,BAHAMAS,NaN,Spearfishing,2017.0,15h00
110,Reported 26-Jul-2017,Unprovoked,"RevistaJaraysedal.es, 7/26/2017",Severe lacerations to left hand,BAHAMAS,NaN,Spearfishing,2017.0,0
132,Reported 14-Jun-2017,Unprovoked,"AOL.UK, 6/14/2017",Fingernail pulled off,BAHAMAS,NaN,Feeding sharks,2017.0,0
...,...,...,...,...,...,...,...,...,...
25718,0,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25719,0,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25720,0,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25721,0,NaN,NaN,NaN,NaN,NaN,0,0.0,0
25722,0,NaN,NaN,NaN,NaN,NaN,0,0.0,0

In [153]:
df_nulos_location['Area'].value_counts()

Torres Strait               12
Florida                     12
Hawaii                      11
New South Wales              7
Mirs Bay                     7
                            ..
Luzon                        1
Western Caroline Islands     1
Antibes                      1
Illeginni Atoll              1
Moala Island                 1
Name: Area, Length: 214, dtype: int64

In [154]:
df['Area'].value_counts()

Florida                                 1037
New South Wales                          486
Queensland                               311
Hawaii                                   298
California                               290
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: Area, Length: 825, dtype: int64

In [155]:
df[['Area', 'Country']] = df[['Area','Country']].fillna(0)

In [156]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
pdf                       19421
Type                      19425
Investigator or Source    19438
Injury                    19449
Name                      19631
Fatal (Y/N)               19960
Location                  19961
Sex                       19986
Age                       22252
Species                   22259
dtype: int64

In [157]:
df[['Type', 'pdf', 'Location']] = df[['Type', 'pdf', 'Location']].fillna(0)

In [158]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Investigator or Source    19438
Injury                    19449
Name                      19631
Fatal (Y/N)               19960
Sex                       19986
Age                       22252
Species                   22259
dtype: int64

In [164]:
df[df.Name.isnull()][['Age']].isnull().sum()

Age    19620
dtype: int64

In [165]:
df_nulos_name = df[df.Name.isnull()]

In [166]:
df_nulos_name[columnas_mantener]

,Date,Type,Investigator or Source,Injury,Country,Location,Activity,Year,Time
32,09-Apr-2018,Unprovoked,"Les Nouvelles Caledoniennes, 4/10/2018","No injury, shark bit board",NEW CALEDONIA,"Magenta Beach, Noumea",Windsurfing,2018.0,17h00
86,Sep-2017,Boating,"B. Myatt, GSAF","sharks rammed boats, no injury to occupants",AUSTRALIA,Esperance,Fishing,2017.0,0
124,02-Jul-2017,Invalid,"Linfo, 7/3/2017","Skull found in shark, a probable drowning & sc...",COMOROS,Moya,Fishing,2017.0,0
154,17-Apr-2017,Unprovoked,"Daytona Beach News-Journal, 4/17/2017",Minor bite to the foot,USA,"Daytona Beach, Volusia County",0,2017.0,Afternoon
184,13-Jan-2017,Unprovoked,"Brisbane Times,1/13/2017",Injury to hand,AUSTRALIA,Clairview,Swimming,2017.0,13h30
...,...,...,...,...,...,...,...,...,...
25718,0,0,NaN,NaN,0,0,0,0.0,0
25719,0,0,NaN,NaN,0,0,0,0.0,0
25720,0,0,NaN,NaN,0,0,0,0.0,0
25721,0,0,NaN,NaN,0,0,0,0.0,0
25722,0,0,NaN,NaN,0,0,0,0.0,0

In [169]:
df_nulos_name['Age'].value_counts()

57    1
20    1
60    1
17    1
12    1
11    1
32    1
21    1
26    1
19    1
7     1
Name: Age, dtype: int64

In [168]:
df['Age'].value_counts()

17          154
18          150
19          142
20          141
15          139
           ...
32 & 30       1
60's          1
20?           1
 28           1
13 or 14      1
Name: Age, Length: 155, dtype: int64

In [171]:
df[['Age', 'Name']] = df[['Age','Name']].fillna(0)

In [172]:
nulos = df.isnull().sum()
nulos[nulos > 0].sort_values()

Case Number               17021
original order            19414
Investigator or Source    19438
Injury                    19449
Fatal (Y/N)               19960
Sex                       19986
Species                   22259
dtype: int64

In [173]:
df.shape

(25723, 22)

In [177]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonMcNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,0,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,0,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0

In [182]:
df.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
dtype: object

In [ ]:
df.Country.astype(str).value_counts()

0                        19471
USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
                         ...
THE BALKANS                  1
NORTH ATLANTIC OCEAN         1
MAYOTTE                      1
GABON                        1
CEYLON (SRI LANKA)           1
Name: Country, Length: 213, dtype: int64

In [186]:
df.Activity.astype(str).value_counts()

0                                         19965
Surfing                                     971
Swimming                                    869
Fishing                                     431
Spearfishing                                333
                                          ...
Playing with a frisbee in the shallows        1
Sinking of the ferryboat Dumaguete            1
Wreck of the Storm King                       1
Feeding mullet to sharks                      1
Wreck of  large double sailing canoe          1
Name: Activity, Length: 1533, dtype: int64

In [196]:
df.to_csv('Shark_clean_output.csv', index = False)