In [349]:
import pandas as pd
import numpy as np
import re

In [350]:
!pwd

/Users/analuciagonzalez/Documents/Ironhack/Projects/project-pandas

In [351]:
df = pd.read_csv('/Users/analuciagonzalez/Documents/Ironhack/Projects/GSAF5.csv', encoding = 'ISO-8859-1')

## Exploración Datos

In [352]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [353]:
df.tail(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

In [354]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [355]:
df.shape

(5992, 24)

In [356]:
#Check null columns
null_cols = df.isnull().sum()
null_cols[null_cols>0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [357]:
df.columns = df.columns.str.capitalize()

In [358]:
df.columns = df.columns.str.replace('Sex ', 'Sex')
df.columns = df.columns.str.replace('Fatal (y/n)','Fatal')
df.columns = df.columns.str.replace('Investigator or source','Source')

##con iat no funciono

/var/folders/8s/vcwxyvv93jlbc3gkwsvl2xtm0000gn/T/ipykernel_17619/3199155743.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.columns = df.columns.str.replace('Fatal (y/n)','Fatal')

In [359]:
df.columns

Index(['Case number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (y/n)', 'Time',
       'Species ', 'Source', 'Pdf', 'Href formula', 'Href', 'Case number.1',
       'Case number.2', 'Original order', 'Unnamed: 22', 'Unnamed: 23'],
      dtype='object')

## Drop useless rows & columns

In [360]:
#Dropping unnamed columns porque no contienen información practicamente (de 5992 filas, no tienen 5991 y 5990=
df.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)

In [361]:
df.shape

(5992, 22)

In [362]:
#Case Number, Case Number.1 and Case Number.2 parecen tener la misma información, por lo que consolidaremos en solo una
df['Case number.1'].equals(df['Case number'])

False

In [363]:
df['Case number.2'].equals(df['Case number'])

False

In [364]:
df['Case number.1'].isin(df['Case number']).value_counts()

True     5980
False      12
Name: Case number.1, dtype: int64

In [365]:
df['Case number.2'].isin(df['Case number']).value_counts()

True     5990
False       2
Name: Case number.2, dtype: int64

In [366]:
(12/5980)*100

0.2006688963210702

In [367]:
(2/5990)*100

0.0333889816360601

##### Case Number.1 and Case Number.2 son duplicados de Case Number. los que no estan en Case number son menores al 1% por lo que no es representativo

In [368]:
df['Href formula'].equals(df['Href'])

False

In [369]:
df['Href formula'].isin(df['Href']).value_counts()

True     5939
False      53
Name: Href formula, dtype: int64

In [370]:
(53/5939)*100

0.8924061289779425

##### Href formula practicamente es duplicado de Href excepto en 1% (no es representativo)

##### PDF y original order no agregan valor para el analisis

In [371]:
df.drop(columns=['Href formula','Case number.1','Case number.2','Pdf','Original order'], inplace=True)

In [372]:
df.shape

(5992, 17)

##### Como queremos información confiable, aquellos que no tengan 'fuente' (Source y Href) serán eliminados

In [373]:
df.rename(columns={'Investigator or Source':'Source'}, inplace=True)

In [374]:
null_data = df[(df['Source'].isnull() == True) | (df['Href'].isnull() == True)]
null_data.isnull().sum()

Case number     0
Date            0
Year            0
Type            0
Country         0
Area            1
Location        0
Activity        4
Name            1
Sex             1
Age            12
Injury          1
Fatal (y/n)     0
Time           14
Species        10
Source         15
Href            3
dtype: int64

In [375]:
index_a_borrar = list(null_data.index)

In [376]:
for i in index_a_borrar:
    df = df.drop(i)

In [377]:
df.shape

(5974, 17)

## Exploration Questions:
* ¿Do sharks attack even when unprovoked?
* ¿Are men or women attacked more?
* ¿Where (in what country) do people have a higher risk of being attacked?

In [378]:
df

,Case number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (y/n),Time,Species,Source,Href
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,16,Minor injury to thigh,N,13h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,36,Lacerations to hands,N,11h00,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,43,Lacerations to lower leg,N,10h43,NaN,"Orlando Sentinel, 9/19/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,NaN,Struck by fin on chest & leg,N,NaN,NaN,"The Age, 9/18/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,NaN,No injury: Knocked off board by shark,N,NaN,2 m shark,"The Age, 9/16/2016",http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5987,ND.0005,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...
5988,ND.0004,Before 1903,0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...
5989,ND.0003,1900-1905,0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...
5990,ND.0002,1883-1889,0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...
5991,ND.0001,1845-1853,0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...

## Data Cleaning by Variable

##### Taken into accounts vcariables that could answer by preliminary questions

### Type

In [379]:
df.Type.unique()

array(['Unprovoked', 'Boat', 'Provoked', 'Invalid', 'Sea Disaster',
       'Boating'], dtype=object)

In [380]:
df.Type.value_counts()

Unprovoked      4373
Provoked         557
Invalid          515
Sea Disaster     219
Boat             200
Boating          110
Name: Type, dtype: int64

In [381]:
df.Type= np.where(df.Type =='Boat', 'Boating',df.Type)

In [382]:
df.Type.value_counts()

Unprovoked      4373
Provoked         557
Invalid          515
Boating          310
Sea Disaster     219
Name: Type, dtype: int64

### Sex

In [383]:
df.Sex.unique()

array(['M', nan, 'F', 'M ', 'lli', 'N', '.'], dtype=object)

In [384]:
df.Sex.value_counts()

M      4822
F       581
M         2
lli       1
N         1
.         1
Name: Sex, dtype: int64

In [385]:
df.Sex = df.Sex.str.upper().str.strip()

In [390]:
df.Sex = df.Sex.replace('N','nan').replace('.','nan').replace('LLI','M')

In [392]:
df.Sex.value_counts()

M      4825
F       581
nan       2
Name: Sex, dtype: int64

### Country

In [397]:
df.loc[df[df.Country.isnull()].index][['Country']]

     Country
303      NaN
2731     NaN
3153     NaN
3162     NaN
3163     NaN
3170     NaN
3174     NaN
3200     NaN
3379     NaN
3435     NaN
3792     NaN
4005     NaN
4040     NaN
4271     NaN
4412     NaN
4473     NaN
4485     NaN
4499     NaN
4502     NaN
4681     NaN
4790     NaN
5189     NaN
5346     NaN
5347     NaN
5370     NaN
5394     NaN
5525     NaN
5558     NaN
5560     NaN
5589     NaN
5632     NaN
5664     NaN
5723     NaN
5729     NaN
5827     NaN
5847     NaN
5856     NaN
5862     NaN
5866     NaN
5868     NaN
5889     NaN
5896     NaN
5949     NaN

In [398]:
df.Country.unique()

array(['USA', 'AUSTRALIA', 'NEW CALEDONIA', 'REUNION', 'BAHAMAS', 'SPAIN',
       'CHINA', 'JAPAN', 'COLUMBIA', 'SOUTH AFRICA', 'EGYPT',
       'NEW ZEALAND', 'INDONESIA', 'FRENCH POLYNESIA', 'CAPE VERDE',
       'Fiji', 'BRAZIL', 'DOMINICAN REPUBLIC', 'CAYMAN ISLANDS',
       'UNITED ARAB EMIRATES', 'ARUBA', 'MOZAMBIQUE', 'THAILAND', 'FIJI',
       'PUERTO RICO', 'ITALY', 'MEXICO', 'ATLANTIC OCEAN', 'GREECE',
       'MAURITIUS', nan, 'ST. MARTIN', 'FRANCE', 'ECUADOR',
       'PAPUA NEW GUINEA', 'TRINIDAD & TOBAGO', 'KIRIBATI', 'ISRAEL',
       'DIEGO GARCIA', 'TAIWAN', 'JAMAICA', 'PALESTINIAN TERRITORIES',
       'GUAM', 'SEYCHELLES', 'BELIZE', 'PHILIPPINES', 'NIGERIA', 'TONGA',
       'SCOTLAND', 'CANADA', 'CROATIA', 'SAUDI ARABIA', 'CHILE',
       'ANTIGUA', 'KENYA', 'RUSSIA', 'TURKS & CAICOS', 'COSTA RICA',
       'UNITED KINGDOM', 'MALAYSIA', 'UNITED ARAB EMIRATES (UAE)',
       'SAMOA', 'AZORES', 'SOLOMON ISLANDS', 'SOUTH KOREA', 'MALTA',
       'VIETNAM', 'MADAGASCAR', 'PANAMA', 'SOMALIA', 'NEVIS', 'CUBA',
       'ENGLAND', 'BRITISH VIRGIN ISLANDS', 'NORWAY', 'SENEGAL', 'YEMEN',
       'GULF OF ADEN', 'Sierra Leone', 'ST. MAARTIN', 'GRAND CAYMAN',
       'Seychelles', 'LIBERIA', 'VANUATU', 'MEXICO ', 'HONDURAS',
       'VENEZUELA', 'SRI LANKA', ' TONGA', 'URUGUAY', 'INDIA',
       'MICRONESIA', 'CARIBBEAN SEA', 'OKINAWA', 'TANZANIA',
       'MARSHALL ISLANDS', 'EGYPT / ISRAEL', 'NORTHERN ARABIAN SEA',
       'HONG KONG', 'EL SALVADOR', 'ANGOLA', 'BERMUDA', 'MONTENEGRO',
       'IRAN', 'TUNISIA', 'NAMIBIA', 'NORTH ATLANTIC OCEAN', 'PORTUGAL',
       'SOUTH CHINA SEA', 'BANGLADESH', 'PALAU', 'WESTERN SAMOA',
       'PACIFIC OCEAN ', 'BRITISH ISLES', 'GRENADA', 'IRAQ', 'TURKEY',
       'SINGAPORE', 'NEW BRITAIN', 'SUDAN', 'JOHNSTON ISLAND',
       'SOUTH PACIFIC OCEAN', 'NEW GUINEA', 'RED SEA',
       'NORTH PACIFIC OCEAN', 'FEDERATED STATES OF MICRONESIA',
       'MID ATLANTIC OCEAN', 'ADMIRALTY ISLANDS', 'BRITISH WEST INDIES',
       'SOUTH ATLANTIC OCEAN', 'PERSIAN GULF', 'RED SEA / INDIAN OCEAN',
       'PACIFIC OCEAN', 'NORTH SEA', 'NICARAGUA ', 'MALDIVE ISLANDS',
       'AMERICAN SAMOA', 'ANDAMAN / NICOBAR ISLANDAS', 'GABON', 'MAYOTTE',
       'NORTH ATLANTIC OCEAN ', 'THE BALKANS', 'SUDAN?', 'ARGENTINA',
       'MARTINIQUE', 'INDIAN OCEAN', 'GUATEMALA', 'NETHERLANDS ANTILLES',
       'NORTHERN MARIANA ISLANDS', 'IRAN / IRAQ', 'JAVA', 'SIERRA LEONE',
       ' PHILIPPINES', 'NICARAGUA', 'CENTRAL PACIFIC',
       'SOLOMON ISLANDS / VANUATU', 'SOUTHWEST PACIFIC OCEAN',
       'BAY OF BENGAL', 'MID-PACIFC OCEAN', 'SLOVENIA', 'CURACAO',
       'ITALY / CROATIA', 'BARBADOS', 'MONACO', 'GUYANA', 'HAITI',
       'SAN DOMINGO', 'IRELAND', 'KUWAIT', 'LIBYA', 'YEMEN ',
       'MEDITERRANEAN SEA?', 'FALKLAND ISLANDS', 'CRETE', 'CYPRUS',
       'EGYPT ', 'BURMA', 'LEBANON', 'PARAGUAY', 'BRITISH NEW GUINEA',
       'OCEAN', 'GEORGIA', 'SYRIA', 'TUVALU', 'INDIAN OCEAN?', 'GUINEA',
       'EQUATORIAL GUINEA / CAMEROON', 'COOK ISLANDS', 'ALGERIA',
       'Coast of AFRICA', 'TASMAN SEA', 'GHANA', 'St Helena', 'GREENLAND',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND',
       'Between PORTUGAL & INDIA', 'DJIBOUTI', 'BAHREIN', 'KOREA',
       'RED SEA?', 'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [399]:
[re.sub(r'(.*/ | \? |\(\w* \w*\) )','', str(x)).strip().upper() for x in df.Country.unique()]

['USA',
 'AUSTRALIA',
 'NEW CALEDONIA',
 'REUNION',
 'BAHAMAS',
 'SPAIN',
 'CHINA',
 'JAPAN',
 'COLUMBIA',
 'SOUTH AFRICA',
 'EGYPT',
 'NEW ZEALAND',
 'INDONESIA',
 'FRENCH POLYNESIA',
 'CAPE VERDE',
 'FIJI',
 'BRAZIL',
 'DOMINICAN REPUBLIC',
 'CAYMAN ISLANDS',
 'UNITED ARAB EMIRATES',
 'ARUBA',
 'MOZAMBIQUE',
 'THAILAND',
 'FIJI',
 'PUERTO RICO',
 'ITALY',
 'MEXICO',
 'ATLANTIC OCEAN',
 'GREECE',
 'MAURITIUS',
 'NAN',
 'ST. MARTIN',
 'FRANCE',
 'ECUADOR',
 'PAPUA NEW GUINEA',
 'TRINIDAD & TOBAGO',
 'KIRIBATI',
 'ISRAEL',
 'DIEGO GARCIA',
 'TAIWAN',
 'JAMAICA',
 'PALESTINIAN TERRITORIES',
 'GUAM',
 'SEYCHELLES',
 'BELIZE',
 'PHILIPPINES',
 'NIGERIA',
 'TONGA',
 'SCOTLAND',
 'CANADA',
 'CROATIA',
 'SAUDI ARABIA',
 'CHILE',
 'ANTIGUA',
 'KENYA',
 'RUSSIA',
 'TURKS & CAICOS',
 'COSTA RICA',
 'UNITED KINGDOM',
 'MALAYSIA',
 'UNITED ARAB EMIRATES (UAE)',
 'SAMOA',
 'AZORES',
 'SOLOMON ISLANDS',
 'SOUTH KOREA',
 'MALTA',
 'VIETNAM',
 'MADAGASCAR',
 'PANAMA',
 'SOMALIA',
 'NEVIS',
 'CUBA',
 'ENGLAND',
 'BRITISH VIRGIN ISLANDS',
 'NORWAY',
 'SENEGAL',
 'YEMEN',
 'GULF OF ADEN',
 'SIERRA LEONE',
 'ST. MAARTIN',
 'GRAND CAYMAN',
 'SEYCHELLES',
 'LIBERIA',
 'VANUATU',
 'MEXICO',
 'HONDURAS',
 'VENEZUELA',
 'SRI LANKA',
 'TONGA',
 'URUGUAY',
 'INDIA',
 'MICRONESIA',
 'CARIBBEAN SEA',
 'OKINAWA',
 'TANZANIA',
 'MARSHALL ISLANDS',
 'ISRAEL',
 'NORTHERN ARABIAN SEA',
 'HONG KONG',
 'EL SALVADOR',
 'ANGOLA',
 'BERMUDA',
 'MONTENEGRO',
 'IRAN',
 'TUNISIA',
 'NAMIBIA',
 'NORTH ATLANTIC OCEAN',
 'PORTUGAL',
 'SOUTH CHINA SEA',
 'BANGLADESH',
 'PALAU',
 'WESTERN SAMOA',
 'PACIFIC OCEAN',
 'BRITISH ISLES',
 'GRENADA',
 'IRAQ',
 'TURKEY',
 'SINGAPORE',
 'NEW BRITAIN',
 'SUDAN',
 'JOHNSTON ISLAND',
 'SOUTH PACIFIC OCEAN',
 'NEW GUINEA',
 'RED SEA',
 'NORTH PACIFIC OCEAN',
 'FEDERATED STATES OF MICRONESIA',
 'MID ATLANTIC OCEAN',
 'ADMIRALTY ISLANDS',
 'BRITISH WEST INDIES',
 'SOUTH ATLANTIC OCEAN',
 'PERSIAN GULF',
 'INDIAN OCEAN',
 'PACIFIC OCEAN',
 'NORTH SEA',
 'NICARAGUA',
 'MALDIVE ISLANDS',
 'AMERICAN SAMOA',
 'NICOBAR ISLANDAS',
 'GABON',
 'MAYOTTE',
 'NORTH ATLANTIC OCEAN',
 'THE BALKANS',
 'SUDAN?',
 'ARGENTINA',
 'MARTINIQUE',
 'INDIAN OCEAN',
 'GUATEMALA',
 'NETHERLANDS ANTILLES',
 'NORTHERN MARIANA ISLANDS',
 'IRAQ',
 'JAVA',
 'SIERRA LEONE',
 'PHILIPPINES',
 'NICARAGUA',
 'CENTRAL PACIFIC',
 'VANUATU',
 'SOUTHWEST PACIFIC OCEAN',
 'BAY OF BENGAL',
 'MID-PACIFC OCEAN',
 'SLOVENIA',
 'CURACAO',
 'CROATIA',
 'BARBADOS',
 'MONACO',
 'GUYANA',
 'HAITI',
 'SAN DOMINGO',
 'IRELAND',
 'KUWAIT',
 'LIBYA',
 'YEMEN',
 'MEDITERRANEAN SEA?',
 'FALKLAND ISLANDS',
 'CRETE',
 'CYPRUS',
 'EGYPT',
 'BURMA',
 'LEBANON',
 'PARAGUAY',
 'BRITISH NEW GUINEA',
 'OCEAN',
 'GEORGIA',
 'SYRIA',
 'TUVALU',
 'INDIAN OCEAN?',
 'GUINEA',
 'CAMEROON',
 'COOK ISLANDS',
 'ALGERIA',
 'COAST OF AFRICA',
 'TASMAN SEA',
 'GHANA',
 'ST HELENA',
 'GREENLAND',
 'MEDITERRANEAN SEA',
 'SWEDEN',
 'ICELAND',
 'BETWEEN PORTUGAL & INDIA',
 'DJIBOUTI',
 'BAHREIN',
 'KOREA',
 'RED SEA?',
 'ASIA?',
 'CEYLON (SRI LANKA)']

### Fatal

In [400]:
df.rename(columns={'Fatal (y/n)':'Fatal'}, inplace=True)

In [401]:
df.Fatal.unique()

array(['N', 'Y', nan, 'UNKNOWN', ' N', 'F', 'N ', '#VALUE!', 'n'],
      dtype=object)

In [402]:
df.Fatal.value_counts()

N          4299
Y          1551
UNKNOWN      93
 N            8
F             1
N             1
#VALUE!       1
n             1
Name: Fatal, dtype: int64

In [403]:
df.Fatal = df.Fatal.replace('UNKNOWN', 'nan').replace('#VALUE!', 'nan').replace('F','Y').replace('n','N').replace(' N','N').replace('N ','N')

In [404]:
##df['Fatal']=df['Fatal'].apply(lambda x:'N' if re.findall('N', str(x)) else 'Y' if re.findall('Y',str(x)) else 'nan') porque no me da el valor correcto

In [405]:
df.Fatal.unique()

array(['N', 'Y', nan, 'nan'], dtype=object)

In [406]:
df.Fatal.value_counts()

N      4309
Y      1552
nan      94
Name: Fatal, dtype: int64

### Export Data

In [416]:
df.to_csv('sharkattack_clean.csv')