In [58]:
import pandas as pd
import numpy as np

In [59]:
sharks = pd.read_csv('C:/Users/gdlcm/OneDrive/Ironhack_DAPT-0722/Python_Projects/IRONHACK Lab Parsing API/project-pandas/sharkoriginal.csv', encoding='latin-1')
sharks.shape

(5992, 24)

In [60]:
sharks.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [61]:
sharks.index

RangeIndex(start=0, stop=5992, step=1)

In [62]:
sharks.size

143808

In [63]:
len(sharks)

5992

In [64]:
new_sharks=sharks.copy()
new_sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [65]:
null_columns=new_sharks.isnull().sum()
null_columns[null_columns > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [66]:
drop_cols = list(null_columns[null_columns > 5392].index)
new_sharks = new_sharks.drop(drop_cols, axis=1)

In [67]:
print(new_sharks['Case Number.1']==new_sharks['Case Number.2'])
print(sharks.shape[0])
new_sharks.drop(['Case Number.2'], axis=1, inplace=True)

0        True
1        True
2        True
3        True
4       False
        ...
5987     True
5988     True
5989     True
5990     True
5991     True
Length: 5992, dtype: bool
5992

In [68]:
new_sharks.columns = new_sharks.columns.str.replace(' ', '')

In [69]:
new_sharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']] = new_sharks[['Country', 'Area', 'Location','Activity','Name','Sex','Age','Injury','Time','Species','href']].fillna("NA")

In [70]:
print(new_sharks['originalorder'].nunique())
print(new_sharks['CaseNumber'].nunique())
print(new_sharks['originalorder'].is_unique)
print(new_sharks['CaseNumber'].is_unique)

5988
5976
False
False

In [71]:
new_sharks.set_index(['originalorder'], inplace=True)

In [72]:
new_sharks=new_sharks.sort_values(by='originalorder')

In [73]:
irrelevant_columns=['Name','pdf','hrefformula', 'href', 'CaseNumber.1','Location']
new_sharks=new_sharks.drop(irrelevant_columns, axis=1)

In [74]:
before=len(new_sharks)
new_sharks.drop_duplicates(inplace=True)
after = len(new_sharks)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [75]:
descriptivenew_sharks = new_sharks.describe().transpose()
descriptivenew_sharks

       count         mean         std  min     25%     50%     75%     max
Year  5992.0  1925.204606  286.473712  0.0  1942.0  1975.0  2003.0  2016.0

In [76]:
descriptivenew_sharks['IQR'] = descriptivenew_sharks['75%'] - descriptivenew_sharks['25%']
print(descriptivenew_sharks['IQR'])
outlier25=descriptivenew_sharks['25%']-(1.5*descriptivenew_sharks['IQR'])
outlier75=descriptivenew_sharks['75%']+(1.5*descriptivenew_sharks['IQR'])
print(outlier25)
print(outlier75)

Year    61.0
Name: IQR, dtype: float64
Year    1850.5
dtype: float64
Year    2094.5
dtype: float64

In [77]:
new_sharks['Year'] = np.where(new_sharks.Year > 1850, new_sharks.Year, "Not relevant")

In [78]:
new_sharks.drop(new_sharks[new_sharks['Year'] == 'Not relevant'].index, inplace=True)
new_sharks.Year.value_counts()

2015    139
2011    128
2014    125
2013    122
2008    121
       ...
1851      3
1869      2
1866      1
1859      1
1854      1
Name: Year, Length: 165, dtype: int64

In [79]:
new_sharks['Year']=pd.to_numeric(new_sharks['Year']).astype(int)
new_sharks.dtypes

CaseNumber              object
Date                    object
Year                     int32
Type                    object
Country                 object
Area                    object
Activity                object
Sex                     object
Age                     object
Injury                  object
Fatal(Y/N)              object
Time                    object
Species                 object
InvestigatororSource    object
dtype: object

In [80]:
new_sharks=new_sharks.loc[new_sharks['Year']>=2000]
new_sharks['Year'].value_counts()

2015    139
2011    128
2014    125
2013    122
2008    121
2009    120
2012    117
2007    112
2016    103
2006    103
2005    103
2010    101
2000     97
2001     92
2004     92
2003     92
2002     88
Name: Year, dtype: int64

In [81]:
new_sharks.drop(new_sharks[new_sharks['Type'] == 'Invalid'].index, inplace=True)
new_sharks.Type = (new_sharks.Type.str.replace('Boating', 'Boat'))
new_sharks['shark fault?']=np.where(new_sharks['Type']=='Provoked','N','Y')

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\372839723.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.drop(new_sharks[new_sharks['Type'] == 'Invalid'].index, inplace=True)
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\372839723.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Type = (new_sharks.Type.str.replace('Boating', 'Boat'))
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\372839723.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['shark fault?']=np.where(new_sharks['Type']=='Provoked','N','Y')

In [82]:
new_sharks.Country = (new_sharks.Country
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title()
                            .str.replace('Usa','USA'))
country=new_sharks.Country.value_counts(normalize=True)
country

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2404208509.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('?', '')
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2404208509.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Country = (new_sharks.Country

USA                     0.507620
Australia               0.180539
South Africa            0.066237
Brazil                  0.024619
Bahamas                 0.024033
                          ...
Yemen                   0.000586
Norway                  0.000586
Croatia                 0.000586
Somalia                 0.000586
United Arab Emirates    0.000586
Name: Country, Length: 82, dtype: float64

In [83]:
new_sharks['Area'].str.contains(r'Hawaii').value_counts()

False    1598
True      108
Name: Area, dtype: int64

In [84]:
new_sharks['Area'][new_sharks.Area.str.contains(r'Hawaii')] = 'Hawaii'
new_sharks.Area.value_counts()

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2038244478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'Hawaii')] = 'Hawaii'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2038244478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'Hawaii')] = 'Hawaii'

Florida               473
New South Wales       130
Hawaii                108
California             90
Western Australia      68
                     ...
Marovo Lagoon           1
Northern Bahamas        1
Yasawa Islands          1
Phang nga Province      1
Alicante Province       1
Name: Area, Length: 226, dtype: int64

In [85]:
new_sharks['Area'][new_sharks.Area.str.contains(r'[0-9]')] = 'Not relevant'
new_sharks.drop(new_sharks[new_sharks['Area'] == 'Not relevant'].index, inplace=True)
new_sharks['Area'][new_sharks.Area.str.contains(r'Between')] = 'Not precised'
new_sharks.drop(new_sharks[new_sharks['Area'] == 'Not precised'].index, inplace=True)

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'[0-9]')] = 'Not relevant'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'[0-9]')] = 'Not relevant'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.drop(new_sharks[new_sharks['Area'] == 'Not relevant'].index, inplace=True)
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'Between')] = 'Not precised'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Area'][new_sharks.Area.str.contains(r'Between')] = 'Not precised'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3452788557.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.drop(new_sharks[new_sharks['Area'] == 'Not precised'].index, inplace=True)

In [86]:
new_sharks.Area = (new_sharks.Area
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title())

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2795627654.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('?', '')
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2795627654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Area = (new_sharks.Area

In [87]:
new_sharks.Activity = (new_sharks.Activity
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower()
                            .str.title())

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2960193699.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('?', '')
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2960193699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Activity = (new_sharks.Activity

In [88]:
new_sharks['Sex'][new_sharks.Sex.str.startswith('F')]='Female'
new_sharks['Sex'][new_sharks.Sex.str.startswith('M')]='Male'
new_sharks['Sex'][(new_sharks['Sex']=='N') |
               (new_sharks['Sex']=='lli') |
              (new_sharks['Sex']== '.')]='NA'
new_sharks.Sex.value_counts()

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][new_sharks.Sex.str.startswith('F')]='Female'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][new_sharks.Sex.str.startswith('F')]='Female'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][new_sharks.Sex.str.startswith('M')]='Male'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][new_sharks.Sex.str.startswith('M')]='Male'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][(new_sharks['Sex']=='N') |
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2606331926.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Sex'][(new_sharks['Sex']=='N') |

Male      1354
Female     265
NA          82
Name: Sex, dtype: int64

In [89]:
number=new_sharks['Age'].str.isnumeric()
number.value_counts()

True     1263
False     438
Name: Age, dtype: int64

In [90]:
new_sharks['Age'][new_sharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
new_sharks['Age'][new_sharks.Age.str.contains(r'\&')] = 'More than one person'
new_sharks['Age'][new_sharks.Age.str.contains(r'\!?/,')] = 'NA'
new_sharks.Age.value_counts()

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'[A-Za-z]')] = 'NA'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'\&')] = 'More than one person'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'\&')] = 'More than one person'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'\!?/,')] = 'NA'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\997482924.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Age'][new_sharks.Age.str.contains(r'\!?/,')] = 'NA'

NA    433
15     51
20     47
16     44
19     42
     ...
84      1
Â        1
        1
73      1
72      1
Name: Age, Length: 78, dtype: int64

In [91]:
new_sharks.Injury = (new_sharks.Injury
                            .str.replace('?', '')
                            .str.replace('&', 'and')
                            .str.lower())

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2765744744.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  .str.replace('?', '')
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\2765744744.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Injury = (new_sharks.Injury

In [92]:
new_sharks.Species=new_sharks.Species.str.lower()
new_sharks['Species'][new_sharks.Species.str.contains(r'zambesi')] = 'Zambesi Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'white')] = 'White Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'tiger')] = 'Tiger Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'blacktip')] = 'Blacktip Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'blue')] = 'Blue Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'bronze')] = 'Bronze Whaler Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'raggedtooth')] = 'Raggedtooth Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'nurse')] = 'Nurse Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'bull')] = 'Bull Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'caribbean')] = 'Caribbean Reef Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'make')] = 'Mako Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'grey')] = 'Grey Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'hammerhead')] = 'Hammerhead Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'leopard')] = 'Leopard Shark'
new_sharks['Species'][new_sharks.Species.str.contains(r'lemon')] = 'Lemon Shark'
new_sharks=new_sharks.loc[(new_sharks['Species'] == 'Zambesi Shark') |
                     (new_sharks['Species'] == 'White Shark') |
                    (new_sharks['Species'] == 'Tiger Shark') |
                     (new_sharks['Species'] == 'Blacktip Shark') |
                    (new_sharks['Species'] == 'Blue Shark') |
                     (new_sharks['Species'] == 'Bronze Whaler Shark') |
                    (new_sharks['Species'] == 'Raggedtooth Shark') |
                     (new_sharks['Species'] == 'Nurse Shark') |
                    (new_sharks['Species'] == 'Bull Shark') |
                     (new_sharks['Species'] == 'Caribbean Reef Shark') |
                   (new_sharks['Species'] == 'Mako Shark') |
                     (new_sharks['Species'] == 'Grey Shark') |
                   (new_sharks['Species'] == 'Hammerhead Shark') |
                     (new_sharks['Species'] == 'Leopard Shark') |
                    (new_sharks['Species'] == 'Lemon Shark')]
new_sharks.Species.value_counts()

C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks.Species=new_sharks.Species.str.lower()
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'zambesi')] = 'Zambesi Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'zambesi')] = 'Zambesi Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'white')] = 'White Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'white')] = 'White Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'tiger')] = 'Tiger Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'tiger')] = 'Tiger Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'blacktip')] = 'Blacktip Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'blacktip')] = 'Blacktip Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'blue')] = 'Blue Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'blue')] = 'Blue Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'bronze')] = 'Bronze Whaler Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'bronze')] = 'Bronze Whaler Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'raggedtooth')] = 'Raggedtooth Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'raggedtooth')] = 'Raggedtooth Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'nurse')] = 'Nurse Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'nurse')] = 'Nurse Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'bull')] = 'Bull Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'bull')] = 'Bull Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'caribbean')] = 'Caribbean Reef Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'caribbean')] = 'Caribbean Reef Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'make')] = 'Mako Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'make')] = 'Mako Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'grey')] = 'Grey Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'grey')] = 'Grey Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'hammerhead')] = 'Hammerhead Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'hammerhead')] = 'Hammerhead Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'leopard')] = 'Leopard Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'leopard')] = 'Leopard Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'lemon')] = 'Lemon Shark'
C:\Users\gdlcm\AppData\Local\Temp\ipykernel_88244\3940340339.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sharks['Species'][new_sharks.Species.str.contains(r'lemon')] = 'Lemon Shark'

White Shark             221
Tiger Shark             112
Bull Shark              110
Blacktip Shark           62
Bronze Whaler Shark      34
Nurse Shark              28
Raggedtooth Shark        16
Lemon Shark              14
Hammerhead Shark         10
Zambesi Shark            10
Blue Shark               10
Grey Shark                9
Caribbean Reef Shark      9
Name: Species, dtype: int64

In [93]:
melted = pd.melt(new_sharks, id_vars=['Area','Sex','Age','Fatal(Y/N)'], 
                 value_vars=['Injury'])
melted

,Area,Sex,Age,Fatal(Y/N),variable,value
0,Florida,Male,NA,N,Injury,no injury to occupant; shark bit propeller
1,Worcestershire,Male,NA,N,Injury,fingers bitten provoked incident
2,Western Cape Province,Male,NA,N,Injury,foot bitten
3,New South Wales,Male,NA,N,Injury,no injury
4,North Province,Male,35,Y,Injury,fatal
...,...,...,...,...,...,...
640,Hawaii,Male,21,N,Injury,"no inury, shark and board collided"
641,Na,Male,20,N,Injury,"right arm severed, ankle severely bitten"
642,Florida,Male,25,N,Injury,lacerations to right foot
643,California,Male,22,N,Injury,two toes broken and lacerated
644,Hawaii,Female,51,N,Injury,severe lacerations to shoulder and forearm

In [94]:
order_list=['CaseNumber','Species','Injury', 'Fatal(Y/N)','shark fault?','Sex', 'Age','Activity','Country', 'Area', 'Year','Date','Time','Type','InvestigatororSource']
new_sharks=new_sharks[order_list]

In [95]:
new_sharks=new_sharks.rename(columns={'CaseNumber':'Case Number','Injury':'Type of Injury','Fatal(Y/N)':'Fatal:Yes or No','InvestigatororSource':'Investigation','shark fault?':'Unprovoked attack'})

In [96]:
new_sharks.reset_index(drop=True, inplace=True)
new_sharks

,Case Number,Species,Type of Injury,Fatal:Yes or No,Unprovoked attack,Sex,Age,Activity,Country,Area,Year,Date,Time,Type,Investigation
0,2000.00.00,Hammerhead Shark,no injury to occupant; shark bit propeller,N,Y,Male,NA,Fishing For Tarpon,USA,Florida,2000,2000,NA,Boat,"B. Stout, News-Press, 7/2/2005"
1,2000.02.14,Blacktip Shark,fingers bitten provoked incident,N,N,Male,NA,Feeding Prawns To Captive Sharks,England,Worcestershire,2000,14-Feb-00,NA,Provoked,"The Sun (London), 2/17/2000"
2,2000.02.19,White Shark,foot bitten,N,Y,Male,NA,Body Surfing,South Africa,Western Cape Province,2000,19-Feb-00,14h00,Unprovoked,"C. Creswell, GSAF"
3,2000.03.14,Tiger Shark,no injury,N,Y,Male,NA,Surfing,Australia,New South Wales,2000,14-Mar-00,19h30,Unprovoked,"Sydney Morning Herald, 3/16/2000"
4,2000.03.15,Tiger Shark,fatal,Y,Y,Male,35,Spearfishing,New Caledonia,North Province,2000,15-Mar-00,Morning,Unprovoked,"Les Nouvelles Caledoniennes, 3/16/2000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
640,2016.08.06,Tiger Shark,"no inury, shark and board collided",N,Y,Male,21,Sup Foil Boarding,USA,Hawaii,2016,06-Aug-16,NA,Unprovoked,"SUP, 8/9/2015"
641,2016.08.27,Bull Shark,"right arm severed, ankle severely bitten",N,Y,Male,20,Surfing,Reunion,Na,2016,27-Aug-16,17h00,Unprovoked,"LaDepeche, 8/29/2016"
642,2016.08.29.b,Bull Shark,lacerations to right foot,N,Y,Male,25,Surfing,USA,Florida,2016,29-Aug-16,15h00,Unprovoked,"News Channel 8, 8/30/16"
643,2016.09.01,White Shark,two toes broken and lacerated,N,Y,Male,22,Spearfishing,USA,California,2016,01-Sep-16,NA,Unprovoked,"R. Collier, GSAF"
644,2016.09.07,Tiger Shark,severe lacerations to shoulder and forearm,N,Y,Female,51,Swimming,USA,Hawaii,2016,07-Sep-16,14h30,Unprovoked,"Hawaii News Now, 9/7/2016"

In [97]:
new_sharks = new_sharks.to_csv('new_sharks.csv', index=False)