In [236]:
import pandas as pd
import numpy as np

In [237]:
data = pd.read_csv("GSAF5.csv", encoding = "ISO-8859-1")

In [238]:
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [239]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [240]:
# TECHNIQUE 1: DROP COLUMNS WITH MOSTLY NULL VALUES

data.drop(columns = data.columns[22:24], inplace = True)

In [241]:
# TECHNIQUE 2: SORT BY "Original Order columns"

sorted_data = data.sort_values(by = "original order").reset_index(drop = True)

sorted_data.drop(columns = "original order", inplace = True)

In [242]:
# TECHNIQUE 3: Replace spaces and dots with underscores and remove capital letters from column names, 
# as well as strip leading and trailing white spaces

sorted_data.rename(str.lower, axis = "columns")
sorted_data.columns = sorted_data.columns.str.strip()
sorted_data.columns = sorted_data.columns.str.replace(" ", "_")
sorted_data.columns = sorted_data.columns.str.lower()
sorted_data.columns = sorted_data.columns.str.replace(".", "_")
sorted_data.columns

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\1454406963.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  sorted_data.columns = sorted_data.columns.str.replace(".", "_")

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number_1', 'case_number_2', 'original_order'],
      dtype='object')

In [243]:
# TECHNIQUE 4: Drop rows with null values in columns with mostly non-null values ("Country", Area", "Location", "Activity", "Name",
# "Sex", "Injury", "Fatal", "Investigator or Source", "href formula", "h ref")

columns_with_nulls = []

for column in sorted_data.columns:
    null_values = sorted_data[column].isna().sum()
    if null_values > 0:
        columns_with_nulls.append((column, null_values))
        
print(columns_with_nulls)

columns_with_few_nulls = [column_with_nulls[0] for column_with_nulls in columns_with_nulls if column_with_nulls[1] < 2000]

[('country', 43), ('area', 402), ('location', 496), ('activity', 527), ('name', 200), ('sex', 567), ('age', 2681), ('injury', 27), ('fatal_(y/n)', 19), ('time', 3213), ('species', 2934), ('investigator_or_source', 15), ('href_formula', 1), ('href', 3)]

In [244]:
sorted_data.dropna(subset = columns_with_few_nulls, inplace = True)

sorted_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4488 entries, 0 to 5991
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4488 non-null   object
 1   date                    4488 non-null   object
 2   year                    4488 non-null   int64
 3   type                    4488 non-null   object
 4   country                 4488 non-null   object
 5   area                    4488 non-null   object
 6   location                4488 non-null   object
 7   activity                4488 non-null   object
 8   name                    4488 non-null   object
 9   sex                     4488 non-null   object
 10  age                     2954 non-null   object
 11  injury                  4488 non-null   object
 12  fatal_(y/n)             4488 non-null   object
 13  time                    2524 non-null   object
 14  species                 2508 non-null   object
 15  investigator_or_source  4488 non-null   object
 16  pdf                     4488 non-null   object
 17  href_formula            4488 non-null   object
 18  href                    4488 non-null   object
 19  case_number_1           4488 non-null   object
 20  case_number_2           4488 non-null   object
 21  original_order          4488 non-null   int64
dtypes: int64(2), object(20)
memory usage: 806.4+ KB

In [245]:
# TECHNIQUE 5: Correct and/or drop rows with wrongvalues in sex column (which can only be "M" or "F")

In [246]:
sorted_data["sex"].value_counts()

M      3984
F       500
M         2
N         1
lli       1
Name: sex, dtype: int64

In [247]:
sorted_data["sex"] = sorted_data["sex"].apply(lambda x: x if x == "M" or x == "F" else ("M" if "M" in x else None))

In [248]:
sorted_data["sex"].value_counts()

M    3986
F     500
Name: sex, dtype: int64

In [249]:
sorted_data.dropna(subset = ["sex"], inplace = True)

In [250]:
sorted_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4486 entries, 0 to 5991
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             4486 non-null   object
 1   date                    4486 non-null   object
 2   year                    4486 non-null   int64
 3   type                    4486 non-null   object
 4   country                 4486 non-null   object
 5   area                    4486 non-null   object
 6   location                4486 non-null   object
 7   activity                4486 non-null   object
 8   name                    4486 non-null   object
 9   sex                     4486 non-null   object
 10  age                     2953 non-null   object
 11  injury                  4486 non-null   object
 12  fatal_(y/n)             4486 non-null   object
 13  time                    2523 non-null   object
 14  species                 2506 non-null   object
 15  investigator_or_source  4486 non-null   object
 16  pdf                     4486 non-null   object
 17  href_formula            4486 non-null   object
 18  href                    4486 non-null   object
 19  case_number_1           4486 non-null   object
 20  case_number_2           4486 non-null   object
 21  original_order          4486 non-null   int64
dtypes: int64(2), object(20)
memory usage: 806.1+ KB

In [251]:
# TECHNIQUE 6 DROP rows with nonnumeric value in "age" columns and changing column type to float

sorted_data.dropna(subset = ["age"], inplace = True)

sorted_data_age_fixed = sorted_data[sorted_data["age"].str.isnumeric()]

sorted_data_age_fixed["age"] = sorted_data_age_fixed["age"].str.replace("Â½", ".5")

sorted_data_age_fixed["age"] = sorted_data_age_fixed["age"].astype(float)

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\2612232893.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed["age"] = sorted_data_age_fixed["age"].str.replace("Â½", ".5")
C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\2612232893.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed["age"] = sorted_data_age_fixed["age"].astype(float)

In [252]:
sorted_data_age_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2878 entries, 0 to 5991
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             2878 non-null   object
 1   date                    2878 non-null   object
 2   year                    2878 non-null   int64
 3   type                    2878 non-null   object
 4   country                 2878 non-null   object
 5   area                    2878 non-null   object
 6   location                2878 non-null   object
 7   activity                2878 non-null   object
 8   name                    2878 non-null   object
 9   sex                     2878 non-null   object
 10  age                     2878 non-null   float64
 11  injury                  2878 non-null   object
 12  fatal_(y/n)             2878 non-null   object
 13  time                    2078 non-null   object
 14  species                 1841 non-null   object
 15  investigator_or_source  2878 non-null   object
 16  pdf                     2878 non-null   object
 17  href_formula            2878 non-null   object
 18  href                    2878 non-null   object
 19  case_number_1           2878 non-null   object
 20  case_number_2           2878 non-null   object
 21  original_order          2878 non-null   int64
dtypes: float64(1), int64(2), object(19)
memory usage: 517.1+ KB

In [253]:
# TECHNIQUE 7: Strip spaces from values in "fatal_(y/n)" column and drop values which are not "Y" or "N"

In [254]:
sorted_data_age_fixed["fatal_(y/n)"] = sorted_data_age_fixed["fatal_(y/n)"].str.strip()

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\3236264094.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed["fatal_(y/n)"] = sorted_data_age_fixed["fatal_(y/n)"].str.strip()

In [255]:
sorted_data_age_fixed["fatal_(y/n)"] = sorted_data_age_fixed["fatal_(y/n)"].apply(lambda x: x if x in ["Y", "N"] else None)

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\2690897661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed["fatal_(y/n)"] = sorted_data_age_fixed["fatal_(y/n)"].apply(lambda x: x if x in ["Y", "N"] else None)

In [256]:
sorted_data_age_fixed.dropna(subset = ["fatal_(y/n)"], inplace = True)

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\4193472014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed.dropna(subset = ["fatal_(y/n)"], inplace = True)

In [257]:
sorted_data_age_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2874 entries, 0 to 5991
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             2874 non-null   object
 1   date                    2874 non-null   object
 2   year                    2874 non-null   int64
 3   type                    2874 non-null   object
 4   country                 2874 non-null   object
 5   area                    2874 non-null   object
 6   location                2874 non-null   object
 7   activity                2874 non-null   object
 8   name                    2874 non-null   object
 9   sex                     2874 non-null   object
 10  age                     2874 non-null   float64
 11  injury                  2874 non-null   object
 12  fatal_(y/n)             2874 non-null   object
 13  time                    2077 non-null   object
 14  species                 1840 non-null   object
 15  investigator_or_source  2874 non-null   object
 16  pdf                     2874 non-null   object
 17  href_formula            2874 non-null   object
 18  href                    2874 non-null   object
 19  case_number_1           2874 non-null   object
 20  case_number_2           2874 non-null   object
 21  original_order          2874 non-null   int64
dtypes: float64(1), int64(2), object(19)
memory usage: 516.4+ KB

In [258]:
# TECHNIQUE 8: After having fixed all fixable values in columns, drop columns with null values because we consider
# they are not important for our analysis ("species" and "time")

In [259]:
sorted_data_age_fixed.drop(columns = ["time", "species"], inplace = True)

C:\Users\tglhi\AppData\Local\Temp\ipykernel_7192\494216528.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sorted_data_age_fixed.drop(columns = ["time", "species"], inplace = True)

In [260]:
sorted_data_age_fixed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2874 entries, 0 to 5991
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   case_number             2874 non-null   object
 1   date                    2874 non-null   object
 2   year                    2874 non-null   int64
 3   type                    2874 non-null   object
 4   country                 2874 non-null   object
 5   area                    2874 non-null   object
 6   location                2874 non-null   object
 7   activity                2874 non-null   object
 8   name                    2874 non-null   object
 9   sex                     2874 non-null   object
 10  age                     2874 non-null   float64
 11  injury                  2874 non-null   object
 12  fatal_(y/n)             2874 non-null   object
 13  investigator_or_source  2874 non-null   object
 14  pdf                     2874 non-null   object
 15  href_formula            2874 non-null   object
 16  href                    2874 non-null   object
 17  case_number_1           2874 non-null   object
 18  case_number_2           2874 non-null   object
 19  original_order          2874 non-null   int64
dtypes: float64(1), int64(2), object(17)
memory usage: 471.5+ KB

In [261]:
sorted_data_age_fixed.to_csv("clean_sharks.csv")