In [1]:
import pandas as pd

In [2]:
path = '/Users/arnoldoleyson/Desktop/Ironhack/Projects/project-pandas/attacks.csv'

In [3]:
data = pd.read_csv(path,encoding='latin-1')

In [4]:
#Le damos un vistazo a la información!!
data.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
#Revisamos la forma en la que está presentada la información en cuando a filas y columnas
data.shape

(25723, 24)

In [6]:
#Revisamos de manera general las columnas, la info que tienen, el tipo de info, etc
data.info()

#Nos damos cuenta que hay muchos datos nulos, hay columnas sin nombre, entre otras cosas.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [7]:
#Revisamos el nombre de las columnas del dataframe
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [8]:
#Quitamos cualquier posible espacio que estuviera adicional en el nombre de las columnas como en el caso de 'Sex '
data.columns = data.columns.str.strip()
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
#Revisamos que columnas tengo con data nula (sin datos)
data.isnull().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [10]:
#Revisamos la base de datos completa para ver porque hay tantos nulos
data

#Observamos que las últimas filas vienen practicamente sin información todas.

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Vemos que se fue un typo con 'xx' en una columna al final, 
#que probablemente haga que se cuenten todas las filas previas como nulas, cuando en realidad no deben existir.

#Procedemos a eliminar esa fila
data = data.drop(25722)

In [12]:
#Revisamos en que filas se tienen datos nulos para las filas donde la columna 'Case Number' tiene datos nulos
data_nulos = data[(data['Case Number'].isnull() == True)]
data_nulos.isnull().sum()

Case Number               17021
Date                      17020
Year                      17020
Type                      17020
Country                   17020
Area                      17020
Location                  17020
Activity                  17020
Name                      17020
Sex                       17020
Age                       17021
Injury                    17020
Fatal (Y/N)               17020
Time                      17021
Species                   17021
Investigator or Source    17020
pdf                       17020
href formula              17020
href                      17020
Case Number.1             17020
Case Number.2             17020
original order            17020
Unnamed: 22               17021
Unnamed: 23               17021
dtype: int64

In [13]:
#Como vimos que hay datos que tienen 17,020 nulos y otros que tienen 17,021 nulos, volvemos a hacer el filtro
#para que nos deje la fila con la información de 'Case Number' que si cuenta con algunos datos
data_nulos = data[(data['Case Number'].isnull() == True) & (data['Date'].isnull() == True)]
data_nulos.isnull().sum()

#Observamos que todas las columnas tienen 17,020 datos nulos en estas 2 columnas, por lo que podemos borrarlas

Case Number               17020
Date                      17020
Year                      17020
Type                      17020
Country                   17020
Area                      17020
Location                  17020
Activity                  17020
Name                      17020
Sex                       17020
Age                       17020
Injury                    17020
Fatal (Y/N)               17020
Time                      17020
Species                   17020
Investigator or Source    17020
pdf                       17020
href formula              17020
href                      17020
Case Number.1             17020
Case Number.2             17020
original order            17020
Unnamed: 22               17020
Unnamed: 23               17020
dtype: int64

In [14]:
#Obtenemos los índices de las filas que tenían puros datos nulos y los guardamos en una lista.
index_a_borrar = list(data_nulos.index)

#Hacemos un for para que vaya borrando todas las filas
for i in index_a_borrar:
    data = data.drop(i)

In [15]:
#Volvemos a ver la información
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8697,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#Revisamos que filas se tienen 0 para la columna 'Case Number'
data_nulos2 = data[(data['Case Number'] == '0')]
data_nulos2.isnull().sum()

#Observamos que todas las columnas tienen 2,400 datos nulos en esta columna y solamente la columna 'original order'
#tiene 2,393 datos nulos, por lo que podemos borrarlas todas.

Case Number                  0
Date                      2400
Year                      2400
Type                      2400
Country                   2400
Area                      2400
Location                  2400
Activity                  2400
Name                      2400
Sex                       2400
Age                       2400
Injury                    2400
Fatal (Y/N)               2400
Time                      2400
Species                   2400
Investigator or Source    2400
pdf                       2400
href formula              2400
href                      2400
Case Number.1             2400
Case Number.2             2400
original order            2393
Unnamed: 22               2400
Unnamed: 23               2400
dtype: int64

In [17]:
#Obtenemos los índices de las filas que tenían los datos nulos y los guardamos en una lista.
index_a_borrar2 = list(data_nulos2.index)

In [18]:
#Hacemos un for para que vaya borrando todas las filas
for i in index_a_borrar2:
    data = data.drop(i)

In [19]:
#Volvemos a ver la información
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [20]:
#Revisamos la forma en la que está presentada la información en cuando a filas y columnas
data.shape

#Observamos que pasamos de tener (25723, 24) a tener 6302 filas

(6302, 24)

In [21]:
#Revisamos nuevamente de manera general las columnas, la info que tienen, el tipo de info, etc
data.info()

#Nos damos cuenta que aún hay muchos datos nulos, hay columnas sin nombre, entre otras cosas.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6302 entries, 0 to 6301
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             6301 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6302 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 1.2+ MB

In [22]:
#Hacemos una revisión para que nos traiga las columnas que tenemos con el número de datos nulos de cada una.
columnas_nulas = data.isnull().sum()
columnas_nulas[columnas_nulas > 0]

Case Number                  1
Year                         2
Type                         4
Country                     50
Area                       455
Location                   540
Activity                   544
Name                       210
Sex                        565
Age                       2831
Injury                      28
Fatal (Y/N)                539
Time                      3354
Species                   2838
Investigator or Source      17
href formula                 1
Unnamed: 22               6301
Unnamed: 23               6300
dtype: int64

In [23]:
#Revisamos el índice de las columnas con mas de 1,000 datos nulos.

#Primero vemos la forma original de nuestro data frame
print(data.shape)

#Definimos la variable columnas_a_eliminar para eliminar las columnas_nulas que tenían más de 1,000 datos nulos. 
columnas_a_eliminar = columnas_nulas[columnas_nulas>1000].index

#Actualizamos nuestra data con un data.drop y seleccionamos que se quiten las columnas_a_eliminar del paso previo
data = data.drop(columnas_a_eliminar, axis = 1)
print(data.shape)

(6302, 24)
(6302, 19)

In [24]:
#Revisamos el regitro con dato nulo en 'Case number'
data[(data['Case Number'].isnull() == True)]

#Observamos que el original number es 815.00

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,Lacerations to leg from hooked shark PROVOKED ...,N,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0

In [25]:
#Revisamos la información con el registro de original order 815.00
data[data['original order'] == 815.00]

#No encontramos ninguna pista para sacar la información faltante en la columna Case Number

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,Lacerations to leg from hooked shark PROVOKED ...,N,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0

In [26]:
#Asignamos un valor de 'Sin número' a la celda con datos nulos en Case Number
data['Case Number'] = data['Case Number'].fillna('Sin número')

In [27]:
#Revisamos que se haya realizado el cambio correctamente
data[data['Case Number'] == 'Sin número']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5488,Sin número,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,David Curry,M,Lacerations to leg from hooked shark PROVOKED ...,N,"Muncie Evening Press, 8/6/1913",1905.09.06.R-Curry.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,1905.09.06.R,815.0

In [28]:
#Revisamos los datos de la segunda columna: 'Year'
data['Year'].describe()

#Observamos que hay gran rango en la información presentada, desde datos del año 0, hasta datos del 2018.
#Por tal motivo decidimos realizar el análisis de la información para un periodo más reciente, buscando que sea más
#representativa de la actualidad. Por eso filtraremos nuestra información para que sea solamente del 2000 en adelante.

count    6300.000000
mean     1927.272381
std       281.116308
min         0.000000
25%      1942.000000
50%      1977.000000
75%      2005.000000
max      2018.000000
Name: Year, dtype: float64

In [29]:
#Filtramos el dataframe para quedarnos con los reportes del año 2000 en adelante
data_2000s = data[data['Year'] >= 2000]

#Volvemos a ver la información
data_2000s

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Minor injury to lower leg,N,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2074,2000.02.03,03-Feb-2000,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,Michael Petas,M,"No injury, wetsuit punctured",N,"Waikato Times; Southland Times, 10/23/1999, p.1",2000.02.03-Petas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.03,2000.02.03,4229.0
2075,2000.02.01,01-Feb-2000,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,Anthony Hayes,M,Hand bitten,N,"T. Peake, GSAF",2000.02.01-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.01,2000.02.01,4228.0
2076,2000.01.28.R,Reported 28-Jan-2000,2000.0,Boat,REUNION,NaN,Saint Pierre,Canoe with 3 men onboard sank,Boulabhaï Ishmael,M,FATAL,Y,B.L. du Vendre,2000.01.28.R-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.28.R,2000.01.28.R,4227.0
2077,2000.01.05,05-Jan-2000,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,Diving,Stephan Kahl,M,FATAL,Y,A. Xuereb,2000.01.05-Kahl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.05,2000.01.05,4226.0
2078,2000.00.00,2000,2000.0,Boat,USA,Florida,"Boca Grande, Lee County",Fishing for tarpon,"boat: occupant, Terry Winters",M,No injury to occupant; shark bit propeller,N,"B. Stout, News-Press, 7/2/2005",2000.00.00-BocaGrandeBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.00.00,2000.00.00,4225.0

In [30]:
#Revisamos la forma en la que está presentada la información en cuando a filas y columnas
data_2000s.shape

(2078, 19)

In [31]:
#Revisamos nuevamente de manera general las columnas, la info que tienen, el tipo de info, etc
data_2000s.info()

#Nos damos cuenta que aún hay datos nulos.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2078 entries, 0 to 2078
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             2078 non-null   object
 1   Date                    2078 non-null   object
 2   Year                    2078 non-null   float64
 3   Type                    2076 non-null   object
 4   Country                 2076 non-null   object
 5   Area                    1988 non-null   object
 6   Location                1991 non-null   object
 7   Activity                1987 non-null   object
 8   Name                    2045 non-null   object
 9   Sex                     1974 non-null   object
 10  Injury                  2076 non-null   object
 11  Fatal (Y/N)             1917 non-null   object
 12  Investigator or Source  2072 non-null   object
 13  pdf                     2078 non-null   object
 14  href formula            2078 non-null   object
 15  href                    2078 non-null   object
 16  Case Number.1           2078 non-null   object
 17  Case Number.2           2078 non-null   object
 18  original order          2078 non-null   float64
dtypes: float64(2), object(17)
memory usage: 324.7+ KB

In [32]:
#Hacemos nuevamente la revisión para que nos traiga las columnas que tenemos con el número de datos nulos de cada una.
columnas_nulas2 = data_2000s.isnull().sum()
columnas_nulas2[columnas_nulas2 > 0]

Type                        2
Country                     2
Area                       90
Location                   87
Activity                   91
Name                       33
Sex                       104
Injury                      2
Fatal (Y/N)               161
Investigator or Source      6
dtype: int64

In [33]:
#Dejamos disponible que podamos cambiar los datos nulos de cada columna de manera indivdual
#De primera mano vamos a ponerlos todos en 0
data_2000s['Type'] = data_2000s['Type'].fillna(0)
data_2000s['Country'] = data_2000s['Country'].fillna(0)
data_2000s['Area'] = data_2000s['Area'].fillna(0)
data_2000s['Location'] = data_2000s['Location'].fillna(0)
data_2000s['Activity'] = data_2000s['Activity'].fillna(0)
data_2000s['Name'] = data_2000s['Name'].fillna(0)
data_2000s['Sex'] = data_2000s['Sex'].fillna(0)
data_2000s['Injury'] = data_2000s['Injury'].fillna(0)
data_2000s['Fatal (Y/N)'] = data_2000s['Fatal (Y/N)'].fillna(0)
data_2000s['Investigator or Source'] = data_2000s['Investigator or Source'].fillna(0)

<ipython-input-33-1b9174e604e5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Type'] = data_2000s['Type'].fillna(0)
<ipython-input-33-1b9174e604e5>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Country'] = data_2000s['Country'].fillna(0)
<ipython-input-33-1b9174e604e5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Area'] = data_2000s['Area'].fillna(0)
<ipython-input-33-1b9174e604e5>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Location'] = data_2000s['Location'].fillna(0)
<ipython-input-33-1b9174e604e5>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Activity'] = data_2000s['Activity'].fillna(0)
<ipython-input-33-1b9174e604e5>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Name'] = data_2000s['Name'].fillna(0)
<ipython-input-33-1b9174e604e5>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Sex'] = data_2000s['Sex'].fillna(0)
<ipython-input-33-1b9174e604e5>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Injury'] = data_2000s['Injury'].fillna(0)
<ipython-input-33-1b9174e604e5>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Fatal (Y/N)'] = data_2000s['Fatal (Y/N)'].fillna(0)
<ipython-input-33-1b9174e604e5>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2000s['Investigator or Source'] = data_2000s['Investigator or Source'].fillna(0)

In [34]:
#Revisamos los datos que tenemos en la columna Case Number
data_2000s['Case Number'].value_counts().head(10)

2005.04.06      2
2012.09.02.b    2
2006.09.02      2
2009.12.18      2
2014.08.02      2
2013.10.05      2
2011.09.04.a    1
2008.09.06.a    1
2016.02.22      1
2013.04.24      1
Name: Case Number, dtype: int64

In [35]:
#Vemos que hay algunos registros que tienen el mismo número de casos.

#Quitamos los duplicados
print(len(data_2000s))
data_2000s = data_2000s.drop_duplicates()
print(len(data_2000s))

2078
2078

In [36]:
#No se eliminó ningún registro, por tal motivo, seguimos manteniendo los casos duplicados.

data_2000s[(data_2000s['Case Number'] == '2006.09.02')]
#Vemos que tienen el mismo número de caso registrado pero la información en los detalles es diferente

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
1436,2006.09.02,02-Sep-2006,2006.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Swimming,male,M,Arm bitten,N,"S. Petersohn, GSAF",2006.09.02.b-Child-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4867.0
1437,2006.09.02,02-Sep-2006,2006.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,"No injury, shark rammed surfboard",N,"Cape Times, 9/3/2006",2006.09.02.a-Harcourt-Wood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4866.0

In [37]:
#PENDIENTE REVISAR EL QUITAR DUPLICADOS DE LOS CASOS.

In [38]:
data_2000s[(data_2000s['Case Number'] == '2006.09.02') & (data_2000s['Country'] == 'SOUTH AFRICA')]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
1437,2006.09.02,02-Sep-2006,2006.0,Unprovoked,SOUTH AFRICA,Western Cape Province,Noordhoek,Surfing,Steven Harcourt-Wood,M,"No injury, shark rammed surfboard",N,"Cape Times, 9/3/2006",2006.09.02.a-Harcourt-Wood.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2006.09.02,2006.09.02,4866.0

In [39]:
#Vamos a revisar los ataques de tiburones a Hombres y Mujeres

#Primero revisamos que valores tenemos en esta columna
data_2000s['Sex'].value_counts()

M      1630
F       341
0       104
M         2
lli       1
Name: Sex, dtype: int64

In [40]:
data_2000s['Sex'].unique()

array(['F', 'M', 0, 'M ', 'lli'], dtype=object)

In [41]:
#Vemos que hay datos que tienen 'M ' que los trataremos como 'M' 
#y datos que tienen 'lli' que los trataremos como nulos = 0

In [42]:
#Creamos la función para codificar los datos del sexo en el dataframe
def encode_sex (var):
    if var == 'M':
        return 0
    elif var == 'M ':
        return 0
    elif var == 'F':
        return 1
    elif var == 0:
        return 2
    elif var == 'lli':
        return 2

In [43]:
#Aplicamos la función a nuestro data frame
data_2000s['Sex_encoded'] = data_2000s['Sex'].apply(encode_sex)

#Revisamos nuestro dataframe nuevamente y observamos que la columna de 'Sex_encoded' existe.
data_2000s

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Sex_encoded
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,1
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,1
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Minor injury to lower leg,N,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2074,2000.02.03,03-Feb-2000,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,Michael Petas,M,"No injury, wetsuit punctured",N,"Waikato Times; Southland Times, 10/23/1999, p.1",2000.02.03-Petas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.03,2000.02.03,4229.0,0
2075,2000.02.01,01-Feb-2000,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,Anthony Hayes,M,Hand bitten,N,"T. Peake, GSAF",2000.02.01-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.01,2000.02.01,4228.0,0
2076,2000.01.28.R,Reported 28-Jan-2000,2000.0,Boat,REUNION,0,Saint Pierre,Canoe with 3 men onboard sank,Boulabhaï Ishmael,M,FATAL,Y,B.L. du Vendre,2000.01.28.R-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.28.R,2000.01.28.R,4227.0,0
2077,2000.01.05,05-Jan-2000,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,Diving,Stephan Kahl,M,FATAL,Y,A. Xuereb,2000.01.05-Kahl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.05,2000.01.05,4226.0,0
2078,2000.00.00,2000,2000.0,Boat,USA,Florida,"Boca Grande, Lee County",Fishing for tarpon,"boat: occupant, Terry Winters",M,No injury to occupant; shark bit propeller,N,"B. Stout, News-Press, 7/2/2005",2000.00.00-BocaGrandeBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.00.00,2000.00.00,4225.0,0

In [44]:
#Si queremos probar que se cambió correctamente el filtro
#Debemos tener 1632 registros con el número 0. En el dataframe tenemos 1630 'M' y 2 'M '
#Debemos tener 341 registros con el número 1. En el dataframe tenemos 341 'F'
#Debemos de tener 105 registros con el número 2. En el dataframe tenemos 104 con valor '0' y 1 con valor 'lli'.

data_2000s['Sex_encoded'].value_counts()

0    1632
1     341
2     105
Name: Sex_encoded, dtype: int64

In [45]:
#Vamos a revisar los ataques de tiburones si son fatales o no

#Primero revisamos que valores tenemos en esta columna
data_2000s['Fatal (Y/N)'].value_counts()

N          1738
Y           175
0           161
UNKNOWN       2
2017          1
M             1
Name: Fatal (Y/N), dtype: int64

In [46]:
data_2000s['Fatal (Y/N)'].unique()

array(['N', 'Y', 0, 'M', 'UNKNOWN', '2017'], dtype=object)

In [47]:
#Creamos la función para codificar los datos de la fatalidad de los ataques en el dataframe
def encode_fatal (var):
    if var == 'N':
        return 0
    elif var == 'M':
        return 0
    elif var == 'Y':
        return 1
    elif var == 0:
        return 2
    elif var == 'UNKNOWN':
        return 2
    elif var == '2017':
        return 2

In [48]:
#Aplicamos la función a nuestro data frame
data_2000s['Fatal_encoded'] = data_2000s['Fatal (Y/N)'].apply(encode_fatal)

#Revisamos nuestro dataframe nuevamente y observamos que la columna de 'Sex_encoded' existe.
data_2000s

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Sex_encoded,Fatal_encoded
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,1,0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,1,0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,0,0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,0,0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2074,2000.02.03,03-Feb-2000,2000.0,Unprovoked,NEW ZEALAND,South Island,Oreti Beach (reported as the 4th person bitten...,Surfing,Michael Petas,M,...,N,"Waikato Times; Southland Times, 10/23/1999, p.1",2000.02.03-Petas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.03,2000.02.03,4229.0,0,0
2075,2000.02.01,01-Feb-2000,2000.0,Unprovoked,AUSTRALIA,South Australia,"Point Sinclair, Cactus Beach near Penong",Surfing,Anthony Hayes,M,...,N,"T. Peake, GSAF",2000.02.01-Hayes.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.02.01,2000.02.01,4228.0,0,0
2076,2000.01.28.R,Reported 28-Jan-2000,2000.0,Boat,REUNION,0,Saint Pierre,Canoe with 3 men onboard sank,Boulabhaï Ishmael,M,...,Y,B.L. du Vendre,2000.01.28.R-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.28.R,2000.01.28.R,4227.0,0,1
2077,2000.01.05,05-Jan-2000,2000.0,Unprovoked,THAILAND,Phang nga Province,Phang nga Island,Diving,Stephan Kahl,M,...,Y,A. Xuereb,2000.01.05-Kahl.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.01.05,2000.01.05,4226.0,0,1
2078,2000.00.00,2000,2000.0,Boat,USA,Florida,"Boca Grande, Lee County",Fishing for tarpon,"boat: occupant, Terry Winters",M,...,N,"B. Stout, News-Press, 7/2/2005",2000.00.00-BocaGrandeBoat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2000.00.00,2000.00.00,4225.0,0,0

In [49]:
#Vemos cuantos accidentes han sido fatales
data_2000s['Fatal_encoded'].value_counts()

0    1739
1     175
2     164
Name: Fatal_encoded, dtype: int64

In [50]:
#Seguimos revisando las columnas y vemos que hay columnas que no nos aportan nada:
#href formula y href son practicamente lo mismo, por lo que eliminaremos href
#Case Number.1
#Case Number.2
#original order

#Revisamos el índice de las columnas con mas de 1,000 datos nulos.

#Primero vemos la forma original de nuestro data frame
print(data_2000s.shape)

#Definimos la variable columnas_a_eliminar para eliminar las columnas_nulas que tenían más de 1,000 datos nulos. 
columnas_a_eliminar2 = ['href', 'Case Number.1', 'Case Number.2', 'original order']

#Actualizamos nuestra data con un data.drop y seleccionamos que se quiten las columnas_a_eliminar del paso previo
data_2000s = data_2000s.drop(columnas_a_eliminar2, axis = 1)
print(data_2000s.shape)

(2078, 21)
(2078, 17)

In [53]:
#Revisamos las columnas que nos quedaron
data_2000s.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula', 'Sex_encoded',
       'Fatal_encoded'],
      dtype='object')

In [54]:
#Por último ordenamos las columnas a como pareciera ser mas funcional para el análisis que queremos hacer
column_order = ['Year', 'Fatal_encoded', 'Sex_encoded', 'Case Number', 'Date', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Injury', 'Fatal (Y/N)',
       'Investigator or Source', 'pdf', 'href formula']

data_2000s = data_2000s[column_order]
data_2000s.head()

,Year,Fatal_encoded,Sex_encoded,Case Number,Date,Type,Country,Area,Location,Activity,Name,Sex,Injury,Fatal (Y/N),Investigator or Source,pdf,href formula
0,2018.0,0,1,2018.06.25,25-Jun-2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.0,0,1,2018.06.18,18-Jun-2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.0,0,0,2018.06.09,09-Jun-2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.0,0,0,2018.06.08,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,Minor injury to lower leg,N,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.0,0,0,2018.06.04,04-Jun-2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...

In [55]:
#Exportamos nuestro archivo final a un csv
data_2000s = data_2000s.to_csv('/Users/arnoldoleyson/Desktop/Ironhack/Projects/project-pandas/shark_attacks.csv', index = False)