In [112]:
import pandas as pd
import numpy as np
import re
from datetime import datetime

In [2]:
attacks= pd.read_csv('attacks.csv')

In [4]:
attacks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
attacks.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [8]:
attacks.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [81]:
attacks2=attacks.copy()
attacks2

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson�McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Paso 1: eliminar columnas y filas sin registros

In [80]:
def eliminar_columnas_y_filas(dataframe):
    eliminar_cols_y_fils = dataframe.copy()
    eliminar_cols_y_fils.dropna(axis=1, how='all', inplace= True)
    eliminar_cols_y_fils.dropna(axis=0, how='all', inplace= True)
    return eliminar_cols_y_fils

Paso 2: eliminar columnas no relevantes o repetidas

In [88]:
def eliminar_columnas_rep(dataframe2):
    elimnar_cols_rep = dataframe2.copy()
    elimnar_cols_rep = elimnar_cols_rep[['Date', 'Type', 'Country', 'Area', 'Location',
                                        'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
                                        'Species ', 'Investigator or Source', 'pdf', 'href formula','original order']]
    return elimnar_cols_rep

Paso 3: Arreglar espacios de titulos

In [100]:
def eliminar_espacios_en_titulos(dataframe3):
    elimina_espacios = dataframe3.copy()
    elimina_espacios.columns = elimina_espacios.columns.str.strip()
    return elimina_espacios

Paso 4: Cambiar orden de columnas

In [103]:
def Cambiar_orden_de_columnas(dataframe4):
    ordenar_cols = dataframe4.copy()
    ordenar_cols = ordenar_cols[['original order','Name','Sex', 'Age', 'Injury', 'Fatal (Y/N)','Activity',
                                 'Type','Date','Country', 'Area', 'Location', 'Species', 'Investigator or Source', 
                                 'pdf', 'href formula']]
    return ordenar_cols

Paso 5: Cambiar nombres de columnas sin sentido

In [107]:
def Cambiar_nombre_de_columnas(dataframe5):
    cambiar_nombre = dataframe5.copy()
    cambiar_nombre = cambiar_nombre.rename(columns ={'original order':'Order','Name':'FullName','Investigator or Source':'Source','pdf':'Image',
                                                     'href formula':'href'})
    return cambiar_nombre

Paso 6: Convertir en enteros los casos

In [151]:
def Arreglo_de_order(dataframe6):
    cambio_order = dataframe6.copy()
    cambio_order['Order'] = cambio_order['Order'].fillna(0).astype(np.int64, errors = 'ignore')
    
    return cambio_order

Paso 7: Sustituir vacíos

In [179]:
def eliminar_vacios(dataframe7):
    eliminar_nans = dataframe7.copy()
    columnas = ['Order', 'FullName', 'Sex', 'Age', 'Injury', 'Fatal (Y/N)', 'Activity','Type', 
                'Date', 'Country', 'Area', 'Location', 'Species', 'Source','Image', 'href']
    for columna in columnas:
        eliminar_nans[columna] = eliminar_nans[columna].fillna('Unknown')
    eliminar_nans = eliminar_nans.fillna(0)

    return eliminar_nans

Paso 8: Eliminar duplicados y ordenar

In [200]:
def eliminar_renglones_vacios(dataframe8):
    eliminar_rows = dataframe8.copy()
    eliminar_rows = eliminar_rows[eliminar_rows['Date']!='Unknown']
    eliminar_rows = eliminar_rows.drop_duplicates()
    eliminar_rows = eliminar_rows.sort_values(by=['Order']).reset_index()
    return eliminar_rows

Paso 9: Codificar el tipo de ataque

In [195]:
def definition_code_type(dataframe9):
    code_type = dataframe9.copy()
    code_type['Encode_Type'] = code_type['Type'].apply(definition_type)
    return code_type

In [193]:
def definition_type(list1):
    if list1 == 'Unknown':
        return 0
    if list1 == 'Unprovoked':
        return 1
    if list1 == 'Boat':
        return 2
    if list1 == 'Sea Disaster':
        return 3
    if list1 == 'Provoked':
        return 4
    if list1 == 'Invalid':
        return 5
    if list1 == 'Boating':
        return 6
    if list1 == 'Boatomg':
        return 7
    if list1 == 'Questionable':
        return 8

In [202]:
data1 = eliminar_columnas_y_filas(attacks2)
data2 = eliminar_columnas_rep(data1)
data3 = eliminar_espacios_en_titulos(data2)
data4 = Cambiar_orden_de_columnas(data3)
data5 = Cambiar_nombre_de_columnas(data4)
data6 = Arreglo_de_order(data5)
data7 = eliminar_vacios(data6)
data8 = eliminar_renglones_vacios(data7)
data9 = definition_code_type(data8)
data9.to_csv('attack_clean.csv')