In [1]:
import numpy as pd
import pandas as pd
import re

In [2]:
df=pd.read_csv('/Users/USUARIO/IronhackSept22-ReneNavarro/module1/project-pandas/your-code/GSAF5.csv', encoding = "latin-1")

#### DF Information

In [3]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2016.09.18.c,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.c-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.c,2016.09.18.c,5993,NaN,NaN
1,2016.09.18.b,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Chucky Luciano,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.b-Luciano.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.b,2016.09.18.b,5992,NaN,NaN
2,2016.09.18.a,18-Sep-16,2016,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,NaN,"Orlando Sentinel, 9/19/2016",2016.09.18.a-NSB.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.18.a,2016.09.18.a,5991,NaN,NaN
3,2016.09.17,17-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Thirteenth Beach,Surfing,Rory Angiolella,M,...,NaN,"The Age, 9/18/2016",2016.09.17-Angiolella.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.17,2016.09.17,5990,NaN,NaN
4,2016.09.15,16-Sep-16,2016,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,5989,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

In [5]:
df.shape

(5992, 24)

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [7]:
empty_columns = df.isnull().sum()
print(empty_columns[empty_columns > 0])

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

#### DF Cleaning

In [8]:
#Columns  Unnamed: 22  & Unnamed: 23 have no important information, so I decide to eliminate them
#df = df.drop('Unnamed: 22', 1)
#df = df.drop('Unnamed: 23', 1)
#another way of coding , as seen in Zahid's lecture
df.drop(['Unnamed: 22','Unnamed: 23'], axis=1, inplace=True)

In [9]:
df.shape

(5992, 22)

In [10]:
# I think Case Number.1 and Case Number.2 columns have the same information as the Case Number column. They can be eliminated
print((df['Case Number'] == df['Case Number.1']).value_counts())
print('\n')
print((df['Case Number'] == df['Case Number.2']).value_counts())
print('\n')
print((df['Case Number.1'] == df['Case Number.2']).value_counts())

True     5979
False      13
dtype: int64


True     5990
False       2
dtype: int64


True     5981
False      11
dtype: int64

In [11]:
#df = df.drop('Case Number.1', 1)
#df = df.drop('Case Number.2', 1)
#another way of coding , as seen in Zahid's lecture
df.drop(columns=['Case Number.1','Case Number.2'], axis=1, inplace=True)

In [12]:
df.shape

(5992, 20)

In [13]:
# I think href formula can be eliminated
print((df['href formula'] == df['href']).value_counts())
print('\n')

True     5938
False      54
dtype: int64

In [14]:
df.drop(columns=['href formula',], axis=1, inplace=True)

In [15]:
df.shape

(5992, 19)

#### DF Cleaning per Column

###### Column Fatal (Y/N)

In [16]:
set(df['Fatal (Y/N)'])

{' N', '#VALUE!', 'F', 'N', 'N ', 'UNKNOWN', 'Y', 'n', nan}

In [17]:
df.rename(columns={'Fatal (Y/N)':'Fatalitie'}, inplace=True)

In [18]:
df.Fatalitie = df.Fatalitie.replace(' N', 'No').replace('#VALUE!', 'No data').replace('F','Yes').replace('N','No').replace('N ','No').replace('UNKNOWN','No data').replace('Y','Yes').replace('n','No').replace('nan','No data')

In [21]:
df['Fatalitie'] = df['Fatalitie'].fillna('No data')

In [22]:
set(df['Fatalitie'])

{'No', 'No data', 'Yes'}

###### Column Sex

In [25]:
df.rename(columns={'Sex ': 'Sex'}, inplace=True)

In [27]:
set(df['Sex'])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [28]:
df['Sex'] = df['Sex'].fillna('No data')

In [29]:
df.Sex = df.Sex.replace('.', 'No data').replace('F', 'Female').replace('M','Male').replace('M ','Male').replace('N','No data').replace('lli','No data')

In [30]:
set(df['Sex'])

{'Female', 'Male', 'No data'}

###### Country

In [34]:
print(set(df['Country']))

{nan, 'MAYOTTE', 'TURKEY', 'ASIA?', 'NEW CALEDONIA', 'UNITED ARAB EMIRATES', 'PACIFIC OCEAN', 'ARUBA', 'YEMEN', 'JAPAN', 'CRETE', 'RUSSIA', 'SUDAN', 'NEVIS', 'BARBADOS', 'MAURITIUS', 'Seychelles', 'TANZANIA', 'TURKS & CAICOS', 'NORTH SEA', 'NAMIBIA', 'VENEZUELA', 'NEW GUINEA', 'GABON', 'MEDITERRANEAN SEA?', 'PALAU', 'CAPE VERDE', 'SOUTH PACIFIC OCEAN', 'ADMIRALTY ISLANDS', 'TRINIDAD & TOBAGO', 'NORTH ATLANTIC OCEAN ', 'ATLANTIC OCEAN', 'PERSIAN GULF', 'ENGLAND', 'RED SEA', 'URUGUAY', 'MALTA', 'INDIAN OCEAN', 'LIBYA', 'CENTRAL PACIFIC', 'EGYPT ', 'THE BALKANS', 'SWEDEN', 'GREENLAND', 'CAYMAN ISLANDS', 'AUSTRALIA', 'BAY OF BENGAL', 'PORTUGAL', 'NICARAGUA', 'PACIFIC OCEAN ', 'PHILIPPINES', 'CARIBBEAN SEA', 'PUERTO RICO', 'GEORGIA', 'SIERRA LEONE', 'MARSHALL ISLANDS', 'BELIZE', 'GRENADA', 'PANAMA', 'CANADA', 'ISRAEL', 'USA', 'MOZAMBIQUE', 'EGYPT', 'MALAYSIA', 'COSTA RICA', 'SEYCHELLES', 'SOUTH CHINA SEA', 'VIETNAM', 'TAIWAN', 'CYPRUS', 'NETHERLANDS ANTILLES', 'ITALY / CROATIA', 'EL SALVADOR', 'IRELAND', 'MID-PACIFC OCEAN', 'AMERICAN SAMOA', 'Between PORTUGAL & INDIA', 'BRITISH WEST INDIES', 'PARAGUAY', 'THAILAND', 'NEW ZEALAND', 'FRANCE', 'KENYA', 'NICARAGUA ', 'GUAM', 'SOLOMON ISLANDS', 'BRITISH ISLES', 'AZORES', 'MADAGASCAR', 'CHINA', 'SENEGAL', 'CHILE', 'UNITED KINGDOM', 'REUNION', 'SAN DOMINGO', 'IRAQ', 'JOHNSTON ISLAND', 'KOREA', 'BRITISH VIRGIN ISLANDS', 'OKINAWA', 'SAMOA', 'PAPUA NEW GUINEA', 'ANDAMAN / NICOBAR ISLANDAS', 'LIBERIA', 'SOUTH AFRICA', 'DJIBOUTI', 'BRAZIL', 'INDONESIA', 'RED SEA / INDIAN OCEAN', 'WESTERN SAMOA', 'SAUDI ARABIA', 'KIRIBATI', 'INDIA', 'HONDURAS', 'TASMAN SEA', 'NORWAY', 'RED SEA?', 'Fiji', 'ANTIGUA', 'CUBA', 'BAHREIN', 'CROATIA', 'DIEGO GARCIA', 'HONG KONG', 'GUYANA', 'SPAIN', 'SINGAPORE', 'SUDAN?', 'IRAN / IRAQ', 'St Helena', 'MONTENEGRO', 'MICRONESIA', 'EQUATORIAL GUINEA / CAMEROON', 'GREECE', 'MONACO', 'ALGERIA', 'INDIAN OCEAN?', 'EGYPT / ISRAEL', 'TUNISIA', 'BRITISH NEW GUINEA', 'COOK ISLANDS', 'Coast of AFRICA', 'ECUADOR', 'ST. MAARTIN', 'VANUATU', 'ANGOLA', 'YEMEN ', 'BANGLADESH', ' PHILIPPINES', 'NORTHERN ARABIAN SEA', 'MARTINIQUE', 'TONGA', 'JAMAICA', 'BAHAMAS', 'FRENCH POLYNESIA', 'IRAN', 'COLUMBIA', 'SLOVENIA', 'GRAND CAYMAN', 'SOLOMON ISLANDS / VANUATU', 'GULF OF ADEN', 'ARGENTINA', 'MALDIVE ISLANDS', 'ST. MARTIN', 'ICELAND', 'SOMALIA', 'SOUTH ATLANTIC OCEAN', 'TUVALU', 'NORTHERN MARIANA ISLANDS', 'CURACAO', 'SCOTLAND', 'FIJI', 'OCEAN', 'MEXICO ', 'HAITI', 'LEBANON', 'NIGERIA', 'DOMINICAN REPUBLIC', 'SOUTHWEST PACIFIC OCEAN', 'MEXICO', 'NORTH ATLANTIC OCEAN', 'NEW BRITAIN', 'FEDERATED STATES OF MICRONESIA', 'FALKLAND ISLANDS', 'UNITED ARAB EMIRATES (UAE)', 'KUWAIT', 'SYRIA', 'PALESTINIAN TERRITORIES', 'ITALY', 'MID ATLANTIC OCEAN', 'BURMA', 'GUINEA', 'SRI LANKA', 'NORTH PACIFIC OCEAN', ' TONGA', 'BERMUDA', 'GUATEMALA', 'GHANA', 'SOUTH KOREA', 'CEYLON (SRI LANKA)', 'Sierra Leone', 'JAVA', 'MEDITERRANEAN SEA'}

In [35]:
df['Country'].fillna('Unknown', inplace = True)

In [38]:
df['Country'] = df['Country'].str.strip().str.upper()

In [39]:
print(set(df['Country']))

{'MAYOTTE', 'UNKNOWN', 'TURKEY', 'NEW CALEDONIA', 'ASIA?', 'UNITED ARAB EMIRATES', 'PACIFIC OCEAN', 'ARUBA', 'YEMEN', 'JAPAN', 'CRETE', 'RUSSIA', 'SUDAN', 'NEVIS', 'BARBADOS', 'MAURITIUS', 'TANZANIA', 'TURKS & CAICOS', 'NORTH SEA', 'NAMIBIA', 'VENEZUELA', 'NEW GUINEA', 'GABON', 'MEDITERRANEAN SEA?', 'PALAU', 'CAPE VERDE', 'SOUTH PACIFIC OCEAN', 'ADMIRALTY ISLANDS', 'TRINIDAD & TOBAGO', 'ATLANTIC OCEAN', 'PERSIAN GULF', 'ENGLAND', 'RED SEA', 'URUGUAY', 'MALTA', 'INDIAN OCEAN', 'LIBYA', 'CENTRAL PACIFIC', 'THE BALKANS', 'SWEDEN', 'GREENLAND', 'CAYMAN ISLANDS', 'AUSTRALIA', 'BAY OF BENGAL', 'PORTUGAL', 'NICARAGUA', 'PHILIPPINES', 'CARIBBEAN SEA', 'PUERTO RICO', 'GEORGIA', 'SIERRA LEONE', 'MARSHALL ISLANDS', 'BELIZE', 'GRENADA', 'BETWEEN PORTUGAL & INDIA', 'PANAMA', 'CANADA', 'ISRAEL', 'USA', 'MOZAMBIQUE', 'EGYPT', 'MALAYSIA', 'COSTA RICA', 'SEYCHELLES', 'SOUTH CHINA SEA', 'VIETNAM', 'TAIWAN', 'CYPRUS', 'NETHERLANDS ANTILLES', 'ITALY / CROATIA', 'EL SALVADOR', 'IRELAND', 'MID-PACIFC OCEAN', 'AMERICAN SAMOA', 'BRITISH WEST INDIES', 'PARAGUAY', 'THAILAND', 'NEW ZEALAND', 'FRANCE', 'KENYA', 'GUAM', 'SOLOMON ISLANDS', 'BRITISH ISLES', 'AZORES', 'MADAGASCAR', 'CHINA', 'SENEGAL', 'CHILE', 'UNITED KINGDOM', 'REUNION', 'SAN DOMINGO', 'IRAQ', 'JOHNSTON ISLAND', 'KOREA', 'BRITISH VIRGIN ISLANDS', 'OKINAWA', 'SAMOA', 'PAPUA NEW GUINEA', 'ANDAMAN / NICOBAR ISLANDAS', 'LIBERIA', 'SOUTH AFRICA', 'DJIBOUTI', 'BRAZIL', 'INDONESIA', 'RED SEA / INDIAN OCEAN', 'WESTERN SAMOA', 'SAUDI ARABIA', 'KIRIBATI', 'INDIA', 'HONDURAS', 'TASMAN SEA', 'NORWAY', 'RED SEA?', 'ANTIGUA', 'CUBA', 'BAHREIN', 'CROATIA', 'DIEGO GARCIA', 'HONG KONG', 'GUYANA', 'SPAIN', 'SINGAPORE', 'SUDAN?', 'IRAN / IRAQ', 'MONTENEGRO', 'MICRONESIA', 'EQUATORIAL GUINEA / CAMEROON', 'GREECE', 'MONACO', 'ALGERIA', 'INDIAN OCEAN?', 'EGYPT / ISRAEL', 'TUNISIA', 'BRITISH NEW GUINEA', 'COOK ISLANDS', 'ECUADOR', 'ST. MAARTIN', 'VANUATU', 'ANGOLA', 'BANGLADESH', 'NORTHERN ARABIAN SEA', 'MARTINIQUE', 'TONGA', 'JAMAICA', 'BAHAMAS', 'FRENCH POLYNESIA', 'IRAN', 'COLUMBIA', 'SLOVENIA', 'GRAND CAYMAN', 'SOLOMON ISLANDS / VANUATU', 'GULF OF ADEN', 'ARGENTINA', 'MALDIVE ISLANDS', 'ST. MARTIN', 'ICELAND', 'SOMALIA', 'SOUTH ATLANTIC OCEAN', 'TUVALU', 'NORTHERN MARIANA ISLANDS', 'CURACAO', 'SCOTLAND', 'FIJI', 'OCEAN', 'HAITI', 'LEBANON', 'NIGERIA', 'ST HELENA', 'DOMINICAN REPUBLIC', 'SOUTHWEST PACIFIC OCEAN', 'MEXICO', 'NORTH ATLANTIC OCEAN', 'NEW BRITAIN', 'FEDERATED STATES OF MICRONESIA', 'FALKLAND ISLANDS', 'UNITED ARAB EMIRATES (UAE)', 'KUWAIT', 'SYRIA', 'PALESTINIAN TERRITORIES', 'ITALY', 'MID ATLANTIC OCEAN', 'COAST OF AFRICA', 'BURMA', 'GUINEA', 'SRI LANKA', 'NORTH PACIFIC OCEAN', 'BERMUDA', 'GUATEMALA', 'GHANA', 'SOUTH KOREA', 'CEYLON (SRI LANKA)', 'JAVA', 'MEDITERRANEAN SEA'}

###### Converting DF to CSV (Exporting)

In [40]:
df.to_csv('GSAF5_cleaned.csv')