In [220]:
import pandas as pd
import re
import os
import sys
from datetime import datetime

In [23]:
sys.path.insert(0, os.path.abspath("/Users/eduardoheros/Git/project-pandas/"))

In [304]:
with open("attacks.csv","rb") as f:
    print(f)
    data=pd.read_csv(f,encoding="latin-1")

<_io.BufferedReader name='attacks.csv'>

In [160]:
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [305]:
col_null=data.isnull().sum()

In [306]:
col_null

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [307]:
data.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [308]:
data=data.drop(columns=["Case Number","Year","Case Number.1", "Case Number.2","original order","Unnamed: 22","Unnamed: 23"])

In [309]:
len(data.columns)

17

In [310]:
row_index=[]
for i in range(0,len(data)):
    if data.iloc[i].count()<3:
        row_index.append(i)

In [311]:
len(row_index)

19421

In [312]:
for i in row_index:
    data=data.drop(i)

In [313]:
for i in range(0,len(data)):
    try:
        data.iloc[i,0]=pd.to_datetime(data.iloc[i,0])
    except:
        pass

In [314]:
no_es_tiempo=[]
for i in range(0,len(data)):
    if not type(data.iloc[i,0]) == pd._libs.tslibs.timestamps.Timestamp:
        no_es_tiempo.append(i)

In [315]:
len(no_es_tiempo)

844

In [316]:
for i in no_es_tiempo:
    data.iloc[i,0]=re.sub("Reported(\s*)","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(S|s)ummer","06",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(F|f)all","09",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(W|w)inter","12",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(S|s)pring","03",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(E|e)arly","01",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(L|l)ate","25",data.iloc[i,0])
    data.iloc[i,0]=re.sub("\.a","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("\.b","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("\.R","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("(to have happened  \"on the weekend\")","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("No date,(\s*)","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("Before,(\s*)","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("Before(\s*)","",data.iloc[i,0])
    data.iloc[i,0]=re.sub("Circa(\s*)","",data.iloc[i,0]) 
    data.iloc[i,0]=re.sub("Ca.(\s*)","",data.iloc[i,0]) 
    data.iloc[i,0]=re.sub("Letter dated","",data.iloc[i,0])  
    data.iloc[i,0]=re.sub("--","-",data.iloc[i,0])

In [317]:
for i in range(0,len(data)):
    try:
        if not type(data.iloc[i,0]) == pd._libs.tslibs.timestamps.Timestamp:
            data.iloc[i,0]=pd.to_datetime(data.iloc[i,0])
    except:
        pass

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/dateutil/parser/_parser.py:1218: UnknownTimezoneWarning: tzname D identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [318]:
no_es_tiempo=[]
for i in range(0,len(data)):
    if not type(data.iloc[i,0]) == pd._libs.tslibs.timestamps.Timestamp:
        no_es_tiempo.append(i)

In [319]:
for i in no_es_tiempo:
    print(data.iloc[i,0])

190Feb-2010
02-Ap-2001
Last incident of 1994 in Hong Kong
Between May & Nov-1993
Mid Jul-1985 or mid Jul-1986
1980s
1980s
Apr-1978`
1970s
25 1970s
1970s
1970s
1970s
1970s
13 or 30-May-1967
Sep- 1966
Mid Aug-1966
May-Jun-1965
May-Jun-1965
May-Jun-1965
Jan-Jun-1962
25 1960s
1960s
1960-1961
Between 10 and 12-Sep-1959
21764
Jul- to Sep-1959
1958-1959
19955
1954 (same day as  1954.00.00.f)
1954 (same day as  1954.00.00.f)
1952-1954
Between 01-Aug-1951 & 08-Aug-1951
1950 - 1951
1950s
Mar-1949 or Apr-1949
1949-1950
13-Mar-1948 "Bitten last weekend
Between 18 & 22-Dec 1944
22-Jul-144
Some time between Apr & Nov-1944
02-Mar-1943 to 07-Mar-1943
11-Sep-1942 to 16-Sep-1942
Woirld War II
26-Sep-t937
08-Ap-1936
Some time between 08-Jan-1928 & 21-Jan-1928
07-Mar-1925 or 27-Mar-1925
1923-1924
1920s
to have taken place in 1919
14-Nov-1909 to 19-Nov-1909
Mid Oct-1901
01 1900s
1899 During the Seige of Ladysmith
1898 (soon after the close of the Spanish-American War)
1898-1899
23-Decp1896
Reportd 15-Jul-1894
Mid-Aug-1886
Mid-Aug-1886
14-Sep-1883 (probably happened 1843/1844)
Reprted 05-Jan-1882
1880?
mid-1870s
18-Jun- 1874
09-Jan- 1874
Nov- or Dec-1873
01 1870s
24-Oct-1888, but took place around 1868
1868 (?)
Sep or Oct-1853
1853 or 1854
"Anniversary Day" 22-Jan-1850 or 1852
in 1847
1839/1840
1836.00.
1820s
1700s
1700s
1700s
25 1600s 1728
1638
1637
1617
1642
1595
 10-Jan-1580
1555
1554
1543
500 A.D.
77  A.D.
5 A.D.
214 B.C.
336.B.C..
493 B.C.
725 B.C.
1990 or 1991
2009?
1880-1899
Between   1951-1963
r 1994
1896-1913
25 1960s
1950s
2003?
No date
No date
After August 1926 and before 1936
1960s
1960s
1960s
1941-1945
"During the war" 1943-1945
"the war"
Said to be 1941-1945, more likely 1945
1941-1945
1941-1945
1941-1942
1940 - 1950
1940 - 1950
1940 - 1950
1940-1946
World War II
World War II
A few years before 1938
No date
01 1930s
Between 1918 & 1939
No date
No date
No date
1920 -1923
No date (3 days after preceding incident) & prior to 19-Jul-1913
1900-1905
1883-1889
1845-1853

In [320]:
no_es_tiempo=[]
for i in range(0,len(data)):
    if data.iloc[i,0]=="No date":
        no_es_tiempo.append(i)

In [321]:
for i in no_es_tiempo:
    data=data.drop(i)

In [322]:
data

,Date,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href
0,2018-06-25 00:00:00,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018-06-18 00:00:00,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018-06-09 00:00:00,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018-06-08 00:00:00,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018-06-04 00:00:00,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,1903-01-01 00:00:00,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6298,1903-01-01 00:00:00,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6299,1900-1905,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6300,1883-1889,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6301,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [323]:
columnas_sin_espacios=list(data.columns)

In [324]:
columnas_sin_espacios=[i.strip() for i in columnas_sin_espacios]

In [325]:
data.columns=columnas_sin_espacios

In [326]:
set(data["Sex"])

{'.', 'F', 'M', 'M ', 'N', 'lli', nan}

In [332]:
def corrige_sexo(x):
    x=re.sub(".","",x)
    x=re.sub("nan","",x)
    x=re.sub("N","",x)
    x=re.sub("lli","F",x)
    x=re.sub("M ","M",x)
    return x

In [336]:
data["Sex"]=data["Sex"].astype("str")

In [342]:
type(data["Sex"][0])

str

In [346]:
data=data.drop(columns="Sex1")