In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('GSAF5.csv', encoding = 'ISO-8859-1')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5992 entries, 0 to 5991
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             5992 non-null   object
 1   Date                    5992 non-null   object
 2   Year                    5992 non-null   int64
 3   Type                    5992 non-null   object
 4   Country                 5949 non-null   object
 5   Area                    5590 non-null   object
 6   Location                5496 non-null   object
 7   Activity                5465 non-null   object
 8   Name                    5792 non-null   object
 9   Sex                     5425 non-null   object
 10  Age                     3311 non-null   object
 11  Injury                  5965 non-null   object
 12  Fatal (Y/N)             5973 non-null   object
 13  Time                    2779 non-null   object
 14  Species                 3058 non-null   object
 15  Investigator or Source  5977 non-null   object
 16  pdf                     5992 non-null   object
 17  href formula            5991 non-null   object
 18  href                    5989 non-null   object
 19  Case Number.1           5992 non-null   object
 20  Case Number.2           5992 non-null   object
 21  original order          5992 non-null   int64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: int64(2), object(22)
memory usage: 1.1+ MB

We can see that our DF has two null collumns  (Unnamed 22 and 23) we proceed to eliminate them

In [ ]:
#df.drop('Unnamed: 23', inplace=True, axis=1)
df.drop('Unnamed: 22', inplace=True, axis=1)

We can See that our Dataframe has values that aparently doesnt make sense in the column Sex, we proceed to eliminate these values

In [36]:
df.loc[df['Sex '] == '.']

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5201,1908.06.02.R,Reported 02-Jun-1908,1908,Sea Disaster,PAPUA NEW GUINEA,New Britain,Matupi,.,NaN,.,...,Y,NaN,Allegedly a 33-foot shark,"Taranaki Herald, 6/2/1908",1908.06.02.R-Matupi.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1908.06.02.R,1908.06.02.R,792

In [37]:
df.drop(df[(df['Sex '] == 'lli') ].index, inplace=True)

In [39]:
df.drop(df[(df['Sex '] == 'N') ].index, inplace=True)
df.drop(df[(df['Sex '] == '.') ].index, inplace=True)

We also saw a M value as 'M ', this typo categorizes the variable as a new type, but its cleat that 'M' is the same as 'M ', so we make them a single one. Also, we replace the nulls with the string 'No Info'

In [46]:
def cambiar_gen(gen):

    if gen == 'M ': 
        return 'M'
    if gen == 'M':
        return gen
    if gen == 'F':
        return gen

    return 
df['Sex '] = df['Sex '].apply(cambiar_gen)

In [51]:
df["Sex "].fillna("No info", inplace = True)

In [52]:
df['Sex '].value_counts()

M          4837
F           585
No info     567
Name: Sex , dtype: int64

Here we have a likely situation where we can eliminate and categorize diferent rows as its general Data category, for example, we can assume that the null values and Unknown are the same

In [60]:
df["Fatal (Y/N)"].fillna("UNKNOWN", inplace = True)

In [57]:
def fatal(gen):

    if gen == 'N ': 
        return 'N'
    if gen == ' N': 
        return 'N'
    if gen == 'n': 
        return 'N'
    if gen == '#VALUE!': 
        return 'UNKNOWN'
    if gen == 'N':
        return gen
    if gen == 'Y':
        return gen
    if gen == 'UNKNOWN':
        return gen

    return 
df['Fatal (Y/N)'] = df['Fatal (Y/N)'].apply(fatal)

In [58]:
df['Fatal (Y/N)'].value_counts()

N          4323
Y          1551
UNKNOWN     114
Name: Fatal (Y/N), dtype: int64

As we analyze our Dataframe, we can see that Species, Time and Age have more than

In [63]:
total_nulos = df.isnull().sum()

In [64]:
total_nulos[total_nulos > 0].sort_values()

href formula                 1
href                         3
Investigator or Source      15
Injury                      27
Country                     43
Name                       199
Area                       402
Location                   496
Activity                   527
Age                       2679
Species                   2934
Time                      3211
dtype: int64

In [65]:
porcentaje_nulos = total_nulos[total_nulos > 0].sort_values()/df.shape[0]
porcentaje_nulos

href formula              0.000167
href                      0.000501
Investigator or Source    0.002505
Injury                    0.004508
Country                   0.007180
Name                      0.033228
Area                      0.067123
Location                  0.082819
Activity                  0.087995
Age                       0.447320
Species                   0.489898
Time                      0.536150
dtype: float64

As we analyze our Dataframe, we can see that Species, Time and Age have more than 40% of its values as Nulls, and there is no evidence that this values can be replaced with an already existent variable (such as we did in the Fatal category) so we proceed to eliminate them

In [69]:
#df.drop('Time', inplace=True, axis=1)
#df.drop('Age', inplace=True, axis=1)
df.drop('Species ', inplace=True, axis=1)

We can also see that the columns 'href formula' and 'href' are duplicates, so we drop one of them, the Case number,Case number  1 and 2 ar also duplicates.

In [91]:
df.drop('Case Number.1', inplace=True, axis=1)

In [71]:
df.drop('href', inplace=True, axis=1)

In [77]:
df.drop('Case Number.2', inplace=True, axis=1)

We can also read that the name of the person who was attacked is mixed with its gender and ocupation, so we drop it

In [74]:
df.drop('Name', inplace=True, axis=1)

We can apreciate that our country info is full of special characters, so we made a general list of some of them and removed them. We also applied this to the Location and Area Column

In [84]:
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“"]
for char in spec_chars:
    df['Country'] = df['Country'].str.replace(char, ' ')

C:\Users\humbe\AppData\Local\Temp\ipykernel_47788\2234807686.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Country'] = df['Country'].str.replace(char, ' ')

In [85]:
for char in spec_chars:
    df['Location'] = df['Location'].str.replace(char, ' ')
for char in spec_chars:
    df['Area'] = df['Area'].str.replace(char, ' ')

C:\Users\humbe\AppData\Local\Temp\ipykernel_47788\1993035701.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Location'] = df['Location'].str.replace(char, ' ')
C:\Users\humbe\AppData\Local\Temp\ipykernel_47788\1993035701.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Area'] = df['Area'].str.replace(char, ' ')

In [88]:
df['Type'].value_counts()

Unprovoked      4385
Provoked         557
Invalid          519
Sea Disaster     219
Boat             200
Boating          109
Name: Type, dtype: int64

We can also substitute the values in the Type column with the already existing value of Invalid in our DF

In [89]:
df["Type"].fillna("Invalid", inplace = True)

In the column Activity we can also group individual elements by its value_counts, the ones that happen rarely can be grouped in the Other category, this arangment can be very general, as the major part of values get grouped in the Other category, a CSV can be seen of the original Value_count

In [97]:
df['Activity'].value_counts()
counts = df['Activity'].value_counts()
counts.to_csv('Activity.csv')

In [101]:
df["Activity"].fillna("No Info", inplace = True)

In [99]:
def act(gen):

    if gen == 'Surfing': 
        return gen
    if gen == 'Swimming': 
        return gen
    if gen == 'Fishing': 
        return gen
    if gen == 'Spearfishing': 
        return gen
    if gen == 'Bathing': 
        return gen
    if gen == 'Wading': 
        return 'Bathing'
    if gen == 'Standing': 
        return 'Bathing'
    if gen == 'Diving': 
        return gen
    if gen == 'Snorkeling' or gen == 'Scuba diving' : 
        return 'Snorkeling'
    if gen == 'Body boarding' or gen == 'Body surfing' : 
        return 'Body surfing'
    else : 
        return 'Other'
    return

df['Activity'] = df['Activity'].apply(act)

In [102]:
df['Activity'].value_counts()

Other           2763
Surfing          903
Swimming         819
Fishing          413
Bathing          394
Spearfishing     321
Snorkeling       151
Diving           123
Body surfing     102
Name: Activity, dtype: int64

Finally, we drop the 'original order' column, as it only provide us a countdown of our Values

In [104]:
df["Country"].fillna("No Info", inplace = True)
df["Date"].fillna("No Info", inplace = True)
df["Year"].fillna("0", inplace = True)
df["Area"].fillna("No Info", inplace = True)
df["Location"].fillna("No Info", inplace = True)
df["Injury"].fillna("No Info", inplace = True)

In [106]:
df.to_csv('Sharks_clean')