In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
sharks = pd.read_csv('attacks.csv', encoding = "ISO-8859-1")

In [3]:
sharks.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [5]:
sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [6]:
nulos_columnas = sharks.isnull().sum()
porcentaje_nulos = nulos_columnas[nulos_columnas > 0]/sharks.shape[0]
porcentaje_nulos

Case Number               0.661704
Date                      0.755005
Year                      0.755083
Type                      0.755161
Country                   0.756949
Area                      0.772694
Location                  0.775998
Activity                  0.776154
Name                      0.763169
Sex                       0.776970
Age                       0.865062
Injury                    0.756094
Fatal (Y/N)               0.775959
Time                      0.885394
Species                   0.865335
Investigator or Source    0.755666
pdf                       0.755005
href formula              0.755044
href                      0.755005
Case Number.1             0.755005
Case Number.2             0.755005
original order            0.754733
Unnamed: 22               0.999961
Unnamed: 23               0.999922
dtype: float64

In [7]:
nulos_filas=sharks.isnull().sum(axis = 1)
porcentaje_nulos_filas = nulos_filas[nulos_filas > 0]/sharks.shape[1]
porcentaje_nulos_filas

0        0.083333
1        0.125000
2        0.125000
3        0.166667
4        0.166667
           ...
25718    1.000000
25719    1.000000
25720    1.000000
25721    1.000000
25722    0.958333
Length: 25723, dtype: float64

In [8]:
columnas_eliminar = porcentaje_nulos[porcentaje_nulos>0.90].index
columnas_eliminar

Index(['Unnamed: 22', 'Unnamed: 23'], dtype='object')

In [9]:
sharks.drop(columns = columnas_eliminar, inplace = True)

In [10]:
sharks.shape

(25723, 22)

In [11]:
sharks.isnull().sum().sort_values()

Case Number               17021
original order            19414
Case Number.1             19421
href                      19421
pdf                       19421
Date                      19421
Case Number.2             19421
href formula              19422
Year                      19423
Type                      19425
Investigator or Source    19438
Injury                    19449
Country                   19471
Name                      19631
Area                      19876
Fatal (Y/N)               19960
Location                  19961
Activity                  19965
Sex                       19986
Age                       22252
Species                   22259
Time                      22775
dtype: int64

In [12]:
sharks = sharks.dropna(how='all',axis=0)

In [13]:
sharks.shape

(8703, 22)

In [14]:
sharks.reset_index(drop=True, inplace=True)

In [15]:
nulos_filas=sharks.isnull().sum(axis = 1)
porcentaje_nulos_filas = nulos_filas[nulos_filas > 0]/sharks.shape[1]
porcentaje_nulos_filas

1       0.045455
2       0.045455
3       0.090909
4       0.090909
5       0.136364
          ...
8698    0.954545
8699    0.954545
8700    0.954545
8701    0.954545
8702    0.954545
Length: 7281, dtype: float64

In [16]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [17]:
sharks.shape

(8703, 22)

In [18]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
sharks.drop(sharks[sharks['Case Number'] == '0'].index, inplace = True)

In [20]:
sharks.shape

(6303, 22)

In [21]:
sharks.drop(sharks[sharks['Case Number'] == 'xx'].index, inplace = True)

In [22]:
sharks.shape

(6302, 22)

In [23]:
sharks.drop(columns=['href'], inplace = True)

In [24]:
sharks.shape

(6302, 21)

In [25]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,FATAL,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,FATAL,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,FATAL,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,"FATAL. ""Shark bit him in half, carrying away t...",Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [26]:
sharks['Type'].value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [27]:
sharks['Time'].isnull().sum()

3354

In [28]:
sharks['Type'] = sharks['Type'].fillna('Unprovoked')

In [29]:
salidas = {'Unprovoked':['Unprovoked','Questionable', 'Boatomg', 'Sea Disaster'],
          'Provoked':['Provoked', 'Invalid', 'Boating', 'Boat']}

In [30]:
def simplify_drive(actual):
    try:
        llaves = [key for key, val in salidas.items() if actual in val]

        return llaves[0]
    except:
        print(actual)

In [31]:
sharks['Type'] = sharks['Type'].apply(simplify_drive)

In [32]:
sharks['Type'].value_counts()

Unprovoked    4841
Provoked      1461
Name: Type, dtype: int64

In [33]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [34]:
sharks['Fatal (Y/N)'].isnull().sum()

539

In [57]:
sharks['Fatal (Y/N)'] = sharks['Fatal (Y/N)'].fillna('N')

In [58]:
salidas = {'N':['N',' N', 'M', '2017', 'No', 'UNKNOW'],
          'Y':['Y', 'y']}

In [59]:
sharks['Fatal (Y/N)'].isnull().sum()

0

In [60]:
def simplify_drive(actual):
    try:
        llaves = [key for key, val in salidas.items() if actual in val]

        return llaves[0]
    except:
        print(actual)

In [61]:
sharks['Fatal (Y/N)'] = sharks['Fatal (Y/N)'].apply(simplify_drive)

In [40]:
sharks.to_csv('pruba.csv')

In [41]:
sharks['Name'].value_counts()

male                               550
female                              97
boy                                 23
2 males                             16
boat                                14
                                  ...
Jeremiah Wyche                       1
Frederico Nóbrega (aka Derico)       1
Joo Whan Hong                        1
Alton Cicero da Silva                1
Jules Patterson                      1
Name: Name, Length: 5230, dtype: int64

In [42]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula',
       'Case Number.1', 'Case Number.2', 'original order'],
      dtype='object')

In [43]:
columnas_borrar=['Name', 'Age', 'Time', 'Species ', 'pdf', 'Case Number.2']

In [44]:
sharks.drop(columns = columnas_borrar, inplace = True)

In [45]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Injury', 'Fatal (Y/N)', 'Investigator or Source',
       'href formula', 'Case Number.1', 'original order'],
      dtype='object')

In [46]:
sharks[sharks['Case Number'].isnull()==True]

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,href formula,Case Number.1,original order
5488,NaN,Reported 06-Sep-1905,1905.0,Provoked,USA,Florida,"Fort Pierce, St Lucie County",Fishing,M,Lacerations to leg from hooked shark PROVOKED ...,N,"Muncie Evening Press, 8/6/1913",http://sharkattackfile.net/spreadsheets/pdf_di...,1905.09.06.R,815.0

In [47]:
sharks.iloc[5488, sharks.columns.get_loc('Case Number')] = '1905.09.06'

In [48]:
sharks.drop(columns = ['Case Number.1'], inplace = True)

In [49]:
sharks.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Sex ', 'Injury', 'Fatal (Y/N)', 'Investigator or Source',
       'href formula', 'original order'],
      dtype='object')

In [50]:
sharks

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,href formula,original order
0,2018.06.25,25-Jun-2018,2018.0,Provoked,USA,California,"Oceanside, San Diego County",Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Provoked,USA,Hawaii,"Habush, Oahu",Surfing,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,Minor injury to lower leg,N,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,M,FATAL,Y,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,M,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,M,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,FATAL,Y,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [51]:
def date(actual):
    actual=actual.replace('Reported','')
    actual=actual.replace('Between','')
    actual=actual.replace(')','')
    actual=actual.replace('(same day as','-')
    actual=actual.replace('"Bitten last weekend','')
    actual=actual.replace('Some time between','')
    actual=actual.replace('Before','')
    
    try:
        actual2=pd.to_datetime(actual)
        return actual2
    except:
        return actual

In [52]:
sharks.Date=sharks.Date.apply(date)

In [53]:
sharks.drop(columns = ['Year'], inplace = True)

In [54]:
sharks.Country=sharks.Country.str.lower().str.capitalize()

In [55]:
sharks

,Case Number,Date,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,href formula,original order
0,2018.06.25,2018-06-25 00:00:00,Provoked,Usa,California,"Oceanside, San Diego County",Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,2018-06-18 00:00:00,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Standing,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,2018-06-09 00:00:00,Provoked,Usa,Hawaii,"Habush, Oahu",Surfing,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,2018-06-08 00:00:00,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,M,Minor injury to lower leg,N,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,2018-06-04 00:00:00,Provoked,Mexico,Colima,La Ticla,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,1903-01-01 00:00:00,Unprovoked,Australia,Western Australia,Roebuck Bay,Diving,M,FATAL,Y,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,1903-01-01 00:00:00,Unprovoked,Australia,Western Australia,NaN,Pearl diving,M,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,Unprovoked,Usa,North Carolina,Ocracoke Inlet,Swimming,M,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,Unprovoked,Panama,NaN,"Panama Bay 8ºN, 79ºW",NaN,M,FATAL,Y,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,Unprovoked,Ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [56]:
sharks['Country'].isnull().sum()

50

In [66]:
col=list(sharks.columns)

In [67]:
for colu in col:
    sharks[f'{colu}']=sharks[f'{colu}'].fillna('No Data')

In [68]:
sharks

,Case Number,Date,Type,Country,Area,Location,Activity,Sex,Injury,Fatal (Y/N),Investigator or Source,href formula,original order
0,2018.06.25,2018-06-25 00:00:00,Provoked,Usa,California,"Oceanside, San Diego County",Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,"R. Collier, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6303.0
1,2018.06.18,2018-06-18 00:00:00,Unprovoked,Usa,Georgia,"St. Simon Island, Glynn County",Standing,F,Minor injury to left thigh,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6302.0
2,2018.06.09,2018-06-09 00:00:00,Provoked,Usa,Hawaii,"Habush, Oahu",Surfing,M,Injury to left lower leg from surfboard skeg,N,"K.McMurray, TrackingSharks.com",http://sharkattackfile.net/spreadsheets/pdf_di...,6301.0
3,2018.06.08,2018-06-08 00:00:00,Unprovoked,Australia,New South Wales,Arrawarra Headland,Surfing,M,Minor injury to lower leg,N,"B. Myatt, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,6300.0
4,2018.06.04,2018-06-04 00:00:00,Provoked,Mexico,Colima,La Ticla,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,A .Kipper,http://sharkattackfile.net/spreadsheets/pdf_di...,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,1903-01-01 00:00:00,Unprovoked,Australia,Western Australia,Roebuck Bay,Diving,M,FATAL,Y,"H. Taunton; N. Bartlett, p. 234",http://sharkattackfile.net/spreadsheets/pdf_di...,6.0
6298,ND.0004,1903-01-01 00:00:00,Unprovoked,Australia,Western Australia,No Data,Pearl diving,M,FATAL,Y,"H. Taunton; N. Bartlett, pp. 233-234",http://sharkattackfile.net/spreadsheets/pdf_di...,5.0
6299,ND.0003,1900-1905,Unprovoked,Usa,North Carolina,Ocracoke Inlet,Swimming,M,FATAL,Y,"F. Schwartz, p.23; C. Creswell, GSAF",http://sharkattackfile.net/spreadsheets/pdf_di...,4.0
6300,ND.0002,1883-1889,Unprovoked,Panama,No Data,"Panama Bay 8ºN, 79ºW",No Data,M,FATAL,Y,"The Sun, 10/20/1938",http://sharkattackfile.net/spreadsheets/pdf_di...,3.0
6301,ND.0001,1845-1853,Unprovoked,Ceylon (sri lanka),Eastern Province,"Below the English fort, Trincomalee",Swimming,M,"FATAL. ""Shark bit him in half, carrying away t...",Y,S.W. Baker,http://sharkattackfile.net/spreadsheets/pdf_di...,2.0

In [71]:
sharks.to_csv('sharks_clean.csv', index=False)